{{#each this.foNoticeList}}
<tr>
	<td class="num">{{ this.foNoticeSn }}</td>
	<td class="cate">{{ this.noticeTypeName }}</td>
	<td class="subj align_left"><a href="/display/eventWinner_detail?foNoticeSn={{ this.foNoticeSn }}">{{ this.foNoticeTitle }}</a></td>
	<td class="date">{{ dateFormat this.noticeStartDt }}</td>
</tr>
{{/each}}