{{#each this}}
<dl class="order_cont selectbox_area" data-promoSn="{{this.promoSn}}">
	<dt><em>[이벤트{{calc @index '+' 1}}]</em> {{promoName}} <span class="benefit notApply">혜택 미적용</span> <span class="benefit apply" style="display: none;"><em>혜택 적용</em></span></dt>
	<dd>
		<div class="product_option_select">
			<ul class="plus_one">
				{{#each this.promoGrpList}}
					{{#for this.ordQty}}
						<li class="empty" data-promo-grop-sn="{{../sameTimePurProdGrpSn}}"> 
							<span>{{../grpTitle}}</span>
							<div class="option_info">
								<div class="option_name">{{../grpTitle}}에서 상품 1개를 선택해주세요.</div>
							</div>
						</li>
					{{/for}}
				{{/each}}
			</ul>
		</div>
		<!--/*
		<div class="total">
			<p class="text_center">상품을 선택해주세요</p>
		</div>
		*/-->
	</dd>
	<!--/*
	<dd>
		 선택후 합계 
		<dl class="total">
			<dt>합계</dt>
			<dd>
				<div class="price"><b class="num">0</b>원</div>
			</dd>
		</dl>
	</dd>
	*/-->
</dl>
{{/each}}