{{#if this.totalCount}}
	{{#each this.list}}
		<li>
			<a href="#none">
				<div class="lazy_load_wrap">
					<img alt="{{ this.planDisplayLineDesc }}" src="{{this.bannerImgM}}" class="lazy_load" data-src="/mo/ko/images/dummy/img_dummy_event.jpg"/>
				</div>
				<p class="text">	
					<b class="font_md">{{this.planDisplayTitle}}</b><small>{{ dateFormat this.event.startDt }}-{{ dateFormat this.event.EndDt }}</small>
				</p>
			</a>
		</li>
	{{/each}}
{{else}}
{{/if}}