<!--
<div class="ui_accordion">
-->
	<dl>
		<dt class="on"><b class="title">결제 상세 내역</b> <button type="button"><i class="ico_navi"></i><span class="sr_only">더보기</span></button></dt>
		<dd aria-hidden="false" style="display: block;">

			<div class="product_price">
				<dl>
					<dt>주문금액</dt>
					<dd class="price"><b>{{getAmtMapPrice ordAmtMap 'Prod' '원'}}</b></dd>
					<dd class="details">
						<!-- 주문금액 입점몰별로 구분 (180823) -->
						{{#each this.ordOtfExList}}
							<dl>
								<dt>{{this.coName}} {{this.ordHistProdExList.length}}개</dt>
								<dd>{{getOtfAmtMapPrice ../this.otfTotalAmtMap 'otfTotalProdAmt' this.ordOtfSn  '원'}}</dd>
							</dl>
						{{/each}}
						<!--// 주문금액 입점몰별로 구분 (180823) -->
					</dd>
				</dl>
				<dl>
					<dt>뷰티포인트 상품</dt>
					<dd class="price"><b>{{getAmtMapPrice ordAmtMap 'MembershipExch' 'P'}}</b></dd>
				</dl>
				<dl>
					<dt>배송비</dt>
					<dd class="price"><b>{{getAmtMapPrice otfTotalAmtMap 'allOtfTotalShipAmt' '원'}}</b></dd>
					<dd class="details">
						<!-- 배송비 입점몰별로 구분 (180823) -->
						{{#each this.ordOtfExList}}
							<dl>
								<dt>{{this.coName}} 배송비</dt>
								<dd>{{getOtfAmtMapPrice ../this.otfTotalAmtMap 'otfTotalShipAmt' this.ordOtfSn  '원'}}</dd>
							</dl>
						{{/each}}
						<!--// 배송비 입점몰별로 구분 (180823) -->
					</dd>
				</dl>

				<!-- 할인 Start -->
				{{#if (checkAmtMapPrice ordAmtMap 'totalOrdDcPriceSum')}}
					<dl>
						<dt>총 할인</dt>
						<dd class="price"><b>{{#if (checkAmtMapPrice ordAmtMap 'totalOrdDcPriceSum')}}-{{/if}}{{getAmtMapPrice ordAmtMap 'totalOrdDcPriceSum' '원'}}</b></dd>
						<dd class="details">
							{{#if (checkAmtMapPrice ordAmtMap 'OnlineProdPromoDc')}}
								<dl>
									<dt>상품프로모션할인</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'OnlineProdPromoDc' '원'}}</span></dd>
								</dl>
							{{/if}}
							<!--
							<dl>
								<dt>쿠폰할인</dt>
								<dd><span>-12,000</span>원</dd>
							</dl>
							-->
							{{#if isApMember}}
								{{#if (checkAmtMapPrice ordAmtMap 'OnlineMemberPromoDc')}}
									<dl>
										<dt>온라인회원프로모션할인</dt>
										<dd><span>{{getAmtMapPrice ordAmtMap 'OnlineMemberPromoDc' '원'}}</span></dd>
									</dl>
								{{/if}}
								{{#if (checkAmtMapPrice ordAmtMap 'MemberDcBenefit')}}
									<dl>
										<dt>회원혜택할인</dt>
										<dd><span>{{getAmtMapPrice ordAmtMap 'MemberDcBenefit' '원'}}</span></dd>
									</dl>
								{{/if}}
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'ImmedDcCouponPromo')}}
								<dl>
									<dt>즉시할인쿠폰프로모션</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'ImmedDcCouponPromo' '원'}}</span></dd>
								</dl>
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'MPlusNPromoDc')}}
								<dl>
									<dt>M+N할인프로모션</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'MPlusNPromoDc' '원'}}</span></dd>
								</dl>
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'SameTimePurPromoDc')}}
								<dl>
									<dt>동시구매프로모션</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'SameTimePurPromoDc' '원'}}</span></dd>
								</dl>
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'OrdUnitPromoDc')}}
								<dl>
									<dt>주문프로모션할인</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'OrdUnitPromoDc' '원'}}</span></dd>
								</dl>
							{{/if}}
							{{#if isApMember}}
								{{#if (checkAmtMapPrice ordAmtMap 'BeautyPointExchUse')}}
									<dl>
										<dt>뷰티포인트 교환사용</dt>
										<dd><span>{{getAmtMapPrice ordAmtMap 'BeautyPointExchUse' 'P'}}</span></dd>
									</dl>
								{{/if}}
								{{#if (checkAmtMapPrice ordAmtMap 'CushionPointUse')}}
									<dl>
										<dt>쿠션포인트 사용</dt>
										<dd><span>{{getAmtMapPrice ordAmtMap 'CushionPointUse' 'P'}}</span></dd>
									</dl>
								{{/if}}
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'ProdUnitCouponDc')}}
								<dl>
									<dt>상품쿠폰할인</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'ProdUnitCouponDc' '원'}}</span></dd>
								</dl>
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'MPlusNCouponDc')}}
								<dl>
									<dt>M+N쿠폰할인</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'MPlusNCouponDc' '원'}}</span></dd>
								</dl>
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'Buy1GetCouponDc')}}
								<dl>
									<dt>Buy1Get쿠폰할인</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'Buy1GetCouponDc' '원'}}</span></dd>
								</dl>
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'OrdUnitCouponDc')}}
								<dl>
									<dt>주문쿠폰할인</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'OrdUnitCouponDc' '원'}}</span></dd>
								</dl>
							{{/if}}
							{{#if (checkAmtMapPrice ordAmtMap 'ShipFeePromoDc')}}
								<dl>
									<dt>배송비할인</dt>
									<dd><span>{{getAmtMapPrice ordAmtMap 'ShipFeePromoDc' '원'}}</span></dd>
								</dl>
							{{/if}}
						</dd>
					</dl>
				{{/if}}
				<!-- 할인 End -->


				{{#if isApMember}}
					{{#if isComplete }}

						<!--/* 회원일 경우, <주문완료> 화면일 경우 */-->
						{{#if (getAmtMapPrice ordAmtMap 'totalBeautyPointSaveSum')}}
							<dl class="add_point">
								<dt>적립예정 뷰티포인트</dt>
								<dd class="price"><b>{{getAmtMapPrice ordAmtMap 'totalBeautyPointSaveSum' 'P'}}</b></dd>
								<!-- (180906) 뷰티포인트 상세 추가 -->
								<dd class="details">
									{{#each ordHistEx.ordSavingPointList}}
										<dl>
											<dt>{{this.pointName}}</dt>
											<dd><span>{{numberFormat this.totalOnlineShipSavingPoint}}</span> P </dd>
										</dl>
									{{/each}}
								</dd>
								<!--// (180906) 뷰티포인트 상세 추가 -->
							</dl>
						{{/if}}

					{{else}}

						<!--/* 회원일 경우, <주문서 작성> 화면일 경우 */-->
						{{#if (getAmtMapPrice ordAmtMap 'totalBeautyPointSaveSum')}}
							<div class="ui_tooltip">
								<dl class="add_point">
									<dt>적립예정 뷰티포인트<button type="button" class="btn_tooltip"><span>자세히</span></button> </dt>
									<dd class="price"><b>{{getAmtMapPrice ordAmtMap 'totalBeautyPointSaveSum' 'P'}}</b></dd>
									<!-- (180906) 뷰티포인트 상세 추가 -->
									<dd class="details">
										{{#each ordHistEx.ordSavingPointList}}
											<dl>
												<dt>{{this.pointName}}</dt>
												<dd><span>{{numberFormat this.totalOnlineShipSavingPoint}}</span> P </dd>
											</dl>
										{{/each}}
									</dd>
									<!--// (180906) 뷰티포인트 상세 추가 -->
								</dl>
								<div class="layer_tooltip">
									<dl>
										<dt>뷰티포인트 적립안내</dt>
										<!-- 레이아웃 변경 (180824) -->
										<dd>
											<p class="text"></p><p class="text">고객님의 아모레퍼시픽 뷰티포인트 통합회원 등급에 따라 결제금액의 기본 1%+우대 최대 4%가 적립됩니다. (고객별 상이)</p>
											<p class="text">뷰티포인트 적립 기준금액은 [최종결제금액-뷰티포인트 적립 제외상품 금액-배송비]로 계산된 금액입니다.</p>
											<p class="text">특가상품(투데이핫딜), 프로모션 상품(상품할인, M+N, 즉시할인, 동시구매 등)은 뷰티포인트 적립대상에서 제외됩니다.</p>
											<p class="text">플러스멤버십 할인(10%)이 적용된 상품은 뷰티포인트 적립대상에 포함됩니다.</p>
											<p class="text">적립 예정 뷰티포인트는 주문상품의 구매확정 시점에 자동으로 적립되며, 사용기한은 적립일로부터 1년입니다.</p>
											<p class="text">주문 제품의 취소/환불/반품시 적립된 뷰티포인트도 자동 회수 처리됩니다.</p>
											<p class="text">보다 자세한 뷰티포인트 이용 안내는 뷰티포인트 웹사이트(www.beautypoint.co.kr)에서 확인하실 수 있습니다.</p>
											<button type="button" class="ui_close sm"><span class="sr_only">툴팁 닫기</span></button>
										</dd>
										<!--// 레이아웃 변경 (180824) -->
									</dl>
								</div>
							</div>
						{{/if}}

					{{/if}}
				{{/if}}

				<dl class="total">
					<dt><em><b>최종 결제 금액</b></em></dt>
					<input type="hidden" name="finalPamtPcurPrice" value="{{ordHistEx.finalPamtPcur}}"/>
					<dd class="price"><em><b>{{numberFormat ordHistEx.finalPamtPcur}}</b>원</em></dd>
				</dl>
			</div>
		</dd>
	</dl>
<!--
</div>
-->