<dl class="layer">
	<dt class="layer_title">옵션변경</dt>
	<dd class="layer_cont">
		<div class="cart">
			<fieldset class="form">
				<legend class="sr_only">옵션변경</legend>
				<div class="input_group cart_ui_select">
					<div class="ui_select static" data-not-label-change="false">
						<input type="hidden" name="prodSn">
						<button type="button">옵션을 선택하세요.</button>
						<ul class="select_options">
							{{#each list}}
							<li class="select_option">
								<code class="label_markup" style="display:none">{{ prodName }}</code>
								{{#switch saleDisplayStatus}}
								{{#case "OnSale"	 break=true}}
									<a data-value="{{ prodSn }}">
										<img alt="{{ prodName }}" src="{{ repProdImgEx.imgUrl }}"></span>
										<span class="option_title">{{ prodName }}</span>
										<strong class="num">{{numberFormat salePrice }}<span>원</span></strong>
									</a>
								{{/case}}
								{{#case "Exhaustion" break=true}}
									<a data-value="{{ prodSn }}" data-disabled="true">
										<img alt="{{ prodName }}" src="{{ repProdImgEx.imgUrl }}"></span>
										<span class="option_title">{{ prodName }}</span>
										<span class="sold_out">[조기소진]</span>
									</a>
								{{/case}}
								{{#case "OutOfStock" break=true}}
									<a data-value="{{ prodSn }}" data-disabled="true">
										<img alt="{{ prodName }}" src="{{ repProdImgEx.imgUrl }}"></span>
										<span class="option_title">{{ prodName }}</span>
										<span class="sold_out">[일시품절]</span>
									</a>
								{{/case}}
								{{/switch}}
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="form_btns">
					<button class="btn_md_secondary" type="button" id="b_close">취소</button>
					<button class="btn_md_neutral" type="button" id="b_save">확인</button>
				</div>
			</fieldset>
		</div>
	</dd>
</dl>
<button class="layer_close" type="button">레이어 닫기</button>