{{#each pgList}}
	{{#xif payMethodTypeCode '===' 'Deposit'}}
		<!-- 예치금 -->
		<dd aria-hidden="false" style="display: block;">
			<dl>
				<dt>예치금 {{currencyFormat payAmt '원'}}</dt>
			</dl>
		</dd>
	{{/xif}}
	{{#if (and (eq pointTypeCode 'MembershipPoint')(eq membershipServiceCode 'BP'))}}
		<!-- 뷰티 포인트 -->
		<dd aria-hidden="false" style="display: block;">
			<dl>
				<dt>뷰티 포인트 {{currencyFormat usePoint 'P'}}</dt>
			</dl>
		</dd>
	{{/if}}
	{{#if (and (eq pointTypeCode 'MembershipPoint')(eq membershipServiceCode 'PP'))}}
		<!-- 임직원 포인트 -->
		<dd aria-hidden="false" style="display: block;">
			<dl>
				<dt>P 포인트 {{currencyFormat usePoint 'P'}}</dt>
			</dl>
		</dd>
	{{/if}}
	{{#xif payMethodCode '===' 'wpay'}}
		<!-- ONE pay -->
		<dd class="fin" aria-hidden="false" style="display: block;">
			ONE pay 간편결제 : {{currencyFormat payAmt '원'}}<br />
			{{#if pgPayEx.cardCoCode}}
				{{pgPayEx.cardCoName}}({{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}) / {{pgPayEx.instPeriod}}개월
			{{/if}}
		</dd>
		<!-- //ONE pay -->
	{{/xif}}
	{{#xif payMethodTypeCode '===' 'naverpay'}}
		<!-- 네이버 페이 -->
		<dd class="fin" aria-hidden="false" style="display: block;">
			네이버 페이 : {{currencyFormat payAmt '원'}}<br />
			{{#if pgPayEx.cardCoCode}}
				{{pgPayEx.cardCoName}}({{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}) / {{pgPayEx.instPeriod}}개월
			{{/if}}
		</dd>
		<!-- //네이버 페이 -->
	{{/xif}}
	{{#xif payMethodCode '===' 'payco'}}
		<!-- 페이코 -->
		<dd class="fin" aria-hidden="false" style="display: block;">
			페이코 :  {{currencyFormat payAmt '원'}}<br />
			{{#if pgPayEx.cardCoCode}}
				{{pgPayEx.cardCoName}}({{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}) / {{pgPayEx.instPeriod}}개월
			{{/if}}
		</dd>
		<!-- //페이코 -->
	{{/xif}}
	{{#xif payMethodCode '===' 'kakaopay'}}
		<!-- 카카오 페이 -->
		<dd class="fin" aria-hidden="false" style="display: block;">
			카카오 페이 :  {{currencyFormat payAmt '원'}}<br />
			{{#if pgPayEx.cardCoCode}}
				{{pgPayEx.cardCoName}}({{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}) / {{pgPayEx.instPeriod}}개월
			{{/if}}
		</dd>
		<!-- //카카오 페이 -->
	{{/xif}}
	{{#xif payMethodCode '===' 'credit-card'}}
		<!-- 신용카드 -->
		<dd class="fin" aria-hidden="false" style="display: block;">
			신용카드 결제<br>{{pgPayEx.cardCoName}}
			{{#if pgPayEx.cardCoCode}}
				{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}} / {{pgPayEx.instPeriod}}개월
			{{/if}}
		</dd>
	{{/xif}}
	{{#xif payMethodCode '===' 'bank-ac-transfer'}}
		<!-- 실시간 계좌이체 -->
		<dd class="fin" aria-hidden="false" style="display: block;">
			실시간 계좌이체 : {{currencyFormat payAmt '원'}}<br />
			{{#if pgPayEx.virtualBankAcBankCode}}
				입금은행 : {{pgPayEx.virtualBankAcBankName}}<br />
				입금계좌 : {{#if pgPayEx.virtualDepositBankAcNo}}<span>({{pgPayEx.virtualDepositBankAcNo}})</span>{{/if}} (예금주 : {{pgPayEx.virtualBankAcAcHolder}})<br />
				결제처리일시 : {{pgPayEx.payApprovalDt}}
			{{/if}}
		</dd>
		<!-- //실시간 계좌이체 -->
	{{/xif}}
	{{#xif payMethodCode '===' 'virtual-account'}}
		<!-- 무통장 입금 -->
		<dd class="fin" aria-hidden="false" style="display: block;">
			무통장 입금 : {{currencyFormat payAmt '원'}}<br />
			{{#if pgPayEx.virtualBankAcBankCode}}
				입금은행 : {{pgPayEx.virtualBankAcBankName}}<br />
				입금계좌 : {{#if pgPayEx.virtualDepositBankAcNo}}({{pgPayEx.virtualDepositBankAcNo}}){{/if}} (예금주 : {{pgPayEx.virtualBankAcAcHolder}})<br />
				입금기한 : {{dateFormat pgPayEx.virtualBankAcDeadlineDt "YYYY-MM-DD"}} 까지
			{{/if}}
		</dd>
		<!-- //무통장 입금 -->
	{{/xif}}
	{{#xif payMethodCode '===' 'mobile-phone-pay'}}
		<!-- 휴대폰결제 -->
		<dd class="fin" aria-hidden="false" style="display: block;">
			휴대폰결제 : {{currencyFormat payAmt '원'}}<br />
			SKT ({{pgPayEx.mobilePhoneNo}})
		</dd>
		<!-- //휴대폰결제 -->
	{{/xif}}
	{{#xif payMethodCode '===' 'eximpay'}}
		<!-- EximbayPay -->
		<dd>
			<dl>
				<dt>Global Credit Card 결제 {{currencyFormat payAmt '원'}}</dt>
				<dd class="divide">{{pgPayEx.cardNo}}</dd>
			</dl>
		</dd>
	{{/xif}}
	{{#xif payMethodCode '===' 'paypal'}}
		<!-- PayPal -->
		<dd>
			<dl>
				<dt>PayPal 결제 {{currencyFormat payAmt '원'}}</dt>
				<dd class="divide">{{pgPayEx.cardNo}}</dd>
			</dl>
		</dd>
	{{/xif}}
{{/each}}
