<!-- AP.modal.info() 의 contents 영역 -->
<div class="ly_content">

	<div class="search_wrap">
		<div class="input_wrap">
			<input type="text" name="couponIdentifier" placeholder="쿠폰번호 입력" class="input_coupon">
		</div>
		<a href="#none" class="btn_fix_neutral" id="registerBtn">확인</a>
	</div>		<!-- // search_wrap -->

	<div class="con_wrap"> 
		<div class="con_top_box">
			<span class="title">쿠폰사용 합계</span><span class="total_num_purple"></span>
		</div>		<!-- // con_top_box -->
		<div class="con_bottom_box">
			<div class="coupon_ck_list_line">
				<div class="scroll">
					<ul class="coupon_ck_list">
						<!-- 쿠폰 리스트 -->
						{{#each coupon.list}}
							<li>
								<span class="check_wrap">
									<input type="checkbox" id="{{ this.memberKeepingCouponSn }}" name="couponSn" data-code="{{ this.duplicationUseConditionCode }}">
									<label for="{{ this.memberKeepingCouponSn }}">
										<span class="ellipsis">[{{this.couponName}}] {{ this.foGuide }}</span>
										<span class="txt_small_gray">{{ dateFormat this.expExpectedDt }} 까지</span>
									</label>
								</span>
								<p class="txt_price">{{{ couponTypeBenefitSwitch this }}}</p>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<ul class="sub_txt txt_small_gray">
				<li>쿠폰 사용시 포인트를 적립 받을  수 없습니다.</li>
				<li>상품쿠폰/증정 쿠폰/플러스멤버십쿠폰 등이 해당합니다.</li>
				<li>인증번호 쿠폰은 상단에 입력 후 결제 시 사용 가능합니다.</li>
			</ul>
			<div class="mg_side">
				<a href="#1" class="btn_full disabled" id="b_save">확인</a>
			</div>
		</div>		<!-- con_bottom_box -->
	</div>		<!-- // con_wrap -->
</div>
