
	<form class="validate {{#if this.data}}modify{{/if}}" action="">

			<div class="repl_wrap01">
				<div class="repl_only_txt">
					<div class="repl_text_area01">
						<div class="textarea">
							<textarea name="participantComment" id="" cols="30" rows="3" maxlength="200" placeholder="200자 이내로 입력해주세요." required data-msg="내용을 입력해 주세요.">{{#if this.data.participantComment}}{{ this.data.participantComment }}{{/if}}</textarea>
						</div>
						<p class="text_right byte"><small><em class="current">0</em>/<span class="limits">200</span></small></p>
					</div>
					
					<div class="txt_upload01 {{#if this.data.participantComment}}on{{/if}}"><a href="javascript:;" class="submit">올리기</a>
				</div>
			</div>
			<div class="pic_area01">
				<div class="ui_input_images">
					<input type="file" id="i_picture" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="multiple" data-single-input ="true" style="display:none" />
					<label for="i_picture" class="btn_pic_add btn_md_neutral w100p mgt10">사진</label>
					<ul class="attach">
						{{#each this.data.eventCommentImgs}}
							<li><img src="{{ this.commentImgUrl }}" style="height:100%"><button type="button" class="btn_del modify_img" data-event-comment-img-sn="{{ this.eventCommentImgSn }}"><span class="sr_only">첨부파일 삭제</span></button></li>
						{{/each}}
					</ul>
				</div>
			</div>

			<input type="hidden" name="termsAgreeYn" value="true">
			<input type="hidden" name="planDisplaySn" value="{{ this.planDisplaySn }}">
			<input type="hidden" name="eventParticipantSn" value="{{ this.data.eventParticipantSn }}">
			{{#if this.eventCommentImgs.length}}
				{{#each this.eventCommentImgs}}
					<input type="hidden" name="eventCommentImgSn" value="{{ this.eventCommentImgSn }}">
				{{/each}}
			{{/if}}
	</form>
