
					{{#if this.loginYn}}
						{{#xif this.memberLevel '==' 'WELCOME'}}
							<div class="custom_level_area welcome">
							<span>{{this.memberName}}님은 <strong>WELCOM</strong>고객입니다</span>
						{{/xif}}
						{{#xif this.memberLevel '==' 'VIP'}}
							<div class="custom_level_area vip">
							<span>{{this.memberName}}님은 <strong>VIP</strong>고객입니다</span>
						{{/xif}}
						{{#xif this.memberLevel '==' 'VIP+'}}
							<div class="custom_level_area vip_plus">
							<span>{{this.memberName}}님은 <strong>VIP+</strong>고객입니다</span>
						{{/xif}}
						{{#xif this.memberLevel '==' 'VVIP'}}
							<div class="custom_level_area vvip">
							<span>{{this.memberName}}님은 <strong>VVIP</strong>고객입니다</span>
						{{/xif}}
						{{#xif this.memberLevel '==' 'VVIP+'}}
							<div class="custom_level_area vvip_plus">
							<span>{{this.memberName}}님은 <strong>VVIP+</strong>고객입니다</span>
						{{/xif}}
						</div>
					{{/if}}
					<!-- Apmall 고객 등급별 혜택 -->
					<div class="level_benefit01">
						<div class="benefit_img_area">
							<div><img src="/mo/ko/images/dummy/img_level_list.jpg" alt="" /></div>
							<div><img src="/mo/ko/images/dummy/img_level_table.jpg" alt="" /></div>
							<div><a href="/display/l_plusMembership?displayMenuId=l_plusMembership"><img alt="플러스멤버십에 가입하고 최고의 혜택을 누리세요" src="/mo/ko/images/display/img_banner_benefit.jpg"></a></div>
							<div><img src="/mo/ko/images/dummy/img_level_notice.jpg" alt="" /></div>
						</div>
					</div>
					<!-- // Apmall 고객 등급별 혜택 -->


