{{#each this.eventParticipants}}
	<li>
		<dl>
			<dt class="comment_title"><span>{{ this.memberId }}</span><small class="num">{{ dateFormat  this.participatedDt }}</small></dt>
			<dd class="comment_cont">
				<!--/* 375 해상도 기준 4줄에 절삭 : 더읽기 클릭시 전체 보임 */-->
				<div class="cont">
					<p class="text">{{ this.participantComment }}</p>
					<a href="#none" class="read_more" style="display:none;">더읽기 <i class="ico_down"></i></a>
					<a href="#none" class="more_view close" style="display:none;">닫기 <i class="ico_up"></i></a>
				</div>
				
				{{#if this.eventCommentImgs.length}}
				<div class="img_review_ph01">
					{{#each this.eventCommentImgs}}
						<a class="btn_detail" href="javascript:;" data-event-participant-sn="{{ ../eventParticipantSn }}"><img src="{{ this.commentImgUrl }}" alt="" /></a>
					{{/each}}
				</div>
				{{/if}}
				
				<div class="clear btns">
					<button type="button" class="btn_report" data-planDisplay-comment-sn="{{ this.eventParticipantSn }}"><i class="ico_report"></i><span class="sr_only">신고하기</span></button>
				</div>
				{{#xif this.myCommentYn '==' 'Y'}}
				<div class="comment_btns">
					<button type="button" data-event-participant-sn="{{ this.eventParticipantSn }}" id="btn_modify">수정</button>
					<button type="button" data-event-participant-sn="{{ this.eventParticipantSn }}" id="btn_delete">삭제</button>
				</div>
				{{/xif}}
			</dd>
		</dl>
	</li>
{{/each}}

{{#xif this.isScrollType '&&' (lt (calc this.offset '+' this.eventParticipants.length) this.totalCount)}}
	<li class="inner_loading">
		<ul class="loading">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</li>
{{/xif}}