{{#each this.brandMenus}}
	<li>
		<a href="{{ this.clickUrl }}" data-brand-sn="{{ this.brandSn }}">
			{{#if this.brandName}}
				{{ this.brandName }}
			{{else}}
				{{ this.displayMenuId }}
			{{/if}}
		</a>
	</li>
{{/each}}