{{#each this.data}}
	<a href="#none" class="lazy_load_wrap">
		{{#xif this.content_type '==' 'video'}}
			<img class="lazy_load" src="" data-src="{{ this.medium_url }}" alt="{{ decodeURIComponent this.alt_text }}" data-idx="{{ calc ../startIdx '+' @index }}" />
		{{else}}
			<img class="lazy_load" src="" data-src="{{ this.pixlee_cdn_photos.square_medium_url }}" alt="{{ decodeURIComponent this.alt_text }}" data-idx="{{ calc ../startIdx '+' @index }}" />
		{{/xif}}
	</a>
{{/each}}