<div class="panel color_factory">
	<h2 class="h_title page">예약 완료</h2>
	<p class="font_md">컬러팩토리 예약이 완료되었습니다.</p>
	<hr class="div m30">
	<h3 class="h_title cont"><b>예약정보</b></h3>
	<ul class="reservation_list">
			<li>
				<span>서비스<br>(Service)</span>
				<span>{{ this.storeEventServiceName }}</span>
			</li>
			<li>
				<span>예약 매장<br>(Reservation Store)</span>
				<span>{{ this.storeName }}</span>
			</li>
			<li>
				<span>예약 일시<br>(Reservation Date/Time)</span>
				<span>{{ dateFormat this.eventStartDt }}({{ dateFormat this.eventStartDt 'ddd' }})<br>{{ dateFormat this.eventStartDt 'HH' }}:{{ dateFormat this.eventStartDt 'mm' }}</span>
			</li>
			<li>
				<span>신청자명<br>(Name)</span>
				<span>{{ this.name.name1 }}</span>
			</li>
			<li>
				<span>연락처<br>(Cell Phone)</span>
				<span>{{ phoneNumberFormat this.phoneNo1.phoneNo }}</span>
			</li>
			<li>
				<span>이메일<br>(e-mail)</span>
				<span>{{ this.emailAddress }}</span>
			</li>
			<li>
				<span>예약번호<br>(Reservation Number)</span>
				<span><em>{{ this.reserveNo }}</em></span>
			</li>
		</ul>
	<div class="page_btns">
		<button class="btn_lg_primary" type="button">확인</button>
	</div>
	<div class="panel gray mgt25">
		<dl class="dl_cont">
			<dt class="h_title font_md"><b>유의사항</b></dt>
			<dd>
				<ul class="list_bullet_dot">
					<li><b>서비스 이용 시 <em>예약번호</em>를 확인하고 있습니다. 매장 방문 시 제시해 주세요.</b></li>
					<li>예약번호는 예약확인 페이지, 전송 받은 문자 및 이메일을 통해 확인 가능합니다. (Tip. 해외 거주 외국인의 경우 예약확인 페이지를 사진 찍어 보내주세요~)</li>
					<li>예약 취소는 온라인에서 서비스 하루 전까지 가능하며, 예약 시간에서 15분 이상이 초과된 경우 다른 고객님의 서비스를 위하여 예약은 자동 취소됩니다.</li>
					<li>앞 타임 고객님의 응대로 서비스 시작 시간이 약 10분 정도는 지연될 수 있음을 양해 부탁드립니다.</li>
					<li>당사 사정으로 인한 서비스 이용 불가 시 유선 안내 드리겠습니다.</li>
					<li><b>더욱 정확한 퍼스널 컬러 측정을 원하신다면 컬러 메이크업은 최소한으로 하고 오시는 것이 좋습니다.</b></li>
					<li>문의전화 : 명동FSS점(플래그십스토어/3F) 02-3789-5463, 가로수길점(B1) 02-549-7202</li>
					<li><b>Before providing our services, we will check<em>your reservation number</em>. Please present the number when visiting our shop.</b></li>
					<li>Your reservation number can be checked via the reservation confirmation page and the e-mail we sent. (Tip. In case of International customers rediding overseas, please present a screenshot of your reservation confirmation page!)</li>
					<li>You can cancel your reservation online at least one day before your scheduled date. If you are late in availing of the service for more than 15 minutes, your reservation will be canceled automatically in order to provide our service for other customers.</li>
					<li>Please understand that the start time of the service may be delayed by about 10 minutes when there are prior concerns to be attended</li>
					<li>If we cannot provide service due to the circum- stances of our company, we will Inform you via telephone</li>
					<li>For more accurate personal color measurement, please wear light color makeup, If possible</li>
					<li>Reservation Inquiry : Myeongdong FSS store (flagship store) (3F) 02-3789-5463; Sinsa Caro- sugil store (B1) 02-549-7202</li>
				</ul>
			</dd>
		</dl>
	</div>
</div>