<div class="panel makeup_join_info">
	<h3 class="h_title page">2018’ 에뛰드하우스 <br> <strong><청춘강연></strong> 참가신청완료</h3>
	<ul>
		<li class="clear">
			<span>신청자명</span>
			<b>{{ this.requesterName.name1 }}</b>
		</li>
		<li class="clear">
			<span>휴대폰번호</span>
			<b>{{ phoneNumberFormat this.requesterPhoneNo.phoneNo }}</b>
		</li>
		<li class="clear">
			<span>연령대</span>
			{{#xif this.requesterAgeGrp '==' '15'}}
			<b>15~19세</b>
			{{/xif}}
			{{#xif this.requesterAgeGrp '==' '20'}}
			<b>20~24세</b>
			{{/xif}}
			{{#xif this.requesterAgeGrp '==' '25'}}
			<b>25~29세</b>
			{{/xif}}
			{{#xif this.requesterAgeGrp '==' '30'}}
			<b>30~34세</b>
			{{/xif}}
			{{#xif this.requesterAgeGrp '==' '35'}}
			<b>35~39세</b>
			{{/xif}}
			{{#xif this.requesterAgeGrp '==' '40'}}
			<b>40세이상</b>
			{{/xif}}
		</li>
		<li class="clear">
			<span>성별</span>
			{{#xif this.requesterGender '==' 'Male'}}
			<b>남성</b>
			{{/xif}}
			{{#xif this.requesterGender '==' 'Female'}}
			<b>여성</b>
			{{/xif}}
		</li>
		{{#xif this.companionName.name1 '!=' ''}}
		<li class="clear">
			<span>동반인원명</span>
			<b>{{ this.companionName.name1 }}</b>
		</li>
		<li class="clear">
			<span>동반인원 휴대폰번호</span>
			<b>{{ phoneNumberFormat this.companionPhoneNo.phoneNo }}</b>
		</li>
		<li class="clear">
			<span>동반인원 연령대</span>
			{{#xif this.companionAgeGrp '==' '15'}}
			<b>15~19세</b>
			{{/xif}}
			{{#xif this.companionAgeGrp '==' '20'}}
			<b>20~24세</b>
			{{/xif}}
			{{#xif this.companionAgeGrp '==' '25'}}
			<b>25~29세</b>
			{{/xif}}
			{{#xif this.companionAgeGrp '==' '30'}}
			<b>30~34세</b>
			{{/xif}}
			{{#xif this.companionAgeGrp '==' '35'}}
			<b>35~39세</b>
			{{/xif}}
			{{#xif this.companionAgeGrp '==' '40'}}
			<b>40세이상</b>
			{{/xif}}
		</li>
		<li class="clear">
			<span>동반인원 성별</span>
			{{#xif this.companionGender '==' 'Male'}}
			<b>남성</b>
			{{/xif}}
			{{#xif this.companionGender '==' 'Female'}}
			<b>여성</b>
			{{/xif}}
		</li>
		{{/xif}}
		<li>
			<dl>
				<dt>신청이유</dt>
				<dd>
					{{ this.requestReason}}
				</dd>
			</dl>
		</li>
	</ul>
	<div class="prize_msg">
		<div class="img"><img ap:src="@{/images/brand/makeup_prize.jpg}" alt=""></div>
		<p>최종 당첨자로 선정되시면 작성해주신<br>
			휴대폰번호로 안내문자가 발송 됩니다.</p>
	</div>
	<div class="panel gray">
		<dl class="dl_cont">
			<dt><b>당첨자 발표</b></dt>
			<dd class="lh">2018년 5월 18일 (금) 문자 및 유선으로 안내합니다.<br>
				(문의 : 031-751-7277 에뛰드 청춘강연 운영팀)</dd>
		</dl>
	</div>
	<button type="button" class="btn_lg_neutral w100p mgt30">확인</button>
</div>