{{#each this.brandMenus}}
	<li>
		<a href="/display/brand/{{ this.displayMenuId }}?displayMenuId={{ this.displayMenuId }}?brandSn={{ this.brandSn }}" data-brand-sn="{{ this.brandSn }}">
			{{#xif this.logos.length '>' 0}}
				{{#each this.logos}}
					{{#xif this.logoType '==' 'BrandLogo01'}}
						<img alt="{{ ../brandName }}" src="{{ absolutePath this.fileUrl }}">
					{{/xif}}
				{{/each}}
			{{else}}
				<span>{{ this.displayMenuId }}</span>
			{{/xif}}
		</a>
	</li>
{{/each}}