<div class="srch_filter_wrap">
	<div class="ui_accordion">
		{{#each addAttrs}}
			{{#xif this.addAttrCode '==' 'color'}}
				<dl>
					<dt class="{{#if this.visible}}on{{/if}}"><button type="button"><span>{{ this.addAttrsName }}<i class="ico_navi"></i></span></button></dt>
					<dd>
						<div class="srch_filter_list01">
							<div class="color_ck_list">
								{{#each addAttrVals}}
									<span style="background-color:{{ this.addAttrValCode }}" data-value="{{ this.addAttrValCode }}" class="btn{{#xif this.selected '==' true}} on{{/xif}}"></span>
								{{/each}}
								<!--<span class="btn"><img src="/mo/ko/images/dummy/img_ck_col01.png" alt=""></span>-->
							</div>
						</div>
					</dd>
				</dl>
			{{else}}
				{{#xif this.addAttrCode '==' 'price' }}
					<dl class="price">
						<dt class="{{#if this.visible}}on{{/if}}"><button type="button"><span>가격<i class="ico_navi"></i></span></button></dt>
						<dd>
							<div class="price_sel01">
								<ul>
									<li><a class="btn{{#xif this.addAttrVals.[0].selected  '==' true}} on{{/xif}}" href="javascript:;" data-value="{{ this.addAttrVals.[0].addAttrValCode }}" data-min="" data-max="30000">3만원미만</a></li>
									<li><a class="btn{{#xif this.addAttrVals.[1].selected  '==' true}} on{{/xif}}" href="javascript:;" data-value="{{ this.addAttrVals.[1].addAttrValCode }}" data-min="30000" data-max="50000">3~5만원</a></li>
									<li><a class="btn{{#xif this.addAttrVals.[2].selected  '==' true}} on{{/xif}}" href="javascript:;" data-value="{{ this.addAttrVals.[2].addAttrValCode }}" data-min="50000" data-max="70000">5~7만원</a></li>
									<li><a class="btn{{#xif this.addAttrVals.[3].selected  '==' true}} on{{/xif}}" href="javascript:;" data-value="{{ this.addAttrVals.[3].addAttrValCode }}" data-min="70000" data-max="">7만원</a></li>
								</ul>
							</div>
							<div class="price_input_area">
								<form class="validate">
									<span class="input_h48_gray">
										<input type="text" name="min" class="min" value="{{ this.min }}" placeholder="최소금액" number="number" data-msg="숫자만 입력해 주세요.">
									</span><span class="p_bar">-</span><span class="input_h48_gray">
										<input type="text" name="max" class="max" value="{{ this.max }}" placeholder="최대금액" number="number" data-msg="숫자만 입력해 주세요.">
									</span>
								</form>
							</div>
						</dd>
					</dl>
				{{else}}
					<dl>
						<dt class="{{#if this.visible}}on{{/if}}"><button type="button"><span>{{ this.addAttrsName }}<i class="ico_navi"></i></span></button></dt>
						<dd>
							<div class="srch_filter_list01">
								<ul>
									{{#each this.addAttrVals}}
										<li><a href="javascript:;" class="btn{{#xif this.selected '==' true}} on{{/xif}}" data-value="{{ this.addAttrValCode }}">{{ this.addAttrValName }}</a></li>
									{{/each}}
								</ul>
							</div>
						</dd>
					</dl>
				{{/xif}}
			{{/xif}}
		{{/each}}
	</div>
	<div class="btn_wrap">
		<ul class="btn_col2_area">
			<li><a href="javascript:;" class="btn_h50_gy reset">초기화</a></li>
			<li><a href="javascript:;" class="btn_h50_bk apply">적용</a></li>
		</ul>
	</div>
</div>