<div class="table_layout summary">
	<dl>
		<dt>총주문금액</dt>
		<dd>
			<span class="price">
				<strong>{{numberFormat (calc cartEx.calculationResult.prodSaleTotalAmountInfo.standardCurrency.amount '+' cartEx.calculationResult.exchIPointSum '+' cartEx.calculationResult.exchAPointSum ) }}</strong>원
			</span>
		</dd>
	</dl>
	<dl class="plus">
		<dt>배송비</dt>
		<dd>
			<span class="price">
				<strong>{{numberFormat cartEx.calculationResult.shipFeeSumInfo.standardCurrency.amount }}</strong>원
			</span>
		</dd>
	</dl>
	<dl class="minus">
		<dt>총 할인금액</dt>
		<dd>
			<span class="price">
				<strong>{{numberFormat (calc cartEx.calculationResult.totalProdUnitDiscountAmountInfo.standardCurrency.amount '+' cartEx.calculationResult.exchIPointSum '+' cartEx.calculationResult.exchAPointSum ) }}</strong>원
			</span>
		</dd>
	</dl>
	<dl class="equal">
		<dt>결제 예정 금액</dt>
		<dd>
			<span class="price">
				<strong>{{numberFormat cartEx.calculationResult.paidAmountInfo.standardCurrency.amount }}</strong>원
			</span>
		</dd>
	</dl>
	<span><button type="button" name="calculationDetail" class="btn_details" onclick="$(this).toggleClass('on'); $('#details1').slideToggle();"><span class="sr_only">상세보가</span></button></span>
</div>

<!--/* 결제 금액 상세 내역 toggle 영역 */-->
<div class="details" id="details1">
	<div>
		<dl>
			<dt><b>총 주문금액</b></dt>
			<dd>
				<span class="price">
					<strong>{{numberFormat (calc cartEx.calculationResult.prodSaleTotalAmountInfo.standardCurrency.amount '+' cartEx.calculationResult.exchIPointSum '+' cartEx.calculationResult.exchAPointSum ) }}</strong><b>원</b>
				</span>
			</dd>
			<dd>
				{{#if (gt cartEx.calculationResult.onlineShipProdSaleTotalAmountInfo.standardCurrency.amount 0) }}
				<dl>
					<dt>온라인 상품(<em id="calOnlinePrdCnt">0</em>개)</dt>
					<dd>{{numberFormat cartEx.calculationResult.onlineShipProdSaleTotalAmountInfo.standardCurrency.amount }}원</dd>
				</dl>
				{{/if}}
				{{#if (gt memberSn 0) }}
					{{#if (gt cartEx.calculationResult.storePickupProdSaleTotalAmountInfo.standardCurrency.amount 0) }}
						<dl>
							<dt>테이크아웃 상품(<em id="calTakeoutPrdCnt">0</em>개)</dt>
							<dd>{{numberFormat cartEx.calculationResult.storePickupProdSaleTotalAmountInfo.standardCurrency.amount }}원</dd>
						</dl>
					{{/if}}
					{{#if (gt cartEx.calculationResult.exchIPointSum 0) }}
						<dl>
							<dt>뷰티포인트교환 상품(<em id="calMemberPrdCnt">0</em>개)</dt>
							<dd>{{numberFormat cartEx.calculationResult.exchIPointSum }}원</dd>
						</dl>
					{{/if}}
					{{#if (gt cartEx.calculationResult.exchAPointSum 0) }}
						<dl>
							<dt>진주알교환 상품(<em id="calActivityPrdCnt">0</em>개)</dt>
							<dd>{{numberFormat cartEx.calculationResult.exchAPointSum }}원</dd>
						</dl>
					{{/if}}
				{{/if}}
			</dd>
		</dl>
		{{#if (gt cartEx.calculationResult.shipFeeSumInfo.standardCurrency.amount 0) }}
		<dl>
			<dt><b>배송비</b></dt>
			<dd>
				<span class="price">
					<strong>{{numberFormat cartEx.calculationResult.shipFeeSumInfo.standardCurrency.amount }}</strong><b>원</b>
				</span>
			</dd>
		</dl>
		{{/if}}
		<dl>
			<dt><b>총 할인</b></dt>
			<dd>
				<span class="price">
					<strong>{{numberFormat (calc cartEx.calculationResult.totalProdUnitDiscountAmountInfo.standardCurrency.amount '+' cartEx.calculationResult.exchIPointSum '+' cartEx.calculationResult.exchAPointSum ) }}</strong><b>원</b>
				</span>
			</dd>
			<dd>
				{{#xif cartEx.calculationResult.dsicountAmountInfoByOnlineProdDc.standardCurrency.amount '>' 0 }}
				<dl>
					<dt>상품할인 적용</dt>
					<dd>{{numberFormat cartEx.calculationResult.dsicountAmountInfoByOnlineProdDc.standardCurrency.amount }}원</dd>
				</dl>
				{{/xif}}
				{{#xif cartEx.calculationResult.dsicountAmountInfoByOnlineMemberDc.standardCurrency.amount '>' 0 }}
				<dl>
					<dt>회원할인 적용</dt>{{!-- 회원등급할인 적용 포함 --}}
					<dd>{{numberFormat cartEx.calculationResult.dsicountAmountInfoByOnlineMemberDc.standardCurrency.amount }}원</dd>
				</dl>
				{{/xif}}
				{{#xif cartEx.calculationResult.dsicountAmountInfoByinstantCouponDc.standardCurrency.amount '>' 0 }}
				<dl>
					<dt>즉시쿠폰 적용</dt>
					<dd>{{numberFormat cartEx.calculationResult.dsicountAmountInfoByinstantCouponDc.standardCurrency.amount }}원</dd>
				</dl>
				{{/xif}}
                {{#xif cartEx.calculationResult.discountAmountInfoByMNPromotion.standardCurrency.amount '>' 0 }}
				<dl>
					<dt>M+N 행사 할인</dt>
					<dd>{{numberFormat cartEx.calculationResult.discountAmountInfoByMNPromotion.standardCurrency.amount }}원</dd>
				</dl>
				{{/xif}}
				{{#xif cartEx.calculationResult.discountAmountInfoBySameTimePurDc.standardCurrency.amount '>' 0 }}
				<dl>
					<dt>동시구매 행사 할인</dt>
					<dd>{{numberFormat cartEx.calculationResult.discountAmountInfoBySameTimePurDc.standardCurrency.amount }}원</dd>
				</dl>
				{{/xif}}
				{{#xif cartEx.calculationResult.exchIPointSum '>' 0 }}
				<dl>
					<dt>뷰티포인트 교환사용</dt>
					<dd>{{numberFormat cartEx.calculationResult.exchIPointSum }}P</dd>
				</dl>
				{{/xif}}
				{{#xif cartEx.calculationResult.exchAPointSum '>' 0 }}
				<dl>
					<dt>진주알 교환사용</dt>
					<dd>{{numberFormat cartEx.calculationResult.exchAPointSum }}알</dd>
				</dl>
				{{/xif}}
			</dd>
		</dl>
	</div>
</div>
