<table class="ui_table_striped data_table thead_colored align_center mgt20">
	<caption class="sr_only">테이크아웃매장 목록으로 단골등록, 매장, 전화번호, 주소, 매장위치로 구성</caption>
	<colgroup>
		<col style="width:67px"/> <!-- /* 20180725:테이블 너비 수정*/ -->
		<col style="width:137px"/>
		<col style="width:116px"/>
		<col style="width:189px"/>
		<col />
	</colgroup>
	<thead>
	<tr>
		<th scope="col">단골매장</th>
		<th scope="col">매장</th>
		<th scope="col">전화번호</th>
		<th scope="col">주소</th>
		<th scope="col">매장위치</th>
	</tr>
	</thead>
	<tbody>
		{{#if (gt totalLength 0) }}
			{{#each list }}
				<tr class="storeRow">
					<td>
						<span class="check_wrap check_only">
							<input type="checkbox" name="layer" id="layer_{{ storeSn }}" value="{{ storeSn }}" storeName="{{ storeName }}" class="table_striped" {{checkedIf regularStoreYn}}/>
							<label for="layer_{{ storeSn }}"><span class="sr_only" value="{{ storeSn }}">{단골매장}선택</span></label>
						</span>
					</td>
					<td>
						<a href="#" onclick="fnChangeStore('{{ storeSn }}'); return false;">
							{{ storeName }}
							{{#if (eq defaultStoreYn 'Y') }}<span class="store_default">기본</span>{{/if}}
							{{#if (eq invtEnoughType 'No') }} <em>[재고없음]</em> {{/if}}
							{{#if (eq invtEnoughType 'Enough') }} <em class="color_light_blue">[재고있음]</em> {{/if}}
							{{#if (eq invtEnoughType 'NotEnough') }} <em>[재고부족]</em> {{/if}}
						</a>
					</td>
					<td>{{ phoneNo1.phoneNo }}</td>
					<td class="align_left">{{ address.address1 }}</td>
					<td><button type="button" class="btn_sm_bordered" latitude="{{ latitude }}" longitude="{{ longitude }}">위치보기</button></td>
				</tr>
				<tr class="tr_map">
					<td colspan="5" class="td_map"><div class="map_area"></div><button class="btn_map_close">닫기</button></td>
				</tr>
			{{/each}}
		{{/if}}
	</tbody>
</table>
<div class="ui_paging pagination"></div>