{{#xif this.totalLength '>' 0 }}
	{{#each this.list }}

	<tr class="storeRow">
		<td>
			<span class="check_wrap check_only">
				<input type="checkbox" name="layer" id="layer_{{ this.storeSn }}" value="{{ this.storeSn }}" storeName="{{ this.storeName }}" class="table_striped" {{checkedIf this.regularStoreYn}}/>
				<label for="layer_{{ this.storeSn }}"><span class="sr_only" value="{{ this.storeSn }}">{단골매장}선택</span></label>
			</span>
		</td>
		<td><a href="#" onclick="fnChangeStore({{ this.storeSn }}); return false;">{{ this.storeName }} {{#xif this.defaultStoreYn '==' 'Y'}}<span class="store_default">기본</span>{{/xif}}</a></td>
		<td>{{ this.phoneNo1.phoneNo }}</td>
		<td class="align_left">{{ this.address.address1 }}</td>
		<td><button type="button" class="btn_sm_bordered" latitude="{{ this.latitude }}" longitude="{{ this.longitude }}">위치보기</button></td>
	</tr>
	{{/each}}
	<tr class="tr_map">
		<td colspan="5" class="td_map"><div class="map_area"></div><button class="btn_map_close">닫기</button></td>
	</tr>

	{{else}}
{{/xif}}