{{!--
	전시 : 일반 기획 전시 상품 목록
--}}
{{#each this.list}}
	<li class="online_prod" data-online-prod-sn="{{ this.onlineProdSn }}" >
		<div class="item">
			<div class="item_images">
				<!-- /* 대표 이미지 */ -->
				<a href="{{ productDetailPath this.onlineProdSn }}" class="lazy_load_wrap">
				{{#xif ../prodListUnitCode '==' 'OnlineProd'}}
					<img class="lazy_load" src="" data-src="{{ this.onlineProdImages.0.imgUrl }}" alt="">
				{{/xif}}
				{{#xif ../prodListUnitCode '==' 'Prod'}}
					<img class="lazy_load" src="" data-src="{{ this.prodImages.0.imgUrl }}" alt="">
				{{/xif}}
				</a>
				{{#xif this.saleDisplayStatus '==' 'OutOfStock'}}
					<div class="item_state out_of_stock">일시품절</div>
				{{/xif}}
			</div>
			<div class="item_info list">
				{{#if this.flags.length}}
					<div class="flag_set">
						{{#each this.flags}}
							{{#xif this.prodFlagCode '==' 'icon_reco_new'}}
								<span class="new">신상품</span>
							{{/xif}}
							{{#xif this.prodFlagCode '==' 'icon_reco_best_w'}}
								<span class="best">베스트</span>
							{{/xif}}
							{{#xif this.prodFlagCode '==' 'icon_pr_prod'}}
								<span class="event">이벤트</span>
							{{/xif}}
							{{#xif this.prodFlagCode '==' 'icon_reco_md'}}
								<span>MD추천</span>
							{{/xif}}
							{{#xif this.prodFlagCode '==' 'icon_reco_online'}}
								<span>온라인전용</span>
							{{/xif}}
						{{/each}}
					</div>
				{{/if}}
				<div class="prd_name">
					<div>
						{{#if this.lineDesc}}
							<p class="s_name"><em class="tag">{{{ this.lineDesc }}}</em></p>
						{{/if}}
						<p class="name">{{ this.onlineProdName }}</p>
							{{#xif ../prodListUnitCode '==' 'Prod'}} 
								{{#xif this.productCount '>' 1}}
									<p class="color_name">{{ this.products.0.prodName }}</p>
								{{/xif}}
							{{/xif}}
					</div>
					{{!--<p class="color_name">85 colors</p>--}}
				</div>
			</div>
			<div class="price_area">
				{{#xif this.onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
					<div class="discount">
						<div class="discount">
							<strong class="to">{{#xif this.onlineProdPriceSummary.maxDiscountRate '!=' this.onlineProdPriceSummary.minDiscountRate}}~{{/xif}}{{ this.onlineProdPriceSummary.maxDiscountRate }}<em>%</em></strong>
						</div>
					</div>
				{{/xif}}
				<div class="price">
					{{#xif this.onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
								<del>{{ numberFormat this.onlineProdPriceSummary.minOnlineSalePrice }}<em>{{ condition ../isActivityPoint '알' '원' }}</em></del>
							{{/xif}}
							<strong>{{ numberFormat this.onlineProdPriceSummary.minFinalOnlinePrice }}<em>{{ condition ../isActivityPoint '알' '원' }}{{#xif this.onlineProdPriceSummary.minOnlineSalePrice '!=' this.onlineProdPriceSummary.maxOnlineSalePrice}} ~{{/xif}}</em></strong>
				</div>
			</div>
		</div>
	</li>
{{/each}}
