<div class="img_wrap">
	{{#each this.awards}}
		{{#if this.prodImg}}
			<img alt="" src="{{ this.prodImg }}">
		{{/if}}
	{{/each}}
</div>
<p class="text_center">축하드립니다.<br>
	{{#each this.awards}}
		{{#if this.pointTypeCode}}
		<em>
			{{#xif this.pointTypeCode '==' 'ActivityPoint'}}
				진주알 {{ this.savingPoint }}알
			{{/xif}}
			{{#xif this.pointTypeCode '==' 'MembershipPoint'}}
			{{this.membershipName}} {{this.membershipName}} {{ this.savingPoint }}점
			{{/xif}}
		</em>
		{{/if}}
		{{#if this.awardTgtCode }}<em>{{ this.couponName }}</em>{{/if}}
		{{#if this.prodName }}<em>{{ this.prodName }}</em>{{/if}}
		
		{{#xif ../awards.length '>' 1}}<br>{{/xif}}

{{/each}}
	에 당첨되셨습니다.<br>
	
	{{#xif this.awards.prodCount '>'  0}}
		배송지 정보를 입력하셔야 당첨이 완료됩니다.
	{{/xif}}
	{{#xif this.awards.prodCount '<' 1}}
		당첨내역은 마이에뛰드에서 확인 가능합니다.
	{{/xif}}
	
</p>
<div class="page_btns">
	{{#xif this.awards.prodCount '>' 0}}
		<button class="btn_md_primary" type="button">배송지 정보 입력하기</button>
	{{/xif}}	
	{{#xif this.awards.prodCount '<' 1}}
		<button class="btn_lg_primary" type="button">마이 에뛰드</button>
	{{/xif}}
</div>

