<!--/* rside_area */-->
<div class="rside_area">
	<div class="pay_list">
		<dl>
			<dt>결제 예정 금액</dt>
			<dd class="result">
				<div class="tit"><strong>주문금액</strong><span class="price">{{numberFormat prodSumAmount}}원</span></div>
				{{#if (ne cartEx.calculationResult.resultOtfList.length 0)}}
					<ul><!-- 쇼핑몰별로 세부항목 표기_2018-08-22 -->
						{{#each cartEx.calculationResult.resultOtfList}}
							<li>
								<em>{{requestOtf.coName}} 상품 {{#if (ne otfProdTotalCnt null)}}{{otfProdTotalCnt}}{{else}}0{{/if}}개</em>
								<span class="price">{{numberFormat onlineSalesTotalAmountInfo.standardCurrency.amount }}원</span>
							</li>
						{{/each}}
					</ul>
				{{/if}}
				<div class="tit"><strong>배송비</strong><span class="price">{{numberFormat shipFeeSumAmount }}원</span></div>
				{{#if (ne cartEx.calculationResult.resultOtfList.length 0)}}
					<ul> <!-- 쇼핑몰별로 세부항목 표기_2018-08-22 -->
						{{#each cartEx.calculationResult.resultOtfList}}
							<li>
								<em>{{requestOtf.coName}} 배송비</em>
								<span class="price">{{numberFormat defaultShipFeeInfo.standardCurrency.amount }}원</span>
							</li>
						{{/each}}
					</ul>
				{{/if}}
				{{#if (ne cartEx.calculationResult null)}}
					<div class="tit"><strong>할인내역</strong><span class="price">- {{numberFormat cartEx.calculationResult.totalProdUnitDiscountAmountInfo.standardCurrency.amount }}원</span></div>
					<ul>
						{{#if (gt cartEx.calculationResult.dsicountAmountInfoByOnlineProdDc.standardCurrency.amount 0) }}
							<li>
								<em>온라인상품할인</em>
								<span class="price">- {{numberFormat.calculationResult.dsicountAmountInfoByOnlineProdDc.standardCurrency.amount }}원</span>
							</li>
						{{/if}}
						{{#if (gt cartEx.calculationResult.dsicountAmountInfoByMemberLevel.standardCurrency.amount 0) }}
							<li>
								<em>회원등급할인</em>
								<span class="price">- {{numberFormat cartEx.calculationResult.dsicountAmountInfoByMemberLevel.standardCurrency.amount }}원</span>
							</li>
						{{/if}}
						{{#if (gt cartEx.calculationResult.dsicountAmountInfoByOnlineMemberDc.standardCurrency.amount 0) }}
							<li>
								<em>온라인회원할인</em>
								<span class="price">- {{numberFormat cartEx.calculationResult.dsicountAmountInfoByOnlineMemberDc.standardCurrency.amount }}원</span>
							</li>
						{{/if}}
						{{#if (gt cartEx.calculationResult.dsicountAmountInfoByinstantCouponDc.standardCurrency.amount 0) }}
							<li>
								<em>즉시할인쿠폰</em>
								<span class="price">- {{numberFormat cartEx.calculationResult.dsicountAmountInfoByinstantCouponDc.standardCurrency.amount }}원</span>
							</li>
						{{/if}}
						{{#if (gt cartEx.calculationResult.discountAmountInfoByMNPromotion.standardCurrency.amount 0) }}
							<li>
								<em>M+N프로모션할인</em>
								<span class="price">- {{numberFormat cartEx.calculationResult.discountAmountInfoByMNPromotion.standardCurrency.amount }}원</span>
							</li>
						{{/if}}
					</ul>
				{{/if}}
				{{#if (gt cartEx.cartDeliveryMembershipPointExchOnlineProdExList.length 0) }}
					<div class="tit"><strong>뷰티포인트 사용</strong><span class="price">- {{numberFormat totalMemAmount }}P</span></div>
				{{/if}}
			</dd>
			<dd class="total">
				<div class="set"><strong>결제 예정 금액</strong><span class="price">{{numberFormat (calc prodSumAmount '+' shipFeeSumAmount '-' (calc cartEx.calculationResult.totalProdUnitDiscountAmountInfo.standardCurrency.amount '+' totalMemAmount ) ) }}<span class="small">원</span></span></div>
				{{#if (ne cartEx.cartMemberEx null) }}
					{{#if (ne cartEx.calculationResult null)}}
						{{#each cartEx.calculationResult.resultMembershipMap as |value key|}}
							{{#if (eq key ../membershipSn) }}
								<div class="beauty"><strong>적립 예정 뷰티포인트</strong><span class="point">{{numberFormat value.totalMembershipSavingPoint }}P</span></div>
							{{/if}}
						{{/each}}
					{{/if}}
				{{/if}}
			</dd>
		</dl>
		<div class="btn_area">
			<a href="#none" class="btn_xlg_primary" onclick="fnCheckOrder()">주문하기 ({{totalProdCnt}}개)</a>
		</div>
	</div>
</div>
<!--/* rside_area */-->