					{{#xif this.status '==' 'RQ'}}
						<div class="section">
							<h3 class="sr_only">신청하기</h3>
							<dl class="dl_cont">
								<dt><b>응모미션</b></dt>
								<dd>
									<ul class="list">
										<li>1  카카오톡에서 ‘아모레퍼시픽몰’ 을 플러스친구에 추가해주세요.</li>
										<li>2  뷰티테스터 리뷰를 등록할 개인블로그 또는  SNS url과 신청사연을 적어주세요. </li>
									</ul>
								</dd>
								<dt><b>리뷰미션</b></dt>
								<dd>
									<ul class="list">
										<li>3  개인블로그와 뷰티테스터 리뷰탭에 테스터리뷰를 등록해주세요.</li>
									</ul>
								</dd>
							</dl>
							<div class="dl_cont reverse">
								<dt><b>알립니다</b></dt>
								<dd>
									<ul class="list_bullet_dot">
										<li>뷰티테스터 신청은 2018년 1월부터 VIP등급 이상의 회원부터 가능합니다</li>
										<li>선정된 뷰티테스터에게는 해당 상품을 무료로 배송합니다.</li>
										<li>정해진 기간에 맞춰서 리뷰등록을 해야하며, 미 등록시에는 차후 테스터 선정에 제외될 수 있습니다.</li>
										<li>베스트 리뷰 선정시에는 특별한 선물을 받으실 수 있습니다.</li>
									</ul>
								</dd>
							</div>
							<div class="app_download">
								<p class="info_txt">
									<span>새롭게 바뀐 아모레퍼시픽 앱을 다운받아 뷰티테스터에 참여해보세요.</span>
									<span>뷰티테스터는 앱에서만 신청 가능한 서비스입니다.</span>
								</p>
								<img ap:src="@{/images/event/ico_ap_app.png}" alt="">
								<p class="txt"><strong>앱 다운로드 URL 받기(무료전송)</strong>* 입력하신 번호는 저장되지 않습니다.</p>
								<span class="input_wrap"><input type="text" name="" id="" placeholder="휴대폰 번호를  입력해주세요"></span>
								<a href="#none" class="btn_fix_neutral send_app_download_sms">보내기</a>
							</div>
						</div>
					{{/xif}}
					
					{{#xif this.status '==' 'TN'}}
						<h3 class="sr_only">신청하기{{this.isRequest}}</h3>
						{{#xif this.isRequest '==' true}}
							{{#xif this.win '==' true}}
							<div class="section table_layout">
								<div class="tester_announce">
									<p class="text font_xl"><b>{{this.memberInfo.name.name1}}</b>님, 당첨을 축하드립니다.</p>
									<p class="text font_md"><b>{{dateFormat this.regularEvent.reviewRegistEndDt "MM.DD"}}일</b>까지 뷰티테스터 리뷰를 등록해주세요<br>
										베스트리뷰로 선정되시면 뷰티포인트 1,000P를 드립니다.</p>
									<button type="button" class="btn_primary w100p" disabled>{{dateFormat this.regularEvent.reviewRegistStartDt "DD"}}일부터 등록이 가능합니다.</button>
									<a href="#none" class="link font_md winners"><span>당첨자 명단보기</span></a>
								</div>
							</div>
							{{/xif}}
							{{#xif this.win '!=' true}}
							<div class="section table_layout">
								<div class="tester_announce">
									<p class="text font_xl">아쉽게도 이번엔 당첨이 되지 않았습니다.</p>
									<p class="text font_md">다음에 꼭 다시 도전하세요.</p>
									<a href="/display/AppH010403?displayMenuId=beautyTester" class="btn_lg_primary">다른 뷰티테스터 이벤트 보러가기</a>
								</div>
							</div>
							{{/xif}}
						{{/xif}}
					{{/xif}}
					
					{{#xif this.status '==' 'RR'}}
						<h3 class="sr_only">신청하기</h3>
							{{#xif this.win '==' true}}
							<div class="section tester_announce">
								<p class="text font_xl"><b>{{this.memberInfo.name.name1}}</b>님, 당첨을 축하드립니다.</p>
								<p class="text font_md"><b>{{dateFormat this.regularEvent.reviewRegistEndDt "MM.DD"}}일</b>까지 뷰티테스터 리뷰를 등록해주세요<br>
									베스트리뷰로 선정되시면 뷰티포인트 1,000P를 드립니다.</p>
								<button type="button" class="btn_primary w100p regist-review">리뷰 등록하기</button>
								<a href="#none" class="link font_md winners"><span>당첨자 명단보기</span></a>
							</div>
							{{/xif}}
							{{#xif this.win '!=' true}}
							<div class="section table_layout">
								<div class="tester_announce">
									<p class="text font_xl">아쉽게도 이번엔 당첨이 되지 않았습니다.</p>
									<p class="text font_md">다음에 꼭 다시 도전하세요.</p>
									<a href="/display/AppH010403?displayMenuId=beautyTester" class="btn_lg_primary">다른 뷰티테스터 이벤트 보러가기</a>
								</div>
							</div>
							{{/xif}}
					{{/xif}}
					
					{{#xif this.status '==' 'BR'}}
						<h3 class="sr_only">신청하기</h3>
							{{#xif this.win '==' true}}
							<div class="section table_layout">
								<div class="tester_announce">
									<p class="text font_xl"><b>홍길동</b>님, 베스트 리뷰로 선정되셨습니다.</p>
									<p class="text font_md">베스트 리뷰로 선정되어 뷰티포인트 1,000포인트를 지급해드렸습니다</p>
									<button type="button" class="btn_primary w100p">내포인트 확인하기</button>
								</div>
							</div>
							{{/xif}}
					{{/xif}}
					
					{{#xif this.status '!==' 'RQ'}}
						<div class="section beauty_tester_review_ilst">
							<div class="pagination" style="display:none;"></div>
						</div>
					{{/xif}}