			<dl class="layer">
				<dt class="layer_title"><span class="sr_only">리뷰</span></dt>
				<dd class="layer_cont">
					<!--/* 리뷰 : 동영상 슬라이드 case */-->
					<div class="review_title">
						<h2 class="h_title">뷰티테스터 리뷰</h2>
					</div>
					<dl class="review">
						<dt class="review_header">
							<span class="name">{{this.prodReviewInfo.memberId}}</span><span class="grade">{{this.prodReviewInfo.memberLevelName}}</span>
							<div class="product_rating">
								<span class="mark_star_sm star{{calc 5 '-' this.prodReviewInfo.scope}}"><span class="sr_only">구매 평점 별 5개 중 {{this.prodReviewInfo.scope}}개</span></span>
								<span class="count">{{this.prodReviewInfo.scope}}</span>
							</div>
							</span>
						</dt>
						<!--/* 첨부 동영상 & 이미지 영역 */-->
						<dd class="attached">
							<div class="review_cont">
								<div class="title_box">
									<p class="title">{{this.prodReviewInfo.prodReviewTitle}}</p>
									<a href="#1" class="product_name"><em class="ellipsis">{{this.prodReviewInfo.onlineProdName}}-{{this.prodReviewInfo.prodName}}</em><i class="ico_arr"></i></a>
								</div>
								<div class="inbox_cont">
									{{#each this.displayReviewImgList}}
										{{#xif this.foTemplateNo '==' 0}}
											<div class="inbox_cont">
												기존 뷰티테스트 리뷰 영역
											</div>
										{{/xif}}
										{{#xif this.foTemplateNo '!=' 0}}
											<div class="inbox type_0{{this.foTemplateNo}}">
												{{#xif this.foTemplateNo '==' 4}}<ul class="img_fl">{{/xif}}
												{{#each this.imageInfoList}}
													{{#xif ../foTemplateNo '==' 4}}<li>{{/xif}}<img src="{{this.[0]}}" alt="이미지 내용 입력" />{{#xif ../foTemplateNo '==' 4}}</li>{{/xif}}
												{{/each}}
												{{#xif this.foTemplateNo '==' 4}}</ul>{{/xif}}
												
												{{#each this.imageInfoList}}
													{{#xif ../foTemplateNo '!=' 1}}
													<p>{{this.[1]}}</p>
													{{/xif}}
												{{/each}}
											</div>
										{{/xif}}
									{{/each}}
								</div>
							</div>
						</dd>
					</dl>
				</dd>
			</dl>
			<button type="button" class="layer_close"><span class="sr_only">레이어 닫기</span></button>
			<div class="fix_bottom_wrap">
				<div class="fix_bottom">
					<div class="inbox">
						<span class="share_area"><a href="#1" class="btn_share"><img src="/pc/ko/images/event/ico_share.png" class="" alt="공유하기" /></a></span> <!-- 이미지경로 수정_2018-08-24 -->
						<span class="recommend_area"><a href="#none" class="btn_help{{#xif this.prodReviewInfo.recommendYn '==' 'Y'}} on{{/xif}}" onclick="$(this).toggleClass('on');">도움이 되요</a><span class="num recommendCnt">{{this.prodReviewInfo.recommendCnt}}</span></span> <!-- 좋아요_toggle_2018-08-24 -->
					</div>
				</div>
			</div>