<div class="promotion">
	<div class="promotion_header">
		<a href="#none"><strong>진주알 교환 상품</strong></a>
		<div class="price">
			<span class="strong"><b>{{numberFormat pointSum }}</b>알</span> /
			<span>보유 <b>{{numberFormat activityPoints }}</b>알</span>
		</div>
	</div>
	{{#each list}}
		{{#each cartProdExList}}
			<div class="item_wrap">
				<input type="hidden" name="takeoutActivityPrdSn" value="{{ prodEx.prodSn }}"/>
				<input type="hidden" name="cartProdSn" value="{{ cartProdSn }}"/>
				<input type="hidden" name="takeoutPrdInfo_{{ cartProdSn }}" value="{{ cartProdSn }}"/>
				<input type="hidden" name="saleDisplayStatus_{{ cartProdSn }}" value="{{ prodEx.saleDisplayStatus }}"/>

				<div class="item_info">
					<!--/* 상품 선택 */-->
					<div class="item_thumb">
						<div class="check_wrap">
							{{#if (and (eq ../onlineProdSn null) (eq prodEx.prodTypeCode 'FreeGift') ) }}
								<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ cartProdSn }}" pointExch="activity" point="{{ exchPoint }}" value="{{ cartProdSn }}" exchCheckYn="{{ selectYn }}" {{#if (and (ne prodEx.saleDisplayStatus 'OnSale')(ne prodEx.saleDisplayStatus null) ) }}disabled{{/if}}  {{condition (and (eq prodEx.saleDisplayStatus 'OnSale')(eq selectYn 'Y') ) 'checked' ''}}>
							{{else}}
								<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ cartProdSn }}" pointExch="activity" point="{{ exchPoint }}" value="{{ cartProdSn }}" exchCheckYn="{{ selectYn }}" {{#if (and (ne prodEx.saleDisplayStatus 'OnSale')) }}disabled{{/if}}  {{condition (and (eq prodEx.saleDisplayStatus 'OnSale')(eq selectYn 'Y') ) 'checked' ''}}>
							{{/if}}
							<label for="takeoutChkBox{{ cartProdSn }}">
								{{#if (ne prodEx.repProdImgEx null) }}
									<img src="{{ prodEx.repProdImgEx.imgUrl }}" alt="">
								{{else}}
									{{#if (ne ../repOnlineProdImgEx null) }}
										<img src="{{ ../repOnlineProdImgEx.imgUrl }}" alt="">
									{{/if}}
								{{/if}}
								<span class="sr_only">{{#if (ne ../onlineProdName null) }} {{ ../onlineProdName }} {{else}} {{ prodEx.prodName }} {{/if}}</span>
							</label>
						</div>
					</div>
					<div class="item_name">
						{{#xif onlineProdFlagExList.length '>' 0}}
							{{#each onlineProdFlagExList}}
								{{#switch prodFlagCode}}
									{{#case "icon_reco_new"}} <span class="flag">신상품</span> {{/case}}
									{{#case "icon_reco_best_w"}} <span class="flag">베스트</span> {{/case}}
									{{#case "icon_pr_prod"}} <span class="flag">이벤트</span> {{/case}}
									{{#case "icon_reco_md"}} <span class="flag">MD추천</span> {{/case}}
									{{#case "icon_reco_online"}} <span class="flag">온라인전용</span> {{/case}}
								{{/switch}}
							{{/each}}
						{{/xif}}
						<a href="#none" class="title">{{#if (ne ../onlineProdName null) }} {{ ../onlineProdName }} {{else}} {{ prodEx.prodName }} {{/if}}</a>
					</div>
					<!--/* 상품 수량 */-->
					<div class="count">
						<span class="ui_spinner" data-step="1" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt prodEx.minPurLimitQty 0) ) }} data-min="{{ prodEx.minPurLimitQty }}" {{else}} data-min="1" {{/if}} {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(eq prodEx.maxPurLimitYn 'Y') )}} {{#if (gt cartProdQty prodEx.maxPurLimitQty) }} data-max="{{ cartProdQty}}" {{else}} data-max="{{ prodEx.maxPurLimitQty }}" {{/if}} {{else}} data-max="99" {{/if}} {{#if (ne prodEx.saleDisplayStatus 'OnSale') }} data-disabled="true" {{else}} data-disabled="false" {{/if}} >
							<button class="spinner_decrease" type="button" title="제품 수량 감소" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt cartProdQty 1)(gt cartProdQty prodEx.minPurLimitQty) ) }} {{else}} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '-', '{{prodEx.minPurLimitQty}}', '{{prodEx.maxPurLimitYn}}', '{{prodEx.maxPurLimitQty}}')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
							<input class="spinner_input" type="text" name="cartProdQty" value="{{ cartProdQty }}">
							<button class="spinner_increase" type="button" title="제품 수량 증가" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt prodEx.salePossibleQty cartProdQty) ) }} {{#if (and (eq prodEx.maxPurLimitYn 'Y')(gte cartProdQty prodEx.maxPurLimitQty) ) }} disabled {{/if}} {{else}} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '+', '{{prodEx.minPurLimitQty}}', '{{prodEx.maxPurLimitYn}}', '{{prodEx.maxPurLimitQty}}')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
						</span>
					</div>
					<!--/* 포인트 및 가격 */-->
					<div class="price">
						{{#if (eq prodEx.saleDisplayStatus 'OnSale') }}
							{{#if (ne exchPoint null) }}
								<span class="strong"><b>{{numberFormat exchPoint }}</b>알</span>
							{{/if}}
						{{else}}
							<em>{{cartStatusTxt prodEx.saleDisplayStatus}}</em>
						{{/if}}
					</div>
					<!--/* 구매/삭제 버튼 */-->
					<div class="btns">
						<button type="button" class="btn_sm_bordered" onclick="removeCartProd('{{ ../../cartSn }}', '{{ cartProdSn }}')">삭제</button>
					</div>
				</div>
				{{#if (gt cartProdAwardList.length 0) }}
					<ul class="freebies">
						{{#each cartProdAwardList}}
							<li>
								<span class="option_name">
									{{#if (ne awardProdEx.repProdImgEx null) }}
										<img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/>
									{{/if}}
									사은품 : {{ awardProdEx.prodName }}
								</span>
								<span class="term">
									기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}}
								</span>
							</li>
						{{/each}}
					</ul>
				{{/if}}
			</div>
		{{/each}}
	{{/each}}
</div>
