{{#each list}}
<div class="item_wrap">

	<!--/* 싱글상품 */-->
	{{#xif singleProdYn '==' 'Y'}}

		{{#each cartProdExList}}
		<div class="item_info">
			<input type="hidden" name="takeoutPrdSn" value="{{prodEx.prodSn}}"/>
			<input type="hidden" name="cartProdSn" value="{{cartProdSn}}"/>
			<input type="hidden" name="takeoutPrdInfo_{{../onlineProdSn}}" value="{{cartProdSn}}"/>
			<input type="hidden" name="saleDisplayStatus_{{prodEx.prodSn}}" value="{{prodEx.saleDisplayStatus}}"/>
			<!--/* 상품 선택 */-->
			<div class="item_thumb">
				<div class="check_wrap">
					<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{prodEx.prodSn}}" value="{{../onlineProdSn}}" {{condition (eq ../selectYn 'Y') 'checked' ''}}>
					<label for="takeoutChkBox{{prodEx.prodSn}}">
						{{!-- 이미지 순위선정 : 1.단위상품 > 2.온라인상품 > noImage --}}
						{{#xif prodEx.repProdImgEx '!=' null }} <img src="{{ prodEx.repProdImgEx.imgUrl }}" alt=""> {{/xif}}
						{{#xif prodEx.repProdImgEx '==' null }}
							{{#xif ../repOnlineProdImgEx '!=' null }}
								<img src="{{ ../repOnlineProdImgEx.imgUrl }}" alt="">
							{{/xif}}
							{{#xif ../repOnlineProdImgEx '==' null }}
								<img src="/images/cart/no_img.png" alt="">
							{{/xif}}
						{{/xif}}
						<span class="sr_only">{{../onlineProdName}}</span>
					</label>
				</div>
			</div>
			<div class="item_name">
				<a href="#none" class="title" onclick="fnProdDetail({{ ../onlineProdSn }})">{{ ../onlineProdName }}</a>
				{{#xif ../onlineProdFlagExList.length '>' 0}}
					{{#each ../onlineProdFlagExList}}
						{{#switch prodFlagCode}}
							{{#case "icon_reco_new"}} <span class="flag">신상품</span> {{/case}}
							{{#case "icon_reco_best_w"}} <span class="flag">베스트</span> {{/case}}
							{{#case "icon_pr_prod"}} <span class="flag">이벤트</span> {{/case}}
							{{#case "icon_reco_md"}} <span class="flag">MD추천</span> {{/case}}
							{{#case "icon_reco_online"}} <span class="flag">온라인전용</span> {{/case}}
						{{/switch}}
					{{/each}}
				{{/xif}}
			</div>

			<!--/* 상품 수량 */-->
			<div class="count">
				{{!-- 품절/조기소진일경우 버튼제어 X --}}
				{{#if (and (eq prodEx.saleDisplayStatus 'Exhaustion')(eq prodEx.saleDisplayStatus 'OutOfStock'))}}
					<span class="ui_spinner" data-disabled="true">
						<button class="spinner_decrease" type="button" title="제품 수량 감소"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
						<input class="spinner_input" type="text" name="cartProdQty" value="{{ this.cartProdQty }}">
						<button class="spinner_increase" type="button" title="제품 수량 증가"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
					</span>
				{{/if}}
				{{!-- 최대구매제한여부가 'Y'일 경우 최대구매수량 존재 --}}
				{{#xif prodEx.saleDisplayStatus '===' 'OnSale'}}
					{{#xif prodEx.maxPurLimitYn '===' 'Y'}}
						<span data-min="{{ this.prodEx.minPurLimitQty }}" data-max="{{ this.prodEx.maxPurLimitQty }}" class="ui_spinner" data-step="1" data-disabled="false">
							<button class="spinner_decrease" type="button" title="제품 수량 감소" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.storePickupYn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
							<input class="spinner_input" type="text" name="cartProdQty" value="{{ this.cartProdQty }}">
							<button class="spinner_increase" type="button" title="제품 수량 증가" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.storePickupYn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
						</span>
					{{else}}
						{{!-- 최대구매제한여부가 'N'일경우 최대구매수량은 존재하지 않음 --}}
						<span data-min="{{ this.prodEx.minPurLimitQty }}" class="ui_spinner" data-step="1" data-disabled="false">
							<button class="spinner_decrease" type="button" title="제품 수량 감소" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.storePickupYn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
							<input class="spinner_input" type="text" name="cartProdQty" value="{{ this.cartProdQty }}">
							<button class="spinner_increase" type="button" title="제품 수량 증가" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.storePickupYn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
						</span>
					{{/xif}}
				{{/xif}}
			</div>

			<!--/* 포인트 및 가격 */-->
			<div class="price">
				{{#if (eq prodEx.saleDisplayStatus 'OnSale') }}
					{{#if (and (eq calculationResultYn 'Y')(ne calculationResultProduct.finalOnlineSalesAmountInfo null) ) }}
						<span class="strong"><b>{{numberFormat calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount }}</b>원</span>
					{{/if}}
					{{#if (and (eq calculationResultYn 'N')(ne prodEx.salePrice null) ) }}
						<span class="strong"><b>{{ calc prodEx.salePrice '*' cartProdQty }}</b>원</span>
					{{/if}}
					{{#if (and (eq calculationResultYn 'Y')(ne calculationResultProduct.productSaleAmountInfo null)
							(ne calculationResultProduct.productSaleAmountInfo.standardCurrency.amount calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount) ) }}
						<del><b>{{numberFormat calculationResultProduct.productSaleAmountInfo.standardCurrency.amount }}</b>원</del>
					{{/if}}
				{{/if}}
				{{#if (and (eq prodEx.saleDisplayStatus 'OutOfStock')(ne prodEx.prodTypeCode 'Presale'))}}
					<em>[일시품절]</em>
				{{/if}}
				{{#if (and (eq prodEx.saleDisplayStatus 'Exhaustion')(eq prodEx.prodTypeCode 'Presale'))}}
					<em>[예약판매수량소진]</em>
				{{/if}}
			</div>

			<!--/* 구매/삭제 버튼 */-->
			<div class="btns">
				<button type="button" class="btn_sm_bordered" onclick="removeCartProd('{{ ../../cartSn }}', '{{cartProdSn}}')">삭제</button>
			</div>
		</div>
		{{#xif cartProdAwardList.length '>' 0 }}
			<ul class="freebies">
				{{#each cartProdAwardList}}
					<li>
						<span class="option_name">
							{{#if (ne awardProdEx.repProdImgEx null) }} <img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/> {{/if}}
							{{#if (eq awardProdEx.prodName null) }} 사은품 : {{ awardProdEx.prodName }} {{/if}}
						</span>
						<span class="term">
							{{#if (eq awardStartDt null) }} 기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}} {{/if}}
						</span>
					</li>
				{{/each}}
			</ul>
		{{/xif}}
		{{/each}}

	{{/xif}}

	<!--/* 그룹상품 */-->
	{{#xif singleProdYn '==' 'N'}}

		<div class="item_info">
			<!--/* 상품 선택 */-->
			<div class="item_thumb">
				<div class="check_wrap">
					<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ onlineProdSn }}" value="{{ onlineProdSn }}" {{condition (eq selectYn 'Y') 'checked' ''}}>
					<label for="takeoutChkBox{{ onlineProdSn }}">
						{{#if repOnlineProdImgEx}}
							<img src="{{ repOnlineProdImgEx.imgUrl }}" alt="">
						{{else}}
							<img src="/images/cart/no_img.png" alt="">
						{{/if}}
						<span class="sr_only">{{ onlineProdName }}</span>
					</label>
				</div>
			</div>
			<div class="item_name">
				<a href="#none" class="title" onclick="fnProdDetail({{ onlineProdSn }})">{{ onlineProdName }}</a>
				{{#xif onlineProdFlagExList.length '>' 0}}
					{{#each onlineProdFlagExList}}
						{{#switch prodFlagCode}}
							{{#case "icon_reco_new"}} <span class="flag">신상품</span> {{/case}}
							{{#case "icon_reco_best_w"}} <span class="flag">베스트</span> {{/case}}
							{{#case "icon_pr_prod"}} <span class="flag">이벤트</span> {{/case}}
							{{#case "icon_reco_md"}} <span class="flag">MD추천</span> {{/case}}
							{{#case "icon_reco_online"}} <span class="flag">온라인전용</span> {{/case}}
						{{/switch}}
					{{/each}}
				{{/xif}}
			</div>

			<!--/* 포인트 및 가격 */-->
			<div class="price">
				{{#if (and (ne finalOnlineSalesAmountInfo null)(gt finalOnlineSalesAmountInfo.standardCurrency.amount 0) ) }}
					<span class="strong"><b>{{numberFormat finalOnlineSalesAmountInfo.standardCurrency.amount }}</b>원</span>
				{{/if}}
				{{#if (and (ne productSaleAmountInfo null)(ne productSaleAmountInfo.standardCurrency.amount finalOnlineSalesAmountInfo.standardCurrency.amount))}}
					<del><b>{{numberFormat productSaleAmountInfo.standardCurrency.amount }}</b>원</del>
				{{/if}}
			</div>

			<!--/* 구매/삭제 버튼 */-->
			<div class="btns">
				<button type="button" class="btn_sm_bordered" onclick="removeCartOnlineProd('{{../cartSn}}', '{{ onlineProdSn }}', 'online')">삭제</button>
			</div>
		</div>

		<!--/* 옵션 : 수정, 삭제 가능 */-->
		{{#each cartProdExList}}
			<ul class="item_option">
				<input type="hidden" name="takeoutPrdSn" value="{{prodEx.prodSn}}"/>
				<input type="hidden" name="cartProdSn" value="{{cartProdSn}}"/>
				<input type="hidden" name="takeoutPrdInfo_{{../onlineProdSn}}" value="{{cartProdSn}}"/>
				<input type="hidden" name="saleDisplayStatus_{{prodEx.prodSn}}" value="{{prodEx.saleDisplayStatus}}"/>
				<li>
					<div class="option_name">
						{{!-- 이미지 순위선정 : 1.단위상품 > 2.온라인상품 > noImage --}}
						{{#xif prodEx.repProdImgEx '!=' null }} <img src="{{ prodEx.repProdImgEx.imgUrl }}" alt="">{{ prodEx.prodName }} {{/xif}}
						{{#xif prodEx.repProdImgEx '==' null }}
							{{#xif ../repOnlineProdImgEx '!=' null }}
								<img src="{{ ../repOnlineProdImgEx.imgUrl }}" alt="">{{ prodEx.prodName }}
							{{/xif}}
							{{#xif ../repOnlineProdImgEx '==' null }}
								<img src="/images/cart/no_img.png" alt="">{{ prodEx.prodName }}
							{{/xif}}
						{{/xif}}
					</div>
					<div class="count">
						{{!-- 품절/조기소진일경우 버튼제어 X --}}
						{{#if (and (eq prodEx.saleDisplayStatus 'Exhaustion')(eq prodEx.saleDisplayStatus 'OutOfStock'))}}
							<span class="ui_spinner" data-disabled="true">
								<button class="spinner_decrease" type="button" title="제품 수량 감소"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
								<input class="spinner_input" type="text" name="cartProdQty" value="{{ this.cartProdQty }}">
								<button class="spinner_increase" type="button" title="제품 수량 증가"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
							</span>
						{{/if}}
						{{!-- 최대구매제한여부가 'Y'일 경우 최대구매수량 존재 --}}
						{{#xif prodEx.saleDisplayStatus '===' 'OnSale'}}
							{{#xif prodEx.maxPurLimitYn '===' 'Y'}}
								<span data-min="{{ this.prodEx.minPurLimitQty }}" data-max="{{ this.prodEx.maxPurLimitQty }}" class="ui_spinner" data-step="1" data-disabled="false">
									<button class="spinner_decrease" type="button" title="제품 수량 감소" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.storePickupYn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
									<input class="spinner_input" type="text" name="cartProdQty" value="{{ this.cartProdQty }}">
									<button class="spinner_increase" type="button" title="제품 수량 증가" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.storePickupYn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
								</span>
							{{else}}
								{{!-- 최대구매제한여부가 'N'일경우 최대구매수량은 존재하지 않음 --}}
								<span data-min="{{ this.prodEx.minPurLimitQty }}" class="ui_spinner" data-step="1" data-disabled="false">
									<button class="spinner_decrease" type="button" title="제품 수량 감소" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.storePickupYn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
									<input class="spinner_input" type="text" name="cartProdQty" value="{{ this.cartProdQty }}">
									<button class="spinner_increase" type="button" title="제품 수량 증가" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.storePickupYn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
								</span>
							{{/xif}}
						{{/xif}}
					</div>
					<div class="option_price">
						{{#if (eq prodEx.saleDisplayStatus 'OnSale') }}
							{{#if (and (eq calculationResultYn 'Y')(ne calculationResultProduct.finalOnlineSalesAmountInfo null) ) }}
								<span>{{numberFormat calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount}}원</span>
							{{/if}}
							{{#if (and (eq calculationResultYn 'N')(ne prodEx.salePrice null) ) }}
								<span>{{numberFormat (calc prodEx.salePrice '*' cartProdEx.cartProdQty) }}원</span>
							{{/if}}
						{{/if}}
						{{#if (and (eq prodEx.saleDisplayStatus 'OutOfStock')(ne prodEx.prodTypeCode 'Presale'))}}
							<em>[일시품절]</em>
						{{/if}}
						{{#if (and (eq prodEx.saleDisplayStatus 'Exhaustion')(eq prodEx.prodTypeCode 'Presale'))}}
							<em>[예약판매수량소진]</em>
						{{/if}}
						<button type="button" class="btn_sm_neutral" onclick="fnUnitVariationProds('{{ ../../cartSn}}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}','{{ cartProdQty }}','{{ storePickupYn }}')">옵션변경</button>
					</div>
					<div class="delete">
						<button type="button" class="btn_delete" onclick="removeCartProd('{{ ../../cartSn}}', '{{ cartProdSn }}')"><span class="sr_only">옵션 삭제</span></button>
					</div>
				</li>
			</ul>
			{{#xif cartProdAwardList.length '>' 0 }}
				<ul class="freebies">
					{{#each cartProdAwardList}}
						<li>
							<span class="option_name">
								{{#if (ne awardProdEx.repProdImgEx null) }} <img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/> {{/if}}
								{{#if (eq awardProdEx.prodName null) }} 사은품 : {{ awardProdEx.prodName }} {{/if}}
							</span>
							<span class="term">
								{{#if (eq awardStartDt null) }} 기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}} {{/if}}
							</span>
						</li>
					{{/each}}
				</ul>
			{{/xif}}
		{{/each}}

	{{/xif}}
</div>
{{/each}}