<!--/* 뷰티포인트샵 */-->
<div class="cart_item_box_wrap type2 group">
	<div class="cart_item_box">
		<div class="top_tit_wrap">
			<a href="#none" onclick="goStore('membership')"><h3>뷰티포인트샵</h3></a>
			<div>
				<span class="cart_price point">
					<span class="left_num">
						<strong class="num">{{#if (gt pointSum 0) }}{{numberFormat pointSum }}{{else}}0{{/if}}</strong><span>P</span>
						<span>/</span>
					</span>
					<span class="right_num">
						<span>보유</span>
						<strong class="num">{{#if (ne bpMembershipEx.membershipPoints null) }}{{numberFormat bpMembershipEx.membershipPoints }}{{else}}0{{/if}}</strong><span>P</span>
					</span>
				</span>
			</div>
		</div>
	</div>
	{{#each list}}
		{{#each cartProdExList}}
			<div class="cart_item_box">
				<div class="cart_name_wrap">
					<span class="check_wrap">
						{{#if (and (eq ../onlineProdSn null) (eq prodEx.prodTypeCode 'FreeGift') ) }}
							<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ cartProdSn }}" membership="membership" pointExch="membership" point="{{ exchPoint }}" value="{{ cartProdSn }}" {{#if (and (ne prodEx.saleDisplayStatus 'OnSale')(ne prodEx.saleDisplayStatus null) ) }}disabled{{/if}}  {{condition (and (eq prodEx.saleDisplayStatus 'OnSale')(eq selectYn 'Y') ) 'checked' ''}}>
						{{else}}
							<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ cartProdSn }}" membership="membership" pointExch="membership" point="{{ exchPoint }}" value="{{ cartProdSn }}" {{#if (and (ne prodEx.saleDisplayStatus 'OnSale')) }}disabled{{/if}}  {{condition (and (eq prodEx.saleDisplayStatus 'OnSale')(eq selectYn 'Y') ) 'checked' ''}}>
						{{/if}}
						<label for="takeoutChkBox{{ cartProdSn }}">체크</label>
					</span>
					{{#if (ne prodEx.repProdImgEx null) }}
						<span class="thm_cart_item"><img src="{{ prodEx.repProdImgEx.imgUrl }}" alt=""></span>
					{{else}}
						{{#if (ne ../repOnlineProdImgEx null) }}
							<span class="thm_cart_item"><img src="{{ ../repOnlineProdImgEx.imgUrl }}" alt=""></span>
						{{/if}}
					{{/if}}
					<div class="cart_table_cell">
						{{#xif prodEx.prodFlagExList.length '>' 0}}
							<div class="cart_item_exclusive_wrap">
								{{#each prodEx.prodFlagExList}}
									{{#switch prodFlagCode}}
										{{#case "icon_reco_new"}} <span class="cart_item_exclusive">신상품</span> {{/case}}
										{{#case "icon_reco_best_w"}} <span class="cart_item_exclusive">베스트</span> {{/case}}
										{{#case "icon_pr_prod"}} <span class="cart_item_exclusive">이벤트</span> {{/case}}
										{{#case "icon_reco_md"}} <span class="cart_item_exclusive">MD추천</span> {{/case}}
										{{#case "icon_reco_online"}} <span class="cart_item_exclusive">온라인전용</span> {{/case}}
									{{/switch}}
								{{/each}}
							</div>
						{{/xif}}
						<span class="cart_item_name">
							<a href="#none" class="title" onclick="fnProdDetail({{ ../onlineProdSn }})">
								{{#if (ne prodEx.saleDisplayStatus 'OnSale') }} <em>{{cartStatusTxt prodEx.saleDisplayStatus}}</em> {{/if}} {{ ../onlineProdName }}
							</a>
						</span>
						{{#if (eq ../singleProdYn 'N') }} <b class="cart_item_opt">{{ prodEx.prodName }}</b> {{/if}}
					</div>
					<button type="button" class="btn_cart_item_del" onclick="removeCartProd('{{ ../../cartSn }}', '{{ cartProdSn }}')"><span class="sr_only">없애기</span></button>
				</div>
				<div class="cart_item_info">
					<input type="hidden" name="takeoutMembershipPrdSn" value="{{ prodEx.prodSn }}"/>
					<input type="hidden" name="cartProdSn" value="{{ cartProdSn }}"/>
					<input type="hidden" name="takeoutPrdInfo_{{ cartProdSn }}" value="{{ cartProdSn }}" prodName="{{ prodEx.prodName }}" cartProdQty="{{ cartProdQty }}" minPurLimitQty="{{ prodEx.minPurLimitQty }}" maxPurLimitYn="{{ prodEx.maxPurLimitYn }}" maxPurLimitQty="{{ prodEx.maxPurLimitQty }}"/>
					<input type="hidden" name="saleDisplayStatus_{{ cartProdSn }}" value="{{ prodEx.saleDisplayStatus }}"/>

					<span class="ui_spinner small" data-step="1" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt prodEx.minPurLimitQty 0) ) }} {{#if (gt prodEx.minPurLimitQty cartProdQty) }} data-min="{{ cartProdQty }}" {{else}} data-min="{{ prodEx.minPurLimitQty }}" {{/if}} {{else}} data-min="1" {{/if}} {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(eq prodEx.maxPurLimitYn 'Y') )}} {{#if (gt cartProdQty prodEx.maxPurLimitQty) }} data-max="{{ cartProdQty }}" {{else}} {{#if (gt prodEx.maxPurLimitQty 999) }} data-max="{{ prodEx.maxPurLimitQty }}" {{/if}} {{/if}} {{else}} data-max="999" {{/if}} {{#if (ne prodEx.saleDisplayStatus 'OnSale') }} data-disabled="true" {{else}} data-disabled="false" {{/if}} >
						<button class="spinner_decrease" type="button" title="제품 수량 감소" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt cartProdQty 1)(gt cartProdQty prodEx.minPurLimitQty) ) }} {{else}} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
						<input class="spinner_input" type="text" name="cartProdQty" value="{{ cartProdQty }}">
						<button class="spinner_increase" type="button" title="제품 수량 증가" {{#if (and (eq prodEx.maxPurLimitYn 'Y')(gt cartProdQty prodEx.maxPurLimitQty) ) }} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
					</span>
					<span class="cart_price">
						<span class="left_num">
							<strong class="num">{{#if (ne exchPoint null) }}{{numberFormat exchPoint }}{{else}}0{{/if}}</strong><span>P</span>
						</span>
					</span>
				</div>
				{{#if (gt cartProdAwardList.length 0) }}
					{{#each cartProdAwardList}}
						<div class="cart_free_gift">
							{{#if (ne awardProdEx.repProdImgEx null) }}
								<span class="thm"><img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/></span>
							{{/if}}
							<span class="info">
								<span>사은품 : {{ awardProdEx.prodName }} {{#if (gt awardUnitQty 0 ) }}({{ awardUnitQty }}개) {{/if}}</span>
								<span>증정기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}}</span>
							</span>
						</div>
					{{/each}}
				{{/if}}
			</div>
		{{/each}}
	{{/each}}
</div>