{{#each list }}

	<!--/* M+N프로모션상품 */-->
	<div class="cart_item_box_wrap type2 group">

		<!--/* 동종상품 */-->
		{{#xif promoMPlusNTypeCode '==' 'Same'}}
			{{#each promoOnlineProdExList }}
				{{#each cartProdExList }}
					<div class="cart_item_box">
						<div class="top_tit_wrap">
							<div>
								{{#if (eq promoApplyResultCode 'All') }}
									<p class="mgb10"><em>{{ ../../baseOrdQty }} + {{ ../../freeAwardQty }} 혜택 적용</em></p>
								{{/if}}
								{{#if (eq promoApplyResultCode 'Partial') }}
									<p class="mgb10 typ2"><em>{{ ../../baseOrdQty }} + {{ ../../freeAwardQty }} 혜택 부분적용</em></p>
								{{/if}}
								{{#if (eq promoApplyResultCode 'None') }}
									<p class="mgb10 typ3"><em>{{ ../../baseOrdQty }} + {{ ../../freeAwardQty }} 미적용</em></p>
								{{/if}}
							</div>
							<h3>{{ ../../promoName }}</h3>
							<!-- /* 가격이 들어갈 경우 */ -->
							<span class="cart_price">
								{{#if (eq calculationResultYn 'Y') }}
									{{#if (ne calculationResultProduct.finalOnlineSalesAmountInfo null) }}
										<strong class="num">{{numberFormat calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
									{{/if}}
									{{#if (gt calculationResultProduct.productSaleAmountInfo.standardCurrency.amount calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount) }}
										<del class="num">{{numberFormat calculationResultProduct.productSaleAmountInfo.standardCurrency.amount }}<span>원</span></del>
									{{/if}}
								{{else}}
									{{#if (ne prodEx.salePrice null) }}
										<strong class="num">{{numberFormat (calc prodEx.salePrice '*' cartProdQty) }}</strong><span>원</span>
									{{/if}}
								{{/if}}
							</span>
						</div>
					</div>
					<div class="cart_item_box">
						<div class="cart_name_wrap">
							<span class="check_wrap">
								<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ cartProdSn }}" mnPromo="mnPromo" value="{{ cartProdSn }}" {{#if (ne prodEx.saleDisplayStatus 'OnSale') }}disabled{{/if}}  {{condition (and (eq prodEx.saleDisplayStatus 'OnSale')(eq selectYn 'Y') ) 'checked' ''}}>
								<label for="takeoutChkBox{{ cartProdSn }}">체크</label>
							</span>
							{{#if (ne prodEx.repProdImgEx null) }}
								<span class="thm_cart_item"><img src="{{ prodEx.repProdImgEx.imgUrl }}" alt=""></span>
							{{/if}}
							<div class="cart_table_cell">
								{{#if (gt prodEx.prodFlagExList.length 0) }}
									<div class="cart_item_exclusive_wrap">
										{{#each prodEx.prodFlagExList}}
											{{#switch prodFlagCode}}
												{{#case "icon_reco_new"}} <span class="cart_item_exclusive">신상품</span> {{/case}}
												{{#case "icon_reco_best_w"}} <span class="cart_item_exclusive">베스트</span> {{/case}}
												{{#case "icon_pr_prod"}} <span class="cart_item_exclusive">이벤트</span> {{/case}}
												{{#case "icon_reco_md"}} <span class="cart_item_exclusive">MD추천</span> {{/case}}
												{{#case "icon_reco_online"}} <span class="cart_item_exclusive">온라인전용</span> {{/case}}
											{{/switch}}
										{{/each}}
									</div>
								{{/if}}
								<span class="cart_item_name">
									<a href="#none" onclick="fnProdDetail({{ ../onlineProdSn }})">
										{{#if (ne prodEx.saleDisplayStatus 'OnSale') }} <em>{{cartStatusTxt prodEx.saleDisplayStatus}}</em> {{/if}} {{ ../onlineProdName }}
									</a>
								</span>
								{{#if (eq ../singleProdYn 'N') }} <b class="cart_item_opt">{{ prodEx.prodName }}</b> {{/if}}
							</div>
							<button type="button" class="btn_cart_item_del" onclick="removeCartProd({{ ../../../cartSn }},{{ cartProdSn }})"><span class="sr_only">없애기</span></button>
						</div>
						<div class="cart_item_info">
							<input type="hidden" name="takeoutPrdSn" value="{{ prodEx.prodSn }}"/>
							<input type="hidden" name="cartProdSn" value="{{ cartProdSn }}"/>
							<input type="hidden" name="takeoutPrdInfo_{{ cartProdSn }}" value="{{ cartProdSn }}" prodName="{{ prodEx.prodName }}" cartProdQty="{{ cartProdQty }}" minPurLimitQty="{{ prodEx.minPurLimitQty }}" maxPurLimitYn="{{ prodEx.maxPurLimitYn }}" maxPurLimitQty="{{ prodEx.maxPurLimitQty }}"/>
							<input type="hidden" name="saleDisplayStatus_{{ cartProdSn }}" value="{{ prodEx.saleDisplayStatus }}"/>

							<span class="ui_spinner small" data-step="1" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt prodEx.minPurLimitQty 0) ) }} {{#if (gt prodEx.minPurLimitQty cartProdQty) }} data-min="{{ cartProdQty }}" {{else}} data-min="{{ prodEx.minPurLimitQty }}" {{/if}} {{else}} data-min="1" {{/if}} {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(eq prodEx.maxPurLimitYn 'Y') )}} {{#if (gt cartProdQty prodEx.maxPurLimitQty) }} data-max="{{ cartProdQty }}" {{else}} {{#if (gt prodEx.maxPurLimitQty 999) }} data-max="{{ prodEx.maxPurLimitQty }}" {{/if}} {{/if}} {{else}} data-max="999" {{/if}} {{#if (ne prodEx.saleDisplayStatus 'OnSale') }} data-disabled="true" {{else}} data-disabled="false" {{/if}} >
								<button class="spinner_decrease" type="button" title="제품 수량 감소" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt cartProdQty 1)(gt cartProdQty prodEx.minPurLimitQty) ) }} {{else}} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
								<input class="spinner_input" type="text" name="cartProdQty" value="{{ cartProdQty }}">
								<button class="spinner_increase" type="button" title="제품 수량 증가" {{#if (and (eq prodEx.maxPurLimitYn 'Y')(gt cartProdQty prodEx.maxPurLimitQty) ) }} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
							</span>

							<span class="cart_price">
								{{#if (eq calculationResultYn 'Y') }}
									{{#if (ne calculationResultProduct.finalOnlineSalesAmountInfo null) }}
										<span class="left_num">
											<strong class="num">{{numberFormat calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
										</span>
									{{/if}}
								{{else}}
									{{#if (ne prodEx.salePrice null) }}
										<span class="left_num">
											<strong class="num">{{numberFormat (calc prodEx.salePrice '*' cartProdQty) }}</strong><span>원</span>
										</span>
									{{/if}}
								{{/if}}
							</span>
						</div>
						{{#if (eq cartProdAwardList.length 0) }}
							{{#each cartProdAwardList}}
								<div class="cart_free_gift">
									{{#if (ne awardProdEx.repProdImgEx null) }}
										<span class="thm"><img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/></span>
									{{/if}}
									<span class="info">
										<span>사은품 : {{ awardProdEx.prodName }} {{#if (gt awardUnitQty 0 ) }}({{ awardUnitQty }}개) {{/if}}</span>
										<span>증정기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}}</span>
									</span>
								</div>
							{{/each}}
						{{/if}}
					</div>
					{{#if (ne promoApplyResultCode 'All') }}
						<div class="text_notice_wrap">
							<p class="text_notice">{{calc recommandBaseOrdQty '+' recommandFreeAwardQty }}개 담으면 {{ recommandFreeAwardQty }}개 무료증정</p>
						</div>
					{{/if}}
				{{/each}}
			{{/each}}
		{{/xif}}

		<!--/* 이종상품 */-->
		{{#xif promoMPlusNTypeCode '==' 'Different'}}
			<div class="cart_item_box">
				<div class="top_tit_wrap">
					<div>
						{{#if (eq promoApplyResultCode 'All') }}
							<p class="mgb10"><em>{{ baseOrdQty }} + {{ freeAwardQty }} 혜택 적용</em></p>
						{{/if}}
						{{#if (eq promoApplyResultCode 'Partial') }}
							<p class="mgb10 typ2"><em>{{ baseOrdQty }} + {{ freeAwardQty }} 혜택 부분적용</em></p>
						{{/if}}
						{{#if (eq promoApplyResultCode 'None') }}
							<p class="mgb10 typ3"><em>{{ baseOrdQty }} + {{ freeAwardQty }} 미적용</em></p>
						{{/if}}
					</div>
					<h3>{{ promoName }}</h3>
					<span class="cart_price">
						{{#if (ne finalOnlineSalesAmountInfo null) }}
							<span class="left_num">
								<strong class="num">{{numberFormat finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
							</span>
						{{/if}}
						{{#if (ne productSaleAmountInfo null) }}
							{{#if (and (ne productSaleAmountInfo.standardCurrency.amount finalOnlineSalesAmountInfo.standardCurrency.amount) ) }}
								<span class="right_num">
									<del class="num">{{numberFormat productSaleAmountInfo.standardCurrency.amount }}<span>원</span></del>
								</span>
							{{/if}}
						{{/if}}
					</span>
				</div>
			</div>
			{{#each promoOnlineProdExList }}
				{{#each cartProdExList }}
					{{#if (or (gt @../index 0)(gt @index 0) ) }} <div class="cart_item_box ico_plus"> {{else}} <div class="cart_item_box">  {{/if}}
						<div class="cart_name_wrap">
							<span class="check_wrap">
								<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ cartProdSn  }}" mnPromo="mnPromo" value="{{ cartProdSn }}" {{#if (ne prodEx.saleDisplayStatus 'OnSale') }}disabled{{/if}}  {{condition (and (eq prodEx.saleDisplayStatus 'OnSale')(eq selectYn 'Y') ) 'checked' ''}}>
								<label for="takeoutChkBox{{ cartProdSn }}">체크</label>
							</span>
							{{#if (ne prodEx.repProdImgEx null) }}
								<span class="thm_cart_item"><img src="{{ prodEx.repProdImgEx.imgUrl }}" alt=""></span>
							{{/if}}
							<div class="cart_table_cell">
								{{#if (gt prodEx.prodFlagExList.length 0) }}
									<div class="cart_item_exclusive_wrap">
										{{#each prodEx.prodFlagExList}}
											{{#switch prodFlagCode}}
												{{#case "icon_reco_new"}} <span class="cart_item_exclusive">신상품</span> {{/case}}
												{{#case "icon_reco_best_w"}} <span class="cart_item_exclusive">베스트</span> {{/case}}
												{{#case "icon_pr_prod"}} <span class="cart_item_exclusive">이벤트</span> {{/case}}
												{{#case "icon_reco_md"}} <span class="cart_item_exclusive">MD추천</span> {{/case}}
												{{#case "icon_reco_online"}} <span class="cart_item_exclusive">온라인전용</span> {{/case}}
											{{/switch}}
										{{/each}}
									</div>
								{{/if}}
								<span class="cart_item_name">
									<a href="#none" onclick="fnProdDetail({{ ../onlineProdSn }})">
										{{#if (ne prodEx.saleDisplayStatus 'OnSale') }} <em>{{cartStatusTxt prodEx.saleDisplayStatus}}</em> {{/if}} {{ ../onlineProdName }}
									</a>
								</span>
								{{#if (eq ../singleProdYn 'N') }} <b class="cart_item_opt">{{ prodEx.prodName }}</b> {{/if}}
							</div>
							<button type="button" class="btn_cart_item_del" onclick="removeCartProd({{ ../../../cartSn }},{{ cartProdSn }})"><span class="sr_only">없애기</span></button>
						</div>
						<div class="cart_item_info">
							<input type="hidden" name="takeoutPrdSn" value="{{ prodEx.prodSn }}"/>
							<input type="hidden" name="cartProdSn" value="{{ cartProdSn }}"/>
							<input type="hidden" name="takeoutPrdInfo_{{ cartProdSn }}" value="{{ cartProdSn }}" prodName="{{ prodEx.prodName }}" cartProdQty="{{ cartProdQty }}" minPurLimitQty="{{ prodEx.minPurLimitQty }}" maxPurLimitYn="{{ prodEx.maxPurLimitYn }}" maxPurLimitQty="{{ prodEx.maxPurLimitQty }}"/>
							<input type="hidden" name="saleDisplayStatus_{{ cartProdSn }}" value="{{ prodEx.saleDisplayStatus }}"/>

							<span class="ui_spinner small" data-step="1" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt prodEx.minPurLimitQty 0) ) }} {{#if (gt prodEx.minPurLimitQty cartProdQty) }} data-min="{{ cartProdQty }}" {{else}} data-min="{{ prodEx.minPurLimitQty }}" {{/if}} {{else}} data-min="1" {{/if}} {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(eq prodEx.maxPurLimitYn 'Y') )}} {{#if (gt cartProdQty prodEx.maxPurLimitQty) }} data-max="{{ cartProdQty }}" {{else}} {{#if (gt prodEx.maxPurLimitQty 999) }} data-max="{{ prodEx.maxPurLimitQty }}" {{/if}} {{/if}} {{else}} data-max="999" {{/if}} {{#if (ne prodEx.saleDisplayStatus 'OnSale') }} data-disabled="true" {{else}} data-disabled="false" {{/if}} >
								<button class="spinner_decrease" type="button" title="제품 수량 감소" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt cartProdQty 1)(gt cartProdQty prodEx.minPurLimitQty) ) }} {{else}} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
								<input class="spinner_input" type="text" name="cartProdQty" value="{{ cartProdQty }}">
								<button class="spinner_increase" type="button" title="제품 수량 증가" {{#if (and (eq prodEx.maxPurLimitYn 'Y')(gt cartProdQty prodEx.maxPurLimitQty) ) }} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
							</span>

							<span class="cart_price">
								{{#if (eq calculationResultYn 'Y') }}
									{{#if (ne calculationResultProduct.finalOnlineSalesAmountInfo null) }}
										<span class="left_num">
											<strong class="num">{{numberFormat calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
										</span>
									{{/if}}
								{{else}}
									{{#if (ne prodEx.salePrice null) }}
										<span class="left_num">
											<strong class="num">{{numberFormat (calc prodEx.salePrice '*' cartProdQty) }}</strong><span>원</span>
										</span>
									{{/if}}
								{{/if}}
							</span>
						</div>
						{{#if (gt cartProdAwardList.length 0) }}
							{{#each cartProdAwardList}}
								<div class="cart_free_gift">
									{{#if (ne awardProdEx.repProdImgEx null) }}
										<span class="thm"><img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/></span>
									{{/if}}
									<span class="info">
										<span>사은품 : {{ awardProdEx.prodName }} {{#if (gt awardUnitQty 0 ) }}({{ awardUnitQty }}개) {{/if}}</span>
										<span>증정기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}}</span>
									</span>
								</div>
							{{/each}}
						{{/if}}
					</div>
					{{#if (ne ../../promoApplyResultCode 'All') }}
						<div class="text_notice_wrap">
							<p class="text_notice">{{calc ../../recommandBaseOrdQty '+' ../../recommandFreeAwardQty }}개 담으면 {{ ../../recommandFreeAwardQty }}개 무료증정</p>
						</div>
					{{/if}}
				{{/each}}
			{{/each}}
		{{/xif}}
	</div>
{{/each}}
