<!--/* 일반,예약,특가,묶음상품 */-->
{{#each list}}

	<!--/* 싱글상품 */-->
	{{#if (eq singleProdYn 'Y') }}
		{{#if (eq prodTypeCode 'BulkFixedProd') }} <div class="cart_item_box type2"> {{else}} <div class="cart_item_box"> {{/if}}
			{{#each cartProdExList}}
				<div class="cart_name_wrap">
					<!--/* 상품선택 */-->
					<span class="check_wrap">
				 		<!--/* <input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ cartProdSn }}" value="{{ cartProdSn }}" {{#if (ne prodEx.saleDisplaySatus 'OnSale') }}disabled{{/if}}  {{condition (and (eq prodEx.saleDisplayStatus 'OnSale')(eq selectYn 'Y') ) 'checked' ''}}> */-->
						<input type="checkbox" name="takeoutChkBox" id="takeoutChkBox{{ cartProdSn }}" value="{{ cartProdSn }}" {{#if (ne ../saleDisplayStatus 'OnSale') }}disabled{{/if}} {{condition (and (eq ../saleDisplayStatus 'OnSale')(eq ../selectYn 'Y') ) 'checked' ''}}>
						<label for="takeoutChkBox{{ cartProdSn }}">체크</label>
					</span>
					{{#if (ne prodEx.repProdImgEx null) }}
						<span class="thm_cart_item"><img src="{{ prodEx.repProdImgEx.imgUrl }}" alt=""></span>
					{{else}}
						{{#if (ne ../repOnlineProdImgEx null) }}
							<span class="thm_cart_item"><img src="{{ ../repOnlineProdImgEx.imgUrl }}" alt=""></span>
						{{/if}}
					{{/if}}
					<div class="cart_table_cell">
						{{#xif prodEx.prodFlagExList.length '>' 0}}
							<div class="cart_item_exclusive_wrap">
								{{#each prodEx.prodFlagExList}}
									{{#switch prodFlagCode}}
										{{#case "icon_reco_new"}} <span class="cart_item_exclusive">신상품</span> {{/case}}
										{{#case "icon_reco_best_w"}} <span class="cart_item_exclusive">베스트</span> {{/case}}
										{{#case "icon_pr_prod"}} <span class="cart_item_exclusive">이벤트</span> {{/case}}
										{{#case "icon_reco_md"}} <span class="cart_item_exclusive">MD추천</span> {{/case}}
										{{#case "icon_reco_online"}} <span class="cart_item_exclusive">온라인전용</span> {{/case}}
									{{/switch}}
								{{/each}}
							</div>
						{{/xif}}
						<span class="cart_item_name">
							<a href="#none" class="title" onclick="fnProdDetail({{ ../onlineProdSn }})">
								{{#if (ne prodEx.saleDisplayStatus 'OnSale') }} <em>{{cartStatusTxt prodEx.saleDisplayStatus}}</em> {{/if}} {{ ../onlineProdName }}
							</a>
						</span>
					</div>
					<button type="button" class="btn_cart_item_del" onclick="removeCartProd('{{ ../../cartSn }}', '{{cartProdSn}}')"><span class="sr_only">없애기</span></button>
				</div>
				<div class="cart_item_info">
					<input type="hidden" name="takeoutPrdSn" value="{{prodEx.prodSn}}"/>
					<input type="hidden" name="cartProdSn" prod="prod" value="{{ cartProdSn }}"/>
					<input type="hidden" name="takeoutPrdInfo_{{ cartProdSn }}" value="{{cartProdSn}}" prodName="{{ prodEx.prodName }}" cartProdQty="{{ cartProdQty }}" minPurLimitQty="{{ prodEx.minPurLimitQty }}" maxPurLimitYn="{{ prodEx.maxPurLimitYn }}" maxPurLimitQty="{{ prodEx.maxPurLimitQty }}"/>
					<input type="hidden" name="saleDisplayStatus_{{ cartProdSn }}" value="{{prodEx.saleDisplayStatus}}"/>

					<!--/* 상품수량 */-->
					<span class="ui_spinner small" data-step="1" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt prodEx.minPurLimitQty 0) ) }} {{#if (gt prodEx.minPurLimitQty cartProdQty) }} data-min="{{ cartProdQty }}" {{else}} data-min="{{ prodEx.minPurLimitQty }}" {{/if}} {{else}} data-min="1" {{/if}}  {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(eq prodEx.maxPurLimitYn 'Y') )}} {{#if (gt cartProdQty prodEx.maxPurLimitQty) }} data-max="{{ cartProdQty}}" {{else}} {{#if (gt prodEx.maxPurLimitQty 99) }} data-max="99" {{else}} data-max="{{ prodEx.maxPurLimitQty }}" {{/if}} {{/if}} {{else}} data-max="99" {{/if}} {{#if (ne prodEx.saleDisplayStatus 'OnSale') }} data-disabled="true" {{else}} data-disabled="false" {{/if}} >
						<button class="spinner_decrease" type="button" title="제품 수량 감소" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt cartProdQty 1)(gt cartProdQty prodEx.minPurLimitQty) ) }} {{else}} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
						<input class="spinner_input" type="text" name="cartProdQty" value="{{ cartProdQty }}">
						<button class="spinner_increase" type="button" title="제품 수량 증가" {{#if (and (eq prodEx.maxPurLimitYn 'Y')(gt cartProdQty prodEx.maxPurLimitQty) ) }} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
					</span>

					<!--/* 포인트 및 가격 */-->
					<span class="cart_price">
						{{#if (eq calculationResultYn 'Y') }}
							{{#if (ne calculationResultProduct.finalOnlineSalesAmountInfo null) }}
								<span class="left_num">
									<strong class="num">{{numberFormat calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
								</span>
							{{/if}}
							{{#if (eq prodEx.doublePriceDisplayYn 'Y') }}
								{{#if (ne calculationResultProduct.productSaleAmountInfo null) }}
									{{#if (ne calculationResultProduct.productSaleAmountInfo.standardCurrency.amount this.calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount) }}
										<span class="right_num">
											<del class="num">{{numberFormat calculationResultProduct.productSaleAmountInfo.standardCurrency.amount }}<span>원</span></del>
										</span>
									{{/if}}
								{{/if}}
							{{/if}}
						{{else}}
							{{#if (ne prodEx.salePrice null) }}
								<span class="left_num">
									<strong class="num">{{numberFormat (calc prodEx.salePrice '*' cartProdQty) }}</strong><span>원</span>
								</span>
							{{/if}}
						{{/if}}
					</span>
				</div>
				<!--/* 묶음상품 */-->
				{{#if (gt cartBulkIncludedProdExList.length 0) }}
					<div class="cart_item_scroll type3">
						{{#each cartBulkIncludedProdExList }}
							<input type="hidden" name="bulkPrdInfo_{{ ../cartProdSn }}" cartBulkIncludedProdSn="{{ cartBulkIncludedProdSn }}" bulkDcIncludedProdGrpSn="{{ bulkDcIncludedProdGrpSn }}" includedProdSn="{{ includedProdSn }}" includedProdQty="{{ includedProdQty }}"/>
							<div class="cart_item_info">
								<span class="cart_option_name">{{ includeProdEx.prodName }}</span>
								<span class="prd_num">{{ includedProdQty }}개</span>
							</div>
						{{/each}}
					</div>
				{{/if}}
				<!--/* 사은품상품 */-->
				{{#if (gt cartProdAwardList.length 0) }}
					{{#each cartProdAwardList}}
						<div class="cart_free_gift">
							{{#if (ne awardProdEx.repProdImgEx null) }}
								<span class="thm"><img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/></span>
							{{/if}}
							<span class="info">
								<span>사은품 : {{ awardProdEx.prodName }} {{#if (gt awardUnitQty 0 ) }}({{ awardUnitQty }}개) {{/if}}</span>
								<span>증정기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}}</span>
							</span>
						</div>
					{{/each}}
				{{/if}}
			{{/each}}
		</div>
	{{/if}}

	<!--/* 그룹상품 */-->
	{{#if (eq singleProdYn 'N') }}
		<div class="cart_item_box type2">
			<div class="cart_name_wrap">
				<span class="check_wrap">
					<input type="checkbox" name="takeoutChkBox" id="takeoutChkBoxO_{{ onlineProdSn }}" value="O_{{onlineProdSn}}" {{#if (ne saleDisplayStatus 'OnSale') }}disabled{{/if}}  {{condition (and (eq saleDisplayStatus 'OnSale')(eq selectYn 'Y') ) 'checked' ''}}>
					<label for="takeoutChkBoxO_{{ onlineProdSn }}">체크</label>
				</span>
				{{#if (ne repOnlineProdImgEx null) }}
					<span class="thm_cart_item"><img src="{{ repOnlineProdImgEx.imgUrl }}" alt=""></span>
				{{else}}
					<img src="" class="thm_cart_item" alt="">
				{{/if}}
				<div class="cart_table_cell">
					{{#if (gt onlineProdFlagExList.length 0) }}
						<div class="cart_item_exclusive_wrap">
							{{#each onlineProdFlagExList}}
								{{#switch prodFlagCode}}
									{{#case "icon_reco_new"}} <span class="cart_item_exclusive">신상품</span> {{/case}}
									{{#case "icon_reco_best_w"}} <span class="cart_item_exclusive">베스트</span> {{/case}}
									{{#case "icon_pr_prod"}} <span class="cart_item_exclusive">이벤트</span> {{/case}}
									{{#case "icon_reco_md"}} <span class="cart_item_exclusive">MD추천</span> {{/case}}
									{{#case "icon_reco_online"}} <span class="cart_item_exclusive">온라인전용</span> {{/case}}
								{{/switch}}
							{{/each}}
						</div>
					{{/if}}
					<span class="cart_item_name"><a href="#none" onclick="fnProdDetail({{ onlineProdSn }})">{{ onlineProdName }}</a></span>
				</div>
			</div>
			<div class="cart_item_info nospinner">
				<span class="cart_price">
					{{#if (and (ne finalOnlineSalesAmountInfo null)(gt finalOnlineSalesAmountInfo.standardCurrency.amount 0) ) }}
						<span class="left_num">
							<strong class="num">{{numberFormat finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
						</span>
					{{/if}}
					{{#if (and (ne productSaleAmountInfo null)(ne productSaleAmountInfo.standardCurrency.amount finalOnlineSalesAmountInfo.standardCurrency.amount))}}
						<span class="right_num">
							<del class="num">{{numberFormat productSaleAmountInfo.standardCurrency.amount }}<span>원</span></del>
						</span>
					{{/if}}
				</span>
			</div>
			<div class="cart_item_scroll">
				{{#each cartProdExList}}
					<div class="cart_item_info">
						<input type="hidden" name="takeoutPrdSn" value="{{prodEx.prodSn}}"/>
						<input type="hidden" name="cartProdSn" prod="prod" value="{{ cartProdSn }}"/>
						<input type="hidden" name="takeoutPrdInfo_O_{{ ../onlineProdSn }}" value="{{cartProdSn}}" prodName="{{ prodEx.prodName }}" cartProdQty="{{ cartProdQty }}" minPurLimitQty="{{ prodEx.minPurLimitQty }}" maxPurLimitYn="{{ prodEx.maxPurLimitYn }}" maxPurLimitQty="{{ prodEx.maxPurLimitQty }}"/>
						<input type="hidden" name="saleDisplayStatus_O_{{ ../onlineProdSn }}" value="{{prodEx.saleDisplayStatus}}"/>
						<div class="cart_option_name">
							{{#if (ne prodEx.repProdImgEx null) }}
								<img src="{{ prodEx.repProdImgEx.imgUrl }}" class="cart_option_name_thm" alt="">
							{{else}}
								{{#if (ne ../repOnlineProdImgEx null) }}
									<img src="{{ ../repOnlineProdImgEx.imgUrl }}" class="cart_option_name_thm" alt="">
								{{/if}}
							{{/if}}
							<span>{{ prodEx.prodName }}</span>
						</div>

						<!--/* 상품수량 */-->
						<span class="ui_spinner small" data-step="1" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt prodEx.minPurLimitQty 0) ) }} {{#if (gt prodEx.minPurLimitQty cartProdQty) }} data-min="{{ cartProdQty }}" {{else}} data-min="{{ prodEx.minPurLimitQty }}" {{/if}} {{else}} data-min="1" {{/if}}  {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(eq prodEx.maxPurLimitYn 'Y') )}} {{#if (gt cartProdQty prodEx.maxPurLimitQty) }} data-max="{{ cartProdQty}}" {{else}} {{#if (gt prodEx.maxPurLimitQty 99) }} data-max="99" {{else}} data-max="{{ prodEx.maxPurLimitQty }}" {{/if}} {{/if}} {{else}} data-max="99" {{/if}} {{#if (ne prodEx.saleDisplayStatus 'OnSale') }} data-disabled="true" {{else}} data-disabled="false" {{/if}} >
							<button class="spinner_decrease" type="button" title="제품 수량 감소" {{#if (and (eq prodEx.saleDisplayStatus 'OnSale')(gt cartProdQty 1)(gt cartProdQty prodEx.minPurLimitQty) ) }} {{else}} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
							<input class="spinner_input" type="text" name="cartProdQty" value="{{ cartProdQty }}">
							<button class="spinner_increase" type="button" title="제품 수량 증가" {{#if (and (eq prodEx.maxPurLimitYn 'Y')(gt cartProdQty prodEx.maxPurLimitQty) ) }} disabled {{/if}} onclick="prodQtyOperate(this, '{{ ../../cartSn }}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}', '{{ integrationMembershipExchYn }}', '{{ activityPointExchYn }}', '{{ storePickupYn }}', '{{ storeSn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
						</span>
						<button type="button" class="btn_md btn_option_change" onclick="fnUnitVariationProds('{{ ../../cartSn}}', '{{ cartProdSn }}', '{{ prodEx.prodSn }}','{{ cartProdQty }}','{{ storePickupYn }}')">옵션변경</button>

						<!--/* 포인트 및 가격 */-->
						<span class="cart_price">
							{{#if (eq prodEx.saleDisplayStatus 'OnSale') }}
								{{#if (eq calculationResultYn 'Y') }}
									{{#if (ne calculationResultProduct.finalOnlineSalesAmountInfo null) }}
										<span class="left_num">
											<strong class="num">{{numberFormat calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
										</span>
									{{/if}}
									<!--/* 그룹상품은 이중가표기를 않한다. */-->
								{{else}}
									{{#if (ne prodEx.salePrice null) }}
										<span class="left_num">
											<strong class="num">{{numberFormat (calc prodEx.salePrice '*' cartProdQty) }}</strong><span>원</span>
										</span>
									{{/if}}
								{{/if}}
							{{else}}
								<em>{{cartStatusTxt prodEx.saleDisplayStatus}}</em>
							{{/if}}
						</span>
						<button type="button" class="btn_option_del" onclick="removeCartProd('{{ ../../cartSn}}', '{{ cartProdSn }}')"><span class="sr_only">없애기</span></button>
					</div>
					<!--/* 사은품상품 */-->
					{{#if (gt cartProdAwardList.length 0) }}
						{{#each cartProdAwardList}}
							<div class="cart_free_gift">
								{{#if (ne awardProdEx.repProdImgEx null) }} <span class="thm"><img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/></span> {{/if}}
								<span class="info">
									<span>사은품 : {{ awardProdEx.prodName }} {{#if (gt awardUnitQty 0 ) }}({{ awardUnitQty }}개) {{/if}}</span>
									<span>증정기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}}</span>
								</span>
							</div>
						{{/each}}
					{{/if}}
				{{/each}}
			</div>
		</div>
	{{/if}}
{{/each}}