{{#xif totalLength '>' 0}}
	{{#each result}}
		<tr>
			<td>{{calc ../cnt '-' @index}}</td>
			<td class="align_left">
				<a href="/cs/noticeView/{{foNoticeSn}}">
					<span class="type">[{{noticeTypeName}}]</span>
					{{foNoticeTitle}}
				</a>
			</td>
			<td>245</td>
			<td>{{dateFormat noticeStartDt 'YYYY.MM.DD'}}</td>
		</tr>
	{{/each}}
{{/xif}}