{{#xif totalLength '>' 0 }}
    {{#each result }}
    
		<div class="panel store">
			<div class="store_wrap">
				<h3 class="store_title">{{storeName}}</h3>
				<!-- <span class="check_wrap star">
					<input type="radio"  name="rep" id="{{storeName}}" value="{{storeSn}}" {{checkedIf defaultStoreYn}}>
					<label for="{{storeName}}">기본매장</label>
				</span> -->
			</div>
			<div class="store_info">
				<p class="store_addr">{{address.address1}}	
					<a href="tel:{{phoneNo1.phoneNo}}" class="store_phone">{{phoneNo1.phoneNo}}</a><!--/*20180622 : 전화연결 수정*/-->
				</p>
			<!-- open시 해당 영역에 class="on" 이 들어간다. -->
				<div class="store_btn_wrap">
					<button class="btn_md w50p map_call" latitude="{{latitude}}" longitude="{{longitude}}">지도보기</button>
					{{#xif regularStoreYn '===' 'Y'}}
                        <button class="btn_md w50p del" value="{{storeSn}}" name="{{storeName}}">단골해제</button>
                    {{else}}
                        <button class="btn_md w50p del off" value="{{storeSn}}" name="{{storeName}}">단골등록</button>
                    {{/xif}}
				</div>

				<div class="store_map_wrap">
					<div class="map_area"></div>
				</div>
			</div>
		</div>
    {{/each}}
{{else}}
	<div class="store_list_wrap type2">
		<!--/*20180626 : 검색된 단골매장 목록이 없을경우*/-->
		<div class="panel notice">
			<i class="ico"></i>
			<p class="font_df color_dark_gray">{{keyword}}</p>
			<p class="font_sm">매장 검색 결과가 없습니다.</p>

			<div class="panel gray">
				<ul class="list_bullet_dot">
					<li>입력하신 매장명 또는 지역명을 다시 확인해 주세요.</li>
					<li>관련 문의는 고객센터 (1544-5418)로 연락주세요.</li>
				</ul>
			</div>
		</div>
	</div>
{{/xif}}