<dl>
	<dt>상품금액</dt>
	<dd class="price"><b>{{numberFormat (calc cartEx.calculationResult.prodSaleTotalAmountInfo.standardCurrency.amount '+' cartEx.calculationResult.exchIPointSum ) }}</b>원</dd>
	<dd class="details">
		<dl>
			<b>Apmall <span name="totalPrdCnt">0</span>개 상품</b>
			<dd>{{numberFormat cartEx.calculationResult.onlineShipProdSaleTotalAmountInfo.standardCurrency.amount }}원</dd>
		</dl>
	</dd>
</dl>
<dl class="shipping_costs">
	<dt>배송비</dt>
	<dd class="price"><b>{{numberFormat cartEx.calculationResult.shipFeeSumInfo.standardCurrency.amount }}</b>원</dd>
	<!-- 배송비 세부항목 추가 (180822) -->
	<dd class="details">
		<dl>
			<dt>Apmall 배송비</dt>
			<dd>{{numberFormat cartEx.calculationResult.shipFeeSumInfo.standardCurrency.amount }}원</dd>
		</dl>
	</dd>
	<!--// 배송비 세부항목 추가 (180822) -->
</dl>
{{#if (ne cartEx.cartMemberEx null) }}
<dl>
	코딩 필요
	<dt>뷰티포인트 사용 <em class="my_point">보유 50,000 <i class="ico_p_b_s"></i></em></dt>
	<dd class="price"><b>12,000</b>P</dd>
	<dd class="details">
		<dl>
			<dt>뷰티포인트 상품 1개</dt>
			<dd><span>12,000</span>P</dd>
		</dl>
	</dd>
</dl>
{{/if}}
<dl>
	<dt>할인내역</dt>
	<dd class="price"><b>{{numberFormat (calc cartEx.calculationResult.totalProdUnitDiscountAmountInfo.standardCurrency.amount '+' cartEx.calculationResult.exchIPointSum '+' cartEx.calculationResult.exchAPointSum ) }}</b>원</dd>
	<dd class="details">
		<dl>
			<dt>상품할인</dt>
			<dd><span>{{numberFormat cartEx.calculationResult.dsicountAmountInfoByOnlineProdDc.standardCurrency.amount }}</span>원</dd>
		</dl>
	</dd>
</dl>
<dl class="total">
	<dt><b>예상 결제 금액</b></dt>
	<dd class="price"><em><b>{{numberFormat cartEx.calculationResult.paidAmountInfo.standardCurrency.amount }}</b>원</em></dd>
</dl>