<button type="button" class="option_close" onclick="optionCloseFn()"><span class="sr_only">옵션선택 레이어 닫기</span></button>
<!--/* 옵션선택 select */-->
<div class="option_select_wrap">
	<div class="ui_select type2" data-not-label-change="true">
		<input type="hidden" name="">
		<button type="button">옵션을 선택해주세요</button>
		<ul class="select_options option_select_list">
			{{#each list}}
				<li class="select_option">
					<code class="label_markup" style="display:none">{{ prodName }}</code>
					<input type="hidden" prodSn="{{prodSn}}" prodName="{{prodName}}" onlineSalePrice="{{ onlineSalePrice }}"  minPurLimitQty="{{minPurLimitQty}}" maxPurLimitQty="{{maxPurLimitQty}}" maxPurLimitYn="{{ maxPurLimitYn }}">
					{{#switch saleDisplayStatus}}
						{{#case "OnSale"}}
							<a data-value="{{ prodSn }}">
								{{#if (ne repProdImgEx.imgUrl null) }}
									<span class="color_chip"><img alt="{{ prodName }}" src="{{ repProdImgEx.imgUrl }}"></span>
								{{else}}
									<span class="color_chip" style="background-color: #f00;"></span>
								{{/if}}
								<span class="option_info">
									<span class="option_name">{{ prodName }}</span>
									<span class="price">
										{{#if null}}<em class="discount">30%</em>{{/if}}
										<b class="num">{{numberFormat onlineSalePrice }}</b>원
										{{#if null}}<del>42,000원</del>{{/if}}
									</span>
								</span>
							</a>
						{{/case}}
						{{#case "Exhaustion"}}
							<a data-value="{{ prodSn }}" class="out_of_stock">
								{{#if (ne repProdImgEx.imgUrl null) }}
									<span class="color_chip"><img alt="{{ prodName }}" src="{{ repProdImgEx.imgUrl }}"></span>
								{{else}}
									<span class="color_chip" style="background-color: #f00;"></span>
								{{/if}}
								<span class="option_info">
									<span class="option_name">{{ prodName }}</span>
									<small>조기소진</small>
								</span>
							</a>
						{{/case}}
						{{#case "OutOfStock"}}
							<a data-value="{{ prodSn }}" class="out_of_stock"> <!--/* 일시품절시.. 선택 가능 */-->
								{{#if (ne repProdImgEx.imgUrl null) }}
									<span class="color_chip"><img alt="{{ prodName }}" src="{{ repProdImgEx.imgUrl }}"></span>
								{{else}}
									<span class="color_chip" style="background-color: #f00;"></span>
								{{/if}}
								<span class="option_info">
									<span class="option_name">{{ prodName }}</span>
									<span class="price">
											<small>일시품절</small>
									</span>
								</span>
							</a>
						{{/case}}
					{{/switch}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
<!--/* 선택된 옵션 scroll area */-->
<div class="selected_option_wrap scrollable_y"> <!--/* option_select_wrap 와 order_bottom 사이즈를 제외한 max-height 필요*/-->
	<!--/* 단독으로 쓰이는 경우 옵션 삭제 버튼 없음 */-->
	<input type="hidden" id="opProdInfo" selOpProdSn="" selOpProdDefaultPrice="{{ selProdPrice }}"  selOpMinPurLimitQty="{{opMinPurLimitQty}}" selOpMaxPurLimitQty="{{opMaxPurLimitQty}}" selOpMaxPurLimitYn="{{ opMaxPurLimitYn }}">
	<div class="selected_option">
		<div class="option_name" id="opProdName">{{ selProdName }}</div>
		<div class="ui_spinner" data-min="1" data-max="20" data-step="1" data-disabled="false">
			<button class="spinner_decrease" type="button"><i class="ico_oper_p" onclick="optionCntChange('-');"></i><span class="sr_only">제품 수량 감소</span></button>
			<input class="spinner_input" type="text" title="선택품목갯수" id="opProdCnt" value="{{ cartProdQty }}" name="">
			<button class="spinner_increase" type="button" ><i class="ico_oper_p plus" onclick="optionCntChange('+');"></i><span class="sr_only">제품 수량 증가</span></button>
		</div>
		<div class="price"><b id="opProdPrice">{{numberFormat (calc selProdPrice '*' cartProdQty) }}</b>원</div>
	</div>
</div>
<div class="order_bottom">
	<!--/* 버튼 */-->
	<div class="purchase_btns">
		<button type="button" class="btn_lg_neutral">주문변경</button>
	</div>
</div>