<div class="panel gray">


	{{#each pgList}}

		{{#xif @index '>' 0}}
			<hr class="div dotted">
		{{/xif}}
		<dl class="table_layout">
			<dt>{{condition (eq payMethodTypeCode 'Deposit') '예치금' payMethodNameBlang}}</dt>
			<dd class="align_right">{{currencyFormatDefault payAmt '원'}}
				{{#xif refundAmtSum '>' 0}}
					<br>-{{currencyFormatDefault refundAmtSum '원'}}
				{{/xif}}
			</dd>
		</dl>

		{{#xif payMethodCode '===' 'virtual-account'}}
			<dl class="table_layout">
				<dt>입금정보</dt>
				<dd class="align_right w70p">
					{{pgPayEx.virtualBankAcBankName}}  {{pgPayEx.virtualDepositBankAcNo}}<br>
					{{pgPayEx.virtualBankAcAcHolder}}<br>
					<em>입금기한 {{dateFormat pgPayEx.virtualBankAcDeadlineDt "YYYY-MM-DD"}} 까지</em>
				</dd>
			</dl>
			<dl class="table_layout">
				<dt>송금자</dt>
				<dd class="align_right">{{pgPayEx.virtualBankAcRemitter}}</dd>
			</dl>
			<dl class="table_layout">
				<dt>결제 처리일</dt>
				<dd class="align_right">
				{{#xif payStatusCode '==' 'Complete'}}
					{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:MM:SS"}}
				{{else}}
					<em>입금 미확인</em>
				{{/xif}}
				</dd>
			</dl>
		{{/xif}}

		{{#xif payMethodCode '===' 'credit-card'}}
			<dl class="table_layout">
				<dt>결제정보</dt>
				<dd class="align_right w70p">{{pgPayEx.cardCoName}}({{pgPayEx.cardNo}})<br>
					{{creditcardPayType pgPayEx}}<br>
					{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:MM:SS"}}</dd>
			</dl>
		{{/xif}}

		{{#xif payMethodCode '===' 'wpay'}}
			<dl class="table_layout">
				<dt>결제정보</dt>
				<dd class="align_right w70p">({{pgPayEx.cardNo}})<br>
					{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:MM:SS"}}</dd>
			</dl>
		{{/xif}}

		{{#xif payMethodCode '===' 'mobile-phone-pay'}}
			<dl class="table_layout">
				<dt>결제정보</dt>
				<dd class="align_right w70p">{{pgPayEx.mobilePhoneNo}}<br>
					{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:MM:SS"}}</dd>
			</dl>
		{{/xif}}

		{{#xif payMethodCode '===' 'payco'}}
			<dl class="table_layout">
				<dt>결제정보</dt>
				<dd class="align_right w70p">{{pgPayEx.cardCoName}}({{pgPayEx.cardNo}})<br>
					{{creditcardPayType pgPayEx}}<br>
					{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:MM:SS"}}
				</dd>
			</dl>
		{{/xif}}

		{{#xif payMethodCode '===' 'bank-ac-transfer'}}
			<dl class="table_layout">
				<dt>출금정보</dt>
				<dd class="align_right w70p">
					{{pgPayEx.bankName}}<br>
					{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:MM:SS"}}
				</dd>
			</dl>
		{{/xif}}

		<!--<dl class="table_layout">-->
			<!--<dt>{{pgName}}</dt>-->
			<!--<dd class="align_right w70p">{{currencyFormatDefault pgPayAmt '원'}}</dd>-->
		<!--</dl>-->

	{{/each}}
</div>