<fieldset class="form sel" id="{{ordHistProdNo}}">
	<legend class="sr_only">반품사유 선택 및 입력</legend>
	<div class="input_group">
		<div>
			<select name="" id="rs_{{ordHistProdNo}}" title="반품사유 선택" ordHistProdNo="{{ordHistProdNo}}">
				{{#each reason.claimReasonExList}}
					<option value="{{claimReasonSn}}" ordHistProdNo="{{../ordHistProdNo}}">{{reasonName}}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="input_group">
		<div>
			<input id="rst_{{ordHistProdNo}}" type="text" placeholder="사유를 입력해주세요.">
		</div>
	</div>
</fieldset>