<div class="product">
	<div class="check_wrap check_only" style="display: none">
		<input type="checkbox" name="goods" id="{{prod.onlineProdCode}}" value="{{prod.onlineProdCode}}" onclick="selectOnlineProd(this);">
		<label for="{{prod.onlineProdCode}}"><span class="sr_only">선택</span></label>
	</div>

	<div class="thumb">
		<img src="{{prod.onlineProdImgUrl}}">
	</div>
	<div class="info">
		{{#xif typeName '!=' null}}
			<p class="flag">{{condition (eq typeName 'a') '진주알 상품' '뷰티포인트'}}</p>
		{{/xif}}
		<p class="name">{{prod.onlineProdName}}</p>

		{{#if (or (eq step 2)(eq claimYn 'Y'))}}
		<p><strong class="num font_md">{{prod.cancelQtySum}}</strong>개 /
		{{else}}
		<p><strong class="num font_md">{{calc prod.ordQtySum '-' prod.cancelQtySum}}</strong>개 /
		{{/if}}
		<strong class="num font_md">{{currencyFormat prod.finalOnlineSaleAmtPcurSum}}</strong></p>
	</div>
	{{#xif prod.ordHistProdStatusCode '===' 'ProdCancel'}}
		<div class="status">
			<p><em>취소완료</em></p>
		</div>
	{{/xif}}

</div>