{{#xif state '===' 'take'}}
	{{#xif prod.storeEx '!=' null}}
		<div class="takeout_title">
			<p class="w70p"><strong>{{prod.storeEx.storeName}}</strong> <span class="color_gray2 font_md">({{prod.storeEx.phoneNo1.phoneNo}})</span></p>
			<div><button type="button" class="btn_sm_neutral type2" onclick="takeOutStoreInfo({{json prod.storeEx}})">매장보기</button></div>
		</div>
	{{/xif}}
{{/xif}}

<div class="product">
	<div class="check_wrap check_only" style="display: none">
		{{#xif prod.ordHistProdTypeCode '===' 'BulkDc'}}
			<input type="checkbox" name="goods" id="{{prod.bulkDcOnlineProdCode}}" value="{{prod.bulkDcOnlineProdCode}}" onclick="selectOnlineProd(this);">
			<label for="{{prod.bulkDcOnlineProdCode}}"><span class="sr_only">선택</span></label>
		{{else}}
			<input type="checkbox" name="goods" id="{{prod.onlineProdCode}}" value="{{prod.onlineProdCode}}" onclick="selectOnlineProd(this);">
			<label for="{{prod.onlineProdCode}}"><span class="sr_only">선택</span></label>
		{{/xif}}
	</div>
	<div class="thumb">
		<img src="{{prod.onlineProdImgUrl}}">
	</div>
	<div class="info">
		{{#xif typeName '!=' null}}
			<p class="flag">{{condition (eq typeName 'a') '진주알 상품' '뷰티포인트'}}</p>
		{{/xif}}
		{{#xif prod.ordHistProdTypeCode '===' 'BulkDc'}}
			<p class="name">{{prod.bulkDcOnlineProdName}}</p>
		{{else}}
			<p class="name">{{prod.onlineProdName}}</p>
		{{/xif}}

		<p><strong class="num font_md">{{myOrdQty 'group' prod step claimYn}}</strong>개 /

		<strong class="num font_md">{{currencyFormat prod.finalOnlineSaleAmtPcurSum}}</strong></p>
	</div>
	{{#xif prod.ordHistProdStatusCode '===' 'ProdCancel'}}
		<div class="status">
			<p><em>취소완료</em></p>
		</div>
	{{/xif}}

</div>