{{#each this.addAttrs}}
	{{#xif this.addAttrCode '==' 'color'}}
		{{#each this.addAttrVals}}
			{{#xif this.selected '==' true}}
				<div class="color_sel"><a href="javascript:;" style="background-color:{{ this.addAttrValCode }}" data-attr="{{ ../addAttrCode }}" data-value="{{ this.addAttrValCode }}"></a></div>
			{{/xif}}
		{{/each}}
	{{else}}
		{{#each this.addAttrVals}}
			{{#xif this.selected '==' true}}
				<div class="brand_sel"><span><em>{{ this.addAttrValName }}</em><a class="{{#xif ../addAttrCode '==' 'price'}}price{{/xif}}" href="javascript:;" data-attr="{{ ../addAttrCode }}" data-value="{{ this.addAttrValCode }}">닫기</a></span></div>
			{{/xif}}
		{{/each}}
	{{/xif}}
{{/each}}