<div class="srch_filter_wrap">
	<div class="ui_accordion">
		{{#each addAttrs}}
			{{#xif this.addAttrsName '==' '색상'}}
				<dl>
					<dt class="on"><button type="button"><span>{{ this.addAttrsName }}<i class="ico_navi"></i></span></button></dt>
					<dd>
						<div class="srch_filter_list01">
							<div class="color_ck_list">
								{{#each addAttrVals}}
									<span style="background-color:{{ this.addAttrValCode }}" data-value="{{ this.addAttrValCode }}" class="btn{{#xif this.selected '==' true}} on{{/xif}}"></span>
								{{/each}}
								<!--<span class="btn"><img src="/mo/ko/images/dummy/img_ck_col01.png" alt=""></span>-->
								<!--<span class="btn"><img src="/mo/ko/images/dummy/img_ck_col01.png" alt=""></span>-->
							</div>
						</div>
					</dd>
				</dl>
			{{else}}
				{{#xif this.addAttrsName '==' '가격' }}
					<dl class="price">
						<dt class="on"><button type="button"><span>가격<i class="ico_navi"></i></span></button></dt>
						<dd>
							<div class="price_sel01">
								<ul>
									{{#each addAttrVals}}
										<li><a href="javascript:;" class="btn{{#xif this.selected '==' true}} on{{/xif}}" data-value="{{ this.addAttrValCode }}" data-min="{{ this.min }}" data-max="{{ this.max }}">{{ this.addAttrValName }}</a></li>
									{{/each}}
								</ul>
							</div>
							<div class="price_input_area">
								<form class="validate">
									<span class="input_h48_gray">
										<input type="text" name="min" class="min" placeholder="최소금액" number="number" data-msg="숫자만 입력해 주세요.">
									</span><span class="p_bar">-</span><span class="input_h48_gray">
										<input type="text" name="max" class="max" placeholder="최대금액" number="number" data-msg="숫자만 입력해 주세요.">
									</span>
								</form>
							</div>
						</dd>
					</dl>
				{{else}}
					<dl>
						<dt class="on"><button type="button"><span>{{ this.addAttrsName }}<i class="ico_navi"></i></span></button></dt>
						<dd>
							<div class="srch_filter_list01">
								<ul>
									{{#each this.addAttrVals}}
										<li><a href="javascript:;" class="btn{{#xif this.selected '==' true}} on{{/xif}}" data-value="{{ this.addAttrValCode }}">{{ this.addAttrValName }}</a></li>
									{{/each}}
								</ul>
							</div>
						</dd>
					</dl>
				{{/xif}}
			{{/xif}}
		{{/each}}
	</div>
	<div class="btn_wrap">
		<ul class="btn_col2_area">
			<li><a href="javascript:;" class="btn_h50_gy reset">초기화</a></li>
			<li><a href="javascript:;" class="btn_h50_bk apply">적용</a></li>
		</ul>
	</div>
</div>