<ul class="ix-list-items">
	{{#each this.contentsSets}}
		<li class="ix-list-item">
			<a href="{{ this.contents.[0].linkUrl }}" class="lazy_load_wrap">
				<img src="" data-src="{{ this.contents.[0].imgUrl }}" alt="" class="lazy_load">
				<span class="cont">
					<b class="eng">{{ this.contents.[1].text }}</b>
					{{#if this.contents.[2]}}<span class="tag">{{ toTagshape this.contents.[2].text }}</span>{{/if}}
					{{#if this.contents.[3]}}<span class="tag">{{ toTagshape this.contents.[3].text }}</span>{{/if}}
					{{#if this.contents.[4]}}<span class="tag">{{ toTagshape this.contents.[4].text }}</span>{{/if}}
					{{#if this.contents.[5]}}<span class="tag">{{ toTagshape this.contents.[5].text }}</span>{{/if}}
				</span>
			</a>
		</li>
	{{/each}}
</ul>