<form class="validate" action="">
	<!-- tab menu wrap -->
	<div class="ui_tab">
		<!-- tab menu -->
		<div class="tab_menu box equally">
			<ul>
				<li class="on"><button type="button">전체 쓰기</button></li>
				<li><button type="button">상품선택 쓰기</button></li>
			</ul>
		</div>
		<!-- tab contents wrap -->
		<div class="tab_contents">
			<!-- tab content -->
			<div class="tab_cont tab_all_writing">
				<h3 class="sr_only">전체 쓰기</h3>
				<div class="all_writing_wrap">
					<div>주문번호<a href="/my/page/order/detail/{{this.orderNo}}">{{ this.orderNo }}</a></div>
					<div>
						전체주문상품
						<span class="ui_tooltip_wrap">
							<span class="ui_tooltip">
								<button type="button" class="btn_tooltip">툴팁보기</button>
								<span class="arr"></span>
								<span class="layer_tooltip">
									<span class="title bdb_none">전체주문상품 {{ this.products.length }}개</span>
									<ul>
										{{#each this.products}}
											<li>
												<span>{{ this.prodName }}</span>
												<input type="hidden" name="ps" value="{{ this.prodSn }}">
												{{#xif this.reviewWriteYn '==' 'Y'}}
													<b class="on">작성완료</b>
												{{/xif}}
											</li>
										{{/each}}
									</ul>
									<button type="button" class="ui_close"><span class="sr_only">툴팁 닫기</span></button>
								</span>
							</span>
						</span>
					</div>
				</div>
			</div>
			<div class="tab_cont tab_select_product_writing">
				<h3 class="sr_only">상품선택 쓰기</h3>
				<div class="ui_select" data-not-label-change="true">
					<input type="hidden" name="">
					<button type="button">상품을 선택해 주세요.</button>
					<ul class="select_options select_product_writing">
						{{#each this.products}}
							{{#xif this.reviewWriteYn '==' 'N'}}
								<li class="select_option">
								<code class="label_markup" style="display:none">{{ this.prodName }}</code>
								<a data-value="{{ this.prodSn }}" data-selected="true">
									<span>
										<span><img alt="" src="{{ this.repProdImage }}"></span>
										<span>{{ this.prodName }}</span>
									</span>
								</a>
							</li>
							{{/xif}}
						{{/each}}
					</ul>
				</div>
				<span class="item_name typ2 item_name_writing">
					<span class="img"><img name="selected_prodImage" src="" alt=""></span>
					<span class="tit" name="selected_prodName"></span>
				</span>
			</div>
		</div>
	</div>

	<dl class="review_write_layer">
		<dt class="review_header typ2">
			<span class="item_name">{{ this.onlineProdName }}</span>
			<span class="ui_rating xl typ2">
				<span class="heart">
					<span><input type="radio" name="scope" id="rate3_1" value="1" required data-msg="평점을 선택해 주세요."><label for="rate3_1"><span class="sr_only"> 1점</span></label></span>
					<span><input type="radio" name="scope" id="rate3_2" value="2"><label for="rate3_2"><span class="sr_only"> 2점</span></label></span>
					<span><input type="radio" name="scope" id="rate3_3" value="3"><label for="rate3_3"><span class="sr_only"> 3점</span></label></span>
					<span><input type="radio" name="scope" id="rate3_4" value="4"><label for="rate3_4"><span class="sr_only"> 4점</span></label></span>
					<span><input type="radio" name="scope" id="rate3_5" value="5"><label for="rate3_5"><span class="sr_only"> 5점</span></label></span>
				</span>
			</span>
			<small class="font_sl">터치로 상품을 평가해 주세요!</small>
		</dt>
		<dd>
			<fieldset class="form lined">
				<legend class="sr_only">질문 입력 항목</legend>
				<div class="ui_table">
					<dl>
						<dt>피부타입</dt>
						<dd>
							<div class="select_wrap w100p">
								<select name="skinTone" id="skintype" required data-msg="피부타입을 선택해 주세요." tabindex="-1">
									<option value="">피부타입을 선택해 주세요.</option>
									{{#each this.skinTone.0.responses}}
										<option value="{{ this.prodReviewEvalResponseSn }}">{{ this.responseBodyText }}</option>
									{{/each}}
								</select>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>제목</dt>
						<dd>
							<div class="input_wrap w100p"><input type="text" title="제목 입력" placeholder="최대 30자까지 입력 가능합니다." name="prodReviewTitle" id="title" minlength="1" maxlength="30" required data-msg="제목을 입력해 주세요."></div>
						</dd>
					</dl>
					<dl>
						<dt>내용</dt>
						<dd>
							<div class="textarea w100p">
								<textarea name="prodReviewBodyText" id="" cols="" rows="" minlength="1" maxlength="500" placeholder="구매 상품 후기 작성＇은 마이에뛰드>주문조회>구매후기 작성 버튼을  눌러 작성해 주세요. 진주알 100알(사진 없는 리뷰는 50알)이 적립됩니다. (2015.06.01 주문 건 부터 적용됩니다.) 단, 구매하지 않아도 리뷰 작성은 가능합니다." required data-msg="후기를 입력해 주세요."></textarea>
							</div>
							<p class="text_right w100p"><small><em class="current">0</em>/<span class="limits">500</span></small></p>
						</dd>
					</dl>
				</div>
				<div class="attach_wrap ui_input_images">
					<!--[if lte ie 9]>
					<div class="input_btn_wrap">
						<span class="input_wrap">
							<input class="input_file_name ie9_lte" type="text" title="첨부 파일 선택" readonly value="">
							<button class="input_del"><i class="ico_close_w"></i><span class="sr_only">첨부파일 삭제</span></button>
						</span>
						<input type="file" id="i_picture" accept="image/gif,image/jpeg,image/jpg,image/png">
						<label for="i_picture" class="btn_md_form">파일 선택</label>
					</div>
					<ul class="list_bullet_dot mgt5">
						<li>10MB미만의 jpg, gif, png의 이미지 파일</li>
						<li>internet Explorer 9.0버전에서는 첨부파일 1개만 가능합니다.</li>
					</ul>
					<![endif]-->
					<!--[if gt ie 9]><!-->
					<ul class="attach">
						<li class="input_file_btn_area">
							<div class="attach_file">
								<input type="file" id="i_picture" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="multiple">
								<label for="i_picture">사진 첨부</label>
							</div>
						</li>
					</ul>
					<p class="text">이미지 파일만 가능 / 최대 10개 / 최대 파일 용량 10MB</p>
					<!--<![endif]-->
				</div>
				<ul class="list_bullet_dot mgt30 light">
					<li>타인의 글 도용 및 올바르지 않은 리뷰 작성의 경우, 게시판 성격과 관련 없는 게시물은 임의로 삭제될 수 있으며 적립된 진주알의 3배만큼 차감될 수 있습니다.<br>
						(동일 내용의 반복 등록, 무의미한 내용 입력, 광고 및 욕설, 비방의 글, 성인글, 출처를 안 밝힌 뉴스기사 등)
					</li>
					<li>
						저작권 등 다른 사람의 권리를 침해하거나 게시판 성격과 관련 없는 게시물은 임의로 삭제될 수 있습니다. (반복 등록된 글, 무의미한 내용, 광고 및 욕설, 비방의 글, 성인글 등)
					</li>
				</ul>

				<dl class="dl_cont mgt40">
					<dt class="h_title font_lg"><b>개인정보 수집 및 이용 동의 (필수)</b></dt>
					<dd class="light">
						<ul class="list_bullet_dot">
							<li>수집 및 이용 항목 : 피부타입</li>
							<li>수집 및 이용 목적 : 리뷰의 신뢰성 향상을 위해</li>
							<li>이용·보유 및 이용 기간 : 회원탈퇴시까지</li>
						</ul>
						<ul class="list_bullet_dot mgt20">
							<li>신청자는 개인정보 수집 및 이용 동의에 거부할 수
								있습니다. 다만, 거부할 경우 리뷰 작성이 불가능
								합니다.</li>
						</ul>
						<div class="check_wrap mgt20"><input type="checkbox" name="reviewAgreePersonal" id="review_agree_personal" required data-msg="개인정보 수집 및 이용 동의가 필요합니다."><label for="review_agree_personal">동의합니다.</label></div>
					</dd>
				</dl>

				<input type="hidden" name="prodReviewTypeCode" value="Pur">
				<input type="hidden" name="onlineProdSn" value="{{ this.onlineProdSn }}">
				<input type="hidden" name="ordNo" value="{{ this.orderNo }}">
				<input type="hidden" name="ordProdSn" value="">
				<input type="hidden" name="prodSn" value="">
				<input type="hidden" name="multiWriteYn" value="N">
				{{!-- 피부톤 --}}
				<input type="hidden" name="prodReviewEvalQuestionSn" value="{{ this.this.skinTone.0.prodReviewEvalQuestionSn }}">
				<input type="hidden" name="arrSurvey" value="">
				<input type="hidden" name="termsAgreeYn" value="Y">

				<div class="form_btns">
					<button type="button" class="btn_lg_secondary btn_default_modal_cancel">취소</button>
					<button type="submit" class="btn_lg_primary submit">리뷰 등록</button>
				</div>
			</fieldset>
		</dd>
	</dl>
</form>