{{!--
	옵션 selectbox
	products, productCount
--}}
{{#each this.options}}
	<li class="select_option">
		<code class="label_markup" style="display:none"></code>
		<a data-value="{{ this.prodSn }}" data-selected="false"  {{#xif this.saleDisplayStatus '==' 'OutOfStock'}} class="out_of_stock" {{/xif}} >
			{{#xif this.colorchipTypeCode '==' 'RGB'}}
				<span class="color_chip" style="background-color:#{{ this.rgbVal }}"></span>
			{{/xif}}
			{{#xif this.colorchipTypeCode '==' 'Img'}}
				<span class="color_chip"><img alt="" src="{{ this.colorchipImg }}"></span>
			{{/xif}}

			<span class="option_info">
				<span class="option_name">{{ this.prodName }}</span>
				<span class="price">
					{{#xif this.saleDisplayStatus '==' 'OnSale'}}
						{{!-- 뷰티포인트 전용상품 
						{{#xif (eq ../productCount 1) '&&' (eq this.membershipExchOnly 'Y')}}
							P
						{{else}}
							원
						{{/xif}}
						--}}
					
						{{#xif this.totalRate '!=' '0'}}
						<em class="discount">{{ numberFormat this.totalRate }}%</em>
						{{/xif}}
						<b class="num">{{ numberFormat (availablePrices this.availablePrices 'finalOnlinePrice') }}</b>원  
						{{#xif (availablePrices this.availablePrices 'doublePriceDisplayYn') '==' 'Y'}}
							<del>{{ availablePrices this.availablePrices 'beforeOnlineSalePrice' }}원</del>
						{{/xif}}
					{{else}}
						<small>일시품절</small>	
					{{/xif}}
				</span>
			</span>
		</a>
	</li>
{{/each}}
