<div class="ap_contents slide_review">
	<div class="pre_wrap pre_rv01" id="wrap">
	   <div class="pre_top_sec">
	
	         <div class="premium_pg_sec">
	            <div class="swiper-container">
	                <ul class="swiper-wrapper">
	                	{{#each this.review.imgList}}
	                    	<li class="swiper-slide">
	                    		<a href="javascript:;" class="on">
	                    			<img src="{{this.imageFileUrl}}" alt="{{../prodReviewTitle}}" />
	                    		</a>
	                    	</li>
	                    {{/each}}
	                </ul>
	            </div>
	        </div>
	   </div>
	    
	    <div class="pre_swiper_sec">
	        <!-- 스와이프 -->
	          <div class="swiper-container">
	            <div class="swiper-wrapper">
	            {{#each this.review.imgList}}
	              <div class="swiper-slide">
	                  <img src="{{this.imageFileUrl}}" alt="{{../prodReviewTitle}}" />
	              </div>
	            {{/each}}
	            </div>
	            <div class="swiper-button-prev"></div>
	            <div class="swiper-button-next"></div>
	          </div>
	          <!-- // 스와이프 -->
	          
	    </div>
	    
	    <!-- 리뷰 -->
	    <div class="review_list_sec">
			
			<div class="review_header">
				<span>{{this.review.memberId}}</span><span>{{this.review.memberLevelName}}</span>
				<span class="rating">
					<span class="mark_star_sm star{{this.review.scope}}"><span class="sr_only">구매 평점 별 5개 중 {{this.review.scope}}개</span></span> <!--평점에따라 클래스변경(star0~star5)-->
					<span class="count">{{this.review.scope}}</span>
				</span>
			</div>		<!--// review_header -->
			
			<div class="review_cont">  
				<a href="#1" class="product_name"><em class="ellipsis">{{this.review.onlineProdName}}, {{this.review.prodName}}</em><i class="ico_arr"></i></a>
			
				<div class="ui_table summary">
					{{#each this.review.surveys}}
					<dl>
						<dt>{{this.questionHeader}}</dt>
						<dd><b>{{this.responseBodyText}}</b></dd>
					</dl>
					{{/each}}
				</div>
				<div class="cont">
					<!--/* 375 해상도 기준 6줄에 절삭 : 더읽기 클릭시 전체 보임 */-->
					<p class="text">{{this.review.prodReviewBodyText}}</p>
				</div>
			</div>		<!--// review_cont -->
			
			<div class="review_help_box">
				<p class="txt">이 리뷰가 도움이 되셨나요?</p>
				<a href="#1" class="btn_yes">네</a>
			</div>
			
			<div class="btn_review_more">
				<a href="#none" class="read_more" title="더읽기"> <i class="ico_up"></i></a>
				<a href="#none" class="read_more_close" title="닫기"> <i class="ico_down"></i></a>
			</div>
	    </div>
	    <!-- // 리뷰 -->
	     
	</div>
</div>

<!--/* 하단 js등을 실행하는 마지막 영역 */-->
<th:block ap:fragment="layout-endpoint">
	<script>
		   var swiper01 = new Swiper('.premium_pg_sec .swiper-container', {
				centeredSlides: false,
				slidesPerView: 'auto',
				touchRatio: 0.2,
				slideToClickedSlide: true,
				loop: false,
				freeMode: true
			});

			$(function(){
				$('.premium_pg_sec ul > li a').click(function(){
					if($(this).hasClass('on')){
						$(this).removeClass('on');
					}else{
						$('.premium_pg_sec ul > li a').removeClass('on');
						$(this).addClass('on');
					}
				})
			});
			  
			var swiper02 = new Swiper('.pre_swiper_sec .swiper-container', {
			  slidesPerView : 1,
			  initialSlide:0,
			  centeredSlides:true,
			  pagination: {
				el: '.pre_swiper_sec .swiper-pagination',
			  },
			  navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			  },
			});
			  
		  $(function(){
			$('.writer_info01').click(function(){
				if($('.review_list_sec.pre').hasClass('active')){
					$('.review_list_sec.pre').removeClass('active');
				}else{
					$('.review_list_sec.pre').removeClass('active');
					$('.review_list_sec.pre').addClass('active');
				}
			})
			
			 // 이미지를 확대해서 볼수 있어요!
				$(function(){
					var sj_lpop_timer;
					if ($(".img_pop_txt01").css('display') === 'none') {
						$(".img_pop_txt01").fadeIn('fast');
						setTimeout(
							function(){
								sj_lpop_timer = $(".img_pop_txt01").stop(true,true).fadeOut('fast');
							},1500);
					} else {
						$(".img_pop_txt01").hide();
						$(".img_pop_txt01").fadeIn('fast');
						clearTimeout(sj_lpop_timer);
						setTimeout(
							function(){
								sj_lpop_timer = $(".img_pop_txt01").stop(true,true).fadeOut('fast');
							},1500);
					}
				});
		});
		
		$(".review_list_sec .btn_review_more .read_more").click(function(){
			$(this).parent().parent(".review_list_sec").addClass("open");
		
		});
		$(".review_list_sec .btn_review_more .read_more_close").click(function(){
			
			$(this).parent().parent(".review_list_sec").removeClass("open");
		
		});
	</script>
</th:block>

</body>
</html>
