{{#each this.products}}
	<div class="selected_option goods_box product_item {{#xif this.saleDisplayStatus '==' 'OutOfStock'}}out_of_stock{{/xif}}" data-prod-sn="{{ this.prodSn }}">
		<div class="option_name">{{ this.prodName }}</div>
		{{#xif ../bulkIncludedProds.length '>' 0}}
		<ul class="option_list">
			{{#each ../bulkIncludedProds}}
				<li>{{ this.prodName }}<span class="count">{{ this.includedProdQty }}개</span></li>
			{{/each}}			
		</ul>
		{{/xif}}

		{{#xif (eq this.saleDisplayStatus 'OutOfStock') '||' (eq this.saleDisplayStatus 'Exhaustion') }}
			<div class="alarm">
				일시품절 <a href="javascript:;" class="btn_h32_gradient incoming_alarm">입고알리미신청</a>
			</div>
		{{else}}
			<div class="ui_spinner" data-min="{{#xif (eq this.storePickupBtnEnable 'Y') '&&' (eq this.saleDisplayStatus 'OutOfStock')}}1{{else}}{{ this.minPurLimitQty }}{{/xif}}" {{#xif (eq this.storePickupBtnEnable 'Y') '&&' (eq this.saleDisplayStatus 'OutOfStock')}}data-max="99"{{else}}{{#xif this.maxPurLimitYn '==' 'Y'}}data-max="{{ this.maxPurLimitQty }}"{{/xif}}{{/xif}} data-step="1" data-disabled="false">
				<button class="spinner_decrease" type="button"><i class="ico_oper_p"></i><span class="sr_only">제품 수량 감소</span></button>
				<input class="spinner_input" type="text" title="선택품목갯수" id="" value="1" name="" value="{{ this.minPurLimitQty }}">
				<button class="spinner_increase" type="button"><i class="ico_oper_p plus"></i><span class="sr_only">제품 수량 증가</span></button>
			</div>
		{{/xif}}
		
		<div class="price">
			{{#if (eq this.mPlusNPromoInfo.targetYN 'Y') }}<em style="color: #f00;">{{this.mPlusNPromoInfo.baseOrdQty}}+{{this.mPlusNPromoInfo.freeAwardQty}}</em>{{/if}}
			<b class="item_total_price">{{ numberFormat (availablePrices this.availablePrices 'finalOnlinePrice') }}</b>원
		</div>
		{{#xif ../productCount '>' '1'}}
		<button class="ui_close btn_del" type="button"><span class="sr_only">선택 옵션 삭제</span></button>
		{{/xif}}
	</div>
{{/each}}