<dd>
	<div class="cont payment">
		<div class="panel bordered gray">
			<div class="panel_cont ui_table">
				{{#each pgList}}
					{{#xif payMethodTypeCode '===' 'Deposit'}}
						<dl>
							<dt><b>예치금</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
							</dd>
						</dl>
					{{/xif}}
					{{#xif payMethodCode '===' 'wpay'}}
						<dl>
							<dt><b>원터치 간편결제</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
								{{#if pgPayEx.cardCoCode}}
									<p class="text">{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}</p>
									{{#if pgPayEx.cardCoCode}}
										<p class="text">{{creditcardPayType pgPayEx}}</p>
									{{/if}}
								{{/if}}
							</dd>
						</dl>
					{{/xif}}
					{{#xif payMethodCode '===' 'naverpay'}}
						<dl>
							<dt><b>네이버 페이</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
								{{#if pgPayEx.cardCoCode}}
									<p class="text">{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}</p>
									{{#if pgPayEx.cardCoCode}}
										<p class="text">{{creditcardPayType pgPayEx}}</p>
									{{/if}}
								{{/if}}
							</dd>
						</dl>
					{{/xif}}
					{{#xif payMethodCode '===' 'payco'}}
						<dl>
							<dt><b>페이코</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
								{{#if pgPayEx.cardCoCode}}
									<p class="text">{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}</p>
									{{#if pgPayEx.cardCoCode}}
										<p class="text">{{creditcardPayType pgPayEx}}</p>
									{{/if}}
								{{/if}}
							</dd>
						</dl>
					{{/xif}}
					{{#xif payMethodCode '===' 'kakaopay'}}
						<dl>
							<dt><b>카카오 페이</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
								{{#if pgPayEx.cardCoCode}}
									<p class="text">{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}</p>
									{{#if pgPayEx.cardCoCode}}
										<p class="text">{{creditcardPayType pgPayEx}}</p>
									{{/if}}
								{{/if}}
							</dd>
						</dl>
					{{/xif}}
					{{#xif payMethodCode '===' 'credit-card'}}
						<dl>
							<dt><b>신용카드 결제</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
								{{#if pgPayEx.cardCoCode}}
									<p class="text">{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}</p>
									{{#if pgPayEx.cardCoCode}}
										<p class="text">{{creditcardPayType pgPayEx}}</p>
									{{/if}}
								{{/if}}
							</dd>
						</dl>
					{{/xif}}
					{{#xif payMethodCode '===' 'bank-ac-transfer'}}
						<dl>
							<dt><b>실시간 계좌이체</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
								{{#if pgPayEx.virtualBankAcBankCode}}
									<p class="text">{{pgPayEx.virtualBankAcBankName}}{{#if pgPayEx.virtualDepositBankAcNo}}({{pgPayEx.virtualDepositBankAcNo}}){{/if}}</p>
									<p class="text">예금주: {{pgPayEx.virtualBankAcAcHolder}}</p>
								{{/if}}
							</dd>
						</dl>
					{{/xif}}
					{{#xif payMethodCode '===' 'virtual-account'}}
						<dl>
							<dt><b>무통장 입금</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
								{{#if pgPayEx.virtualBankAcBankCode}}
									<p class="text">{{pgPayEx.virtualBankAcBankName}}{{#if pgPayEx.virtualDepositBankAcNo}}({{pgPayEx.virtualDepositBankAcNo}}){{/if}}</p>
									<p class="text">예금주: {{pgPayEx.virtualBankAcAcHolder}}</p>
									{{#if pgPayEx.virtualBankAcDeadlineDt}}
										<p class="text"><em>입금기한: {{dateFormat pgPayEx.virtualBankAcDeadlineDt "YYYY-MM-DD"}} 까지</em></p>
									{{/if}}
								{{/if}}
							</dd>
						</dl>
					{{/xif}}
					{{#xif payMethodCode '===' 'mobile-phone-pay'}}
						<dl>
							<dt><b>휴대폰 결제</b></dt>
							<dd>
								<p class="text">{{currencyFormatDefault payAmt '원'}}</p>
								<p class="text">{{pgPayEx.mobilePhoneNo}}</p>
							</dd>
						</dl>
					{{/xif}}
				{{/each}}
			</div>
		</div>
	</div>
</dd>