<dd>
	<div class="cont freebies">
		{{#each this.list}}
			{{#if (and (eq this.memberOnlyYn 'Y')(eq this.tgtMemberCode 'FirstPur'))}}
				<div class="title_area">
					<h4 class="h_title sub">첫 구매 사은품</h4>
				</div>
				<ul class="freebies_list firstPur">
					{{#xif this.ordUnitAwardExPointList.length '>' 0}}
						{{#each this.ordUnitAwardExPointList}}
							<li>
								<span class="check_wrap">
									{{#xif ../this.ordPromoAwardSectionEx.awardMethodCode '==' 'All'}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" checked data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Point">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Point">
										{{/xif}}
									{{else}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Point">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Point">
										{{/xif}}
									{{/xif}}
									<label for="{{this.ordUnitAwardSn}}">
										<span class="img"><img src="{{absolutePath '/images/cart/ico_beautypoint.png'}}" alt=""></span>
										<span class="title">{{pointTypeSwitch this.pointTypeCode}} {{this.savingPoint}}P</span>
									</label>
								</span>
							</li>
						{{/each}}
					{{/xif}}
					{{#xif this.ordUnitAwardExProdList.length '>' 0}}
						{{#each this.ordUnitAwardExProdList}}
							<li>
								<span class="check_wrap">
									{{#xif ../this.ordPromoAwardSectionEx.awardMethodCode '==' 'All'}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" checked data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Prod">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Prod">
										{{/xif}}
									{{else}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Prod">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Prod">
										{{/xif}}
									{{/xif}}
									<label for="{{this.ordUnitAwardSn}}">
										<span class="img"><img src="{{this.ordProdEx.prodImgUrl}}" alt=""></span>
										<span class="title">{{this.ordProdEx.prodNameBlang}} {{currencyFormatDefault this.ordProdEx.prodSalePrice '원'}}</span>
									</label>
								</span>
							</li>
						{{/each}}
					{{/xif}}
					{{#xif this.ordUnitAwardExSpPriceList.length '>' 0}}
						{{#each this.ordUnitAwardExSpPriceList}}
							<li>
								<span class="check_wrap">
									{{#xif ../this.ordPromoAwardSectionEx.awardMethodCode '==' 'All'}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" checked data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="SpPrice">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="SpPrice">
										{{/xif}}
									{{else}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="SpPrice">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="SpPrice">
										{{/xif}}
									{{/xif}}
									<label for="{{this.ordUnitAwardSn}}">
										<span class="img"><img src="{{this.ordProdEx.prodImgUrl}}" alt=""></span>
										<span class="title">{{this.ordProdEx.prodNameBlang}} {{currencyFormatDefault this.ordProdEx.prodSalePrice '원'}}</span>
									</label>
								</span>
							</li>
						{{/each}}
					{{/xif}}
					{{#xif this.ordUnitAwardExCouponList.length '>' 0}}
						{{#each this.ordUnitAwardExCouponList}}
							<li>
								<span class="check_wrap">
									{{#xif ../this.ordPromoAwardSectionEx.awardMethodCode '==' 'All'}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" checked data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Coupon">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Coupon">
										{{/xif}}
									{{else}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Coupon">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Coupon">
										{{/xif}}
									{{/xif}}
									<label for="{{this.ordUnitAwardSn}}">
										<span class="img"><img src="{{absolutePath '/images/cart/ico_coupon.png'}}" alt=""></span>
										<span class="title">{{this.couponName}} {{this.couponTypeCode}}</span>
									</label>
								</span>
							</li>
						{{/each}}
					{{/xif}}
					{{#xif this.ordUnitAwardExGiftcardList.length '>' 0}}
						{{#each this.ordUnitAwardExGiftcardList}}
							<li>
								<span class="check_wrap">
									{{#xif ../this.ordPromoAwardSectionEx.awardMethodCode '==' 'All'}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" checked data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Giftcard ">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Giftcard ">
										{{/xif}}
									{{else}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Giftcard ">
										{{else}}
											<input type="radio" name="firstPur_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Giftcard ">
										{{/xif}}
									{{/xif}}
									<label for="{{this.ordUnitAwardSn}}">
										<span class="img"><img src="{{absolutePath '/images/cart/ico_giftcard.png'}}" alt=""></span>
										<span class="title">{{this.giftcardName}} {{this.giftcardBaseAmt}}</span>
									</label>
								</span>
							</li>
						{{/each}}
					{{/xif}}
				</ul>
			{{else}}
				<div class="relative title_area">
					<h4 class="h_title sub">구매특가 or 사은품</h4>
					<div class="date_btn_set">
						{{#xif this.ordUnitAwardExProdList.length '>' 0}}
							<span><input type="radio" name="freebies" id="freebies1" checked="checked"><label for="freebies1">구매특가</label></span>
						{{/xif}}
						{{#xif this.ordUnitAwardExSpPriceList.length '>' 0}}
							<span><input type="radio" name="freebies" id="freebies2"><label for="freebies2">사은품</label></span>
						{{/xif}}
					</div>
				</div>
				<!--/* 구매특가 */-->
				<ul class="freebies_list freebies1 notFirstPur">
					{{#xif this.ordUnitAwardExSpPriceList.length '>' 0}}
						{{#each this.ordUnitAwardExSpPriceList}}
							<li>
								<span class="check_wrap">
									{{#xif ../this.ordPromoAwardSectionEx.awardMethodCode '==' 'All'}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="ordUnitAward_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" checked data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}"data-type="SpPrice">
										{{else}}
											<input type="radio" name="ordUnitAward_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="SpPrice">
										{{/xif}}
									{{else}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="ordUnitAward_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="SpPrice">
										{{else}}
											<input type="radio" name="ordUnitAward_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="SpPrice">
										{{/xif}}
									{{/xif}}
									<label for="{{this.ordUnitAwardSn}}">
										<span class="img"><img src="{{this.ordProdEx.prodImgUrl}}" alt=""></span>
										<span class="title">{{this.ordProdEx.prodNameBlang}}</span>
										<span class="price">
											<span class="strong"><b>{{currencyFormatDefault this.ordProdEx.prodSalePrice '원'}}</b>원</span>
										</span>
									</label>
								</span>
							</li>
						{{/each}}
					{{/xif}}
				</ul>
				<!--/* 사은품 */-->
				<ul class="freebies_list freebies2 notFirstPur" style="display:none">
					{{#xif this.ordUnitAwardExProdList.length '>' 0}}
						{{#each this.ordUnitAwardExProdList}}
							<li>
								<span class="check_wrap">
									{{#xif ../this.ordPromoAwardSectionEx.awardMethodCode '==' 'All'}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="ordUnitAward_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" checked data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Prod">
										{{else}}
											<input type="radio" name="ordUnitAward_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Prod">
										{{/xif}}
									{{else}}
										{{#xif this.freeGiftAwardMethodCode '==' 'All'}}
											<input type="checkbox" name="ordUnitAward_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Prod">
										{{else}}
											<input type="radio" name="ordUnitAward_{{../this.promoSn}}" id="{{this.ordUnitAwardSn}}" data-method-code="{{../this.ordPromoAwardSectionEx.awardMethodCode}}" data-promoSn="{{../this.promoSn}}" data-qty="{{this.awardUnitQty}}" data-type="Prod">
										{{/xif}}
									{{/xif}}
									<label for="{{this.ordUnitAwardSn}}">
										<span class="img"><img src="{{this.ordProdEx.prodImgUrl}}" alt=""></span>
										<span class="title">{{this.ordProdEx.prodNameBlang}}</span>
										<span class="price">
											<span class="strong"><b>{{currencyFormatDefault this.ordProdEx.prodSalePrice '원'}}</b>원</span>
										</span>
									</label>
								</span>
							</li>
						{{/each}}
					{{/xif}}
				</ul>
				<div class="order_btns"> <!-- 디폴트 히든값 / 라디오버튼 선택 시 버튼 활성화 -->
					<button type="button" class="btn_lg_neutral" id="cancelBtn">선택 취소</button>
				</div>
			{{/if}}
		{{/each}}
	</div>
</dd>