{{#each this.prodReviewList}}
	<li class="ix-list-item">
		<div class="review_img">
			<img src="{{ this.repProdImage }}" alt="{{ this.prodName }}">
		</div>
		<div class="review_area">
			<p class="rv_txt ellipsis line3">{{ this.prodReviewBodyText }}</p>
			<div class="user_atc">
				<span class="mark_star_sm star{{ this.scope }}"><span class="sr_only">구매 평점 별 5개 중 {{ this.scope }}개</span></span>
				<span class="txt_review">리뷰 {{ numberFormat this.lookupCnt }}</span>
			</div>
			<p class="date">{{ dateFormat this.prodReviewRegistDt }}</p>
		</div>
	</li>
{{/each}}