{{#each this.prodReviewList}}
	<li>
		<a href="javascript:;" class="reviewDetail" data-review-type="tester" data-review-sn="{{ this.prodReviewSn }}">
			<img data-src="{{ this.imgList.0.imageFileUrl }}" alt="{{ this.imgList.0.imgDesc }}" class="lazyLoad">
			<span class="info">
				<span class="grade"><b>{{ this.scope }}</b></span>
				<b class="ellipsis">{{ this.prodReviewBodyText }}</b>
			</span>
		</a>
	</li>
{{/each}}