{{#xif step '==' 'two'}}
	{{#each compareList}}
		{{#switch payMethodCode}}
			{{#case 'Deposit' break=true}}
				<ul>
					<li class="clear"><b>예치금/상품권</b><b>{{currencyFormatDefault (calc beforePayAmt '-' afterPayAmt) '원'}}</b></li>
					<li class="clear"><span>예치금</span><span>{{currencyFormatDefault (calc beforePayAmt '-' afterPayAmt) '원'}}</span></li>
				</ul>
				<hr class="div m20 dotted">
			{{/case}}
			{{#default break=true}}
				{{#if (ne this.payMethodTypeCode 'Point')}}
					<ul>
						<li class="clear"><b>{{payMethodNameBlang}}</b><b>{{currencyFormatDefault (calc beforePayAmt '-' afterPayAmt) '원'}}</b></li>
						<!-- <li class="align_right line_h_20">{{pgPayEx.cardCoName}}({{pgPayEx.cardNo}})<br>
							{{pgPayEx.creditcardPayTypeCode}}<br>
							{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:mm:SS"}}</li> -->
					</ul>
				{{/if}}
			{{/default}}
		{{/switch}}
	{{/each}}
{{else}}
	{{#each this.ordPayResult.pgList}}
		{{#switch payMethodCode}}
			{{#case 'Deposit' break=true}}
				<ul>
					<li class="clear"><b>예치금/상품권</b><b>{{currencyFormat this.payAmt}}</b></li>
					<li class="clear"><span>예치금</span><span>{{currencyFormat this.payAmt}}</span></li>
					{{#if (ne this.refundAmtSum 0)}}
						<li class="clear"><span>ㄴ환불</span><span>-{{currencyFormatDefault refundAmtSum '원'}}</span></li>
					{{/if}}
				</ul>
				<hr class="div m20 dotted">
			{{/case}}
			{{#case 'virtual-account' break=true}}
				<ul>
					<li class="clear"><b>무통장입금({{payMethodNameBlang}})</b><b>{{currencyFormatDefault payAmt '원'}}</b></li>
					{{#if (ne this.refundAmtSum 0)}}
						<li class="clear"><span>ㄴ환불</span><span>-{{currencyFormatDefault refundAmtSum '원'}}</span></li>
					{{/if}}
					<li class="clear">
						<span>입금정보</span>
						<span class="align_right line_h_20">{{pgPayEx.virtualBankAcBankName}} {{pgPayEx.virtualDepositBankAcNo}}<br>
							{{pgPayEx.virtualBankAcAcHolder}}<br>
							<em>입금기한 {{dateFormat pgPayEx.virtualBankAcDeadlineDt "YYYY-MM-DD"}} 까지</em>
						</span>
					</li>
					<li class="clear"><span>송금자</span><span>{{pgPayEx.virtualBankAcRemitter}}</span></li>
					<li class="clear"><span>결제처리일</span>
					<span>
						<em>
							<dd class="align_right">{{condition (eq payStatusCode 'Complete')
												(dateFormat pgPayEx.virtualBankAcDepositDt "YYYY-MM-DD HH:mm:SS") '입금 미확인'}}</dd>
						</em>
					</span></li>
				</ul>
				<hr class="div m20 dotted">
			{{/case}}
			{{#case 'mobile-phone-pay' break=true}}
				<ul>
					<li class="clear"><b>{{payMethodNameBlang}}</b><b>{{currencyFormatDefault payAmt '원'}}</b></li>
					{{#if (ne this.refundAmtSum 0)}}
						<li class="clear"><span>ㄴ환불</span><span>-{{currencyFormatDefault refundAmtSum '원'}}</span></li>
					{{/if}}
					<li class="align_right line_h_20">{{pgPayEx.mobilePhoneNo}}<br>
						{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:mm:SS"}}</li>
				</ul>
				<hr class="div m20 dotted">
			{{/case}}
			{{#case 'bank-ac-transfer' break=true}}
				<ul>
					<li class="clear"><b>{{payMethodNameBlang}}</b><b>{{currencyFormatDefault payAmt '원'}}</b></li>
					{{#if (ne this.refundAmtSum 0)}}
						<li class="clear"><span>ㄴ환불</span><span>-{{currencyFormatDefault refundAmtSum '원'}}</span></li>
					{{/if}}
					<li class="align_right line_h_20">{{pgPayEx.bankName}}<br>
						{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:mm:SS"}}</li>
				</ul>
				<hr class="div m20 dotted">
			{{/case}}
			{{#default break=true}}
				{{#if (ne this.payMethodTypeCode 'Point')}}
					<ul>
						<li class="clear"><b>{{payMethodNameBlang}}</b><b>{{currencyFormatDefault payAmt '원'}}</b></li>
						{{#if (ne this.refundAmtSum 0)}}
							<li class="clear"><span>ㄴ환불</span><span>-{{currencyFormatDefault refundAmtSum '원'}}</span></li>
						{{/if}}
						<li class="align_right line_h_20">{{pgPayEx.cardCoName}}({{pgPayEx.cardNo}})<br>
							{{creditcardPayType pgPayEx}}<br>
							{{dateFormat pgPayEx.payApprovalDt "YYYY-MM-DD HH:mm:SS"}}</li>
					</ul>
					<hr class="div m20 dotted">
				{{/if}}
			{{/default}}
		{{/switch}}
	{{/each}}
{{/xif}}


