<div class="reason" id="reason_{{this.ordHistProdSn}}">
	<div class="input_group">
		<div class="ui_select w20p" data-not-label-change="false">
			<input type="hidden">
			<button type="button">{{title}}사유 선택</button>
			<ul class="select_options">
				{{#each reason.claimReasonExList}}
					<li class="select_option">
						<code class="label_markup" style="display:none">
							<span class="slt_color_name">{{ this.reasonName }}</span>
						</code>
						<a data-value="{{this.claimReasonSn}}">
							<span class="color_name">{{ this.reasonName }}</span>
						</a>
					</li>
				{{/each}}
			</ul>
		</div>
		<span class="gap">&nbsp;</span>
		<div class="input_wrap">
			<input type="text" placeholder="사유를 입력해주세요" maxlength="100">
		</div>
	</div>
</div>