<div class="product">
	{{#if (eq this.viewYn.checkBox 'Y')}}
		<div class="check_wrap check_only">
			<input type="checkbox" id="oProd_{{this.oProd.onlineProdSn}}" name="onlineProd" value="{{json this.oProd}}" data-oProdSn="{{this.oProd.onlineProdSn}}">
			<label for="oProd_{{this.oProd.onlineProdSn}}">
				<span class="sr_only">선택</span>
			</label>
		</div>
	{{/if}}
	<div class="thumb">
		{{#xif this.oProd.onlineProdImgUrl '===' null}}
			<img src="/images/cart/no_img.png" alt="">
		{{else}}
			<img src="{{this.oProd.onlineProdImgUrl}}" alt="">
		{{/xif}}
	</div>
	<div class="info">
		<div class="align_left">
			{{#xif this.oProd.ordHistProdTypeCode '==' 'BulkDc'}}
				<p class="name">{{this.oProd.bulkDcOnlineProdName}}</p>
			{{else}}
				<p class="name">{{this.oProd.onlineProdName}}</p>
				{{#xif this.typeName '!==' null}}
					<p class="flag">{{this.typeName}}</p>
				{{/xif}}
			{{/xif}}
		</div>
		<div class="align_right">
			{{#if (eq this.oProd.ordHistProdStatusCode 'ProdCancel')}}
				<p><em>취소완료</em></p>
			{{/if}}
			<p>
				<strong class="num">{{currencyFormat this.oProd.finalOnlineSaleAmtPcurSum}}</strong>
			</p>
		</div>
	</div>
</div>