{{#xif singleProdYn '==' 'Y'}}
	<div class="product {{condition (and (eq this.promoTypeCode 'Different') (gt index 0)) 'bundle' ''}}">
		<!-- 클레임 체크박스 -->
    	{{#if (eq this.viewYn.checkBox 'Y')}}
			<div class="check_wrap check_only">
				<input type="checkbox" id="prod_{{this.prod.ordHistProdNo}}" name="prod_{{oProdCode}}" value="{{json this.prod}}" data-oProdCode="{{oProdCode}}">
				<label for="prod_{{this.prod.ordHistProdNo}}">
					<span class="sr_only">선택</span>
				</label>
			</div>
		{{/if}}
    	<div class="thumb">
			<img src="{{this.prod.ordProdEx.prodImgUrl}}" alt="">
		</div>
    	<div class="info">
    		<div class="align_left">
				<p class="name">{{this.prod.ordProdEx.prodNameRlang}}</p>
				{{#xif typeName '!=' null}}
					<p class="flag">{{typeName}}</p>
				{{/xif}}
			</div>
			<div class="align_right">
				{{#if (eq this.prod.ordHistProdStatusCode 'ProdCancel')}}
					<p><em>취소완료</em></p>
				{{/if}}
				<p>
					<strong class="num">{{condition (eq this.step 'two') this.prod.claimReceivedQty this.prod.ordQty}}</strong>개<span class="gap">/</span>
					{{#xif typeName '!=' null}}
						{{#xif typeName '==' '뷰티포인트'}}
							<strong class="num">{{currencyFormatDefault (calc prod.exchMembership '*' (condition (eq this.step 'two') this.prod.claimReceivedQty this.prod.ordQty)) 'P'}}</strong></p>
						{{else}}
							<strong class="num">{{currencyFormatDefault (calc prod.exchActivityPoint '*' (condition (eq this.step 'two') this.prod.claimReceivedQty this.prod.ordQty)) '알'}}</strong></p>
						{{/xif}}
					{{else}}
						<strong class="num font_md">{{currencyFormat prod.finalOnlineSaleAmtPcur}}</strong></p>
					{{/xif}}
				</p>
			</div>
		</div>
    </div>
    <!-- 상품단위 증정 사은품 -->
    {{#if (ne this.prod.ordHistProdAwardExList null)}}
		{{#each this.prod.ordHistProdAwardExList}}
			<div class="freebies">
				<div class="thumb">
					<img src="{{awardOrdHistProdEx.ordProdEx.prodImgUrl}}" alt="">
				</div>
				<div class="info">
					<div class="align_left">
						<p class="name">{{awardOrdHistProdEx.ordProdEx.prodNameBlang}}</p>
						<p class="flag">증정사은품</p>
					</div>
					<div class="align_right">
						{{#if (eq awardOrdHistProdEx.ordHistProdStatusCode 'ProdCancel')}}
							<p><em>취소완료</em></p>
						{{/if}}
						<p><strong class="num">{{awardQty}}</strong>개<span class="gap">/</span><strong class="num">{{currencyFormat awardOrdHistProdEx.finalOnlineSaleAmtPcur}}</strong></p>
					</div>
				</div>
			</div>
		{{/each}}
	{{/if}}
	{{#if (ne this.prod.ordHistProdPromoAwardExList null)}}
		{{#each this.prod.ordHistProdPromoAwardExList}}
			<div class="freebies">
				<div class="thumb">
					<img src="{{awardOrdHistProdEx.ordProdEx.prodImgUrl}}" alt="">
				</div>
				<div class="info">
					<div class="align_left">
						<p class="name">{{awardOrdHistProdEx.ordProdEx.prodNameBlang}}</p>
						<p class="flag">증정사은품</p>
					</div>
					<div class="align_right">
						{{#if (eq awardOrdHistProdEx.ordHistProdStatusCode 'ProdCancel')}}
							<p><em>취소완료</em></p>
						{{/if}}
						<p><strong class="num">{{awardQty}}</strong>개<span class="gap">/</span><strong class="num">{{currencyFormat awardOrdHistProdEx.finalOnlineSaleAmtPcur}}</strong></p>
					</div>
				</div>
			</div>
		{{/each}}
	{{/if}}
	<!-- //상품단위 증정 사은품 -->
{{else}}
	<div class="prd_option">
		<div class="set">
			<!-- 클레임 체크박스 -->
			{{#if (eq this.viewYn.checkBox 'Y')}}
				{{#xif this.prod.ordHistProdTypeCode '==' 'BulkDc'}}
					<div class="check_wrap check_only" style="display:none">
						<input type="checkbox" id="prod_{{this.prod.ordHistProdNo}}" name="prod_{{oProdCode}}" value="{{json this.prod}}"
							data-oProdCode="{{oProdCode}}" data-promoSn="{{prod.ordProdEx.bulkDcOnlineProdCode}}">
						<label for="prod_{{this.prod.ordHistProdNo}}">
							<span class="sr_only">선택</span>
						</label>
					</div>
				{{else}}
					<div class="check_wrap check_only">
						<input type="checkbox" id="prod_{{this.prod.ordHistProdNo}}" name="prod_{{oProdCode}}" value="{{json this.prod}}"
							data-oProdCode="{{oProdCode}}">
						<label for="prod_{{this.prod.ordHistProdNo}}">
							<span class="sr_only">선택</span>
						</label>
					</div>
				{{/xif}}
			{{/if}}
			<div class="thumb"><img src="{{this.prod.ordProdEx.prodImgUrl}}" alt=""></div>
			<div class="info">
				<p class="name">{{this.prod.ordProdEx.prodNameRlang}}</p>
				<!-- 상품단위 증정 사은품 -->
				{{#if (ne this.prod.ordHistProdAwardExList null)}}
					{{#each this.prod.ordHistProdAwardExList}}
						<p class="text">{{awardOrdHistProdEx.ordProdEx.prodNameBlang}}</p>
					{{/each}}
				{{/if}}
				{{#if (ne this.prod.ordHistProdPromoAwardExList null)}}
					{{#each this.prod.ordHistProdPromoAwardExList}}
						<p class="text">{{awardOrdHistProdEx.ordProdEx.prodNameBlang}}</p>
					{{/each}}
				{{/if}}
				<!-- // 상품단위 증정 사은품 -->
			</div>
			<div class="align_right">
				<span>{{condition (eq this.step 'two') this.prod.claimReceivedQty this.prod.ordQty}}개 / {{currencyFormat this.prod.finalOnlineSaleAmtPcur}}</span>
				{{#if (eq this.prod.ordHistProdStatusCode 'ProdCancel')}}
					<p><em>취소완료</em></p>
				{{/if}}
				{{#if (and (ne this.prod.ordHistProdStatusCode 'ProdCancel') (eq this.step 'one'))}}
					{{#if (or (eq this.statusCode 'PartialCancel') (eq this.statusCode 'OrdReceivedComplete'))}}
						<button class="btn_sm_neutral" type="button" onclick="changeOption({{this.prod.ordHistProdSn}}, '{{this.prod.ordHistProdNo}}', {{this.prod.ordProdEx.prodSn}})">옵션변경</button>
					{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
{{/xif}}