<div class="product">
	{{#if (eq this.viewYn.checkBox 'Y')}}
		<div class="check_wrap">
			<input type="checkbox" id="oProd_{{this.oProd.onlineProdCode}}" name="onlineProd" value="{{this.oProd.onlineProdCode}}">
			<label for="oProd_{{this.oProd.onlineProdCode}}">
				<span class="sr_only">선택</span>
			</label>
		</div>
	{{/if}}
	<div class="thumb">
		{{#xif this.oProd.onlineProdImgUrl '===' null}}
			<img src="/images/cart/no_img.png" alt="">
		{{else}}
			<img src="{{this.oProd.onlineProdImgUrl}}" alt="">
		{{/xif}}
	</div>
	<div class="info">
		{{#xif this.oProd.ordHistProdTypeCode '==' 'BulkDc'}}
			<span class="name">
				{{this.oProd.bulkDcOnlineProdName}}
			</span>
		{{else}}
			<span class="name">
				{{this.oProd.onlineProdName}}
			</span>
		{{/xif}}
	</div>
	<div class="price">
		{{#xif this.oProd.ordHistProdStatusCode '===' 'ProdCancel'}}
			<p class="font_lg mgb10"><em>취소 완료</em></p>
			<span class="strong"><b>{{this.oProd.cancelQtySum}}</b>개</span> /
			<span class="strong"><b>{{currencyFormat this.oProd.prodCancelAmtSum}}</b></span>
		{{else}}
			{{#xif this.status '===' 'detail'}}
				{{#xif (eq this.type 'return') '||' (eq this.type 'exchange')}}
					<span class="strong"><b>{{this.oProd.claimQtySum}}</b>개</span> /
				{{else}}
					<span class="strong"><b>{{condition (eq this.step 'two') this.oProd.claimQtySum (calc this.oProd.ordQtySum '-' this.oProd.cancelQtySum)}}</b>개</span> /
				{{/xif}}
			{{else}}
				{{#xif this.type '===' 'cancel'}}
					<span class="strong"><b>{{condition (eq this.step 'two') this.oProd.claimQtySum (calc this.oProd.ordQtySum '-' this.oProd.cancelQtySum)}}</b>개</span> /
				{{else}}
					<span class="strong"><b>{{condition (eq this.step 'two') this.oProd.claimQtySum (condition (lt this.oProd.rtnRequestPossibleQtySum 0) 0 this.oProd.rtnRequestPossibleQtySum)}}</b>개</span> /
				{{/xif}}
			{{/xif}}
			<span class="strong"><b>{{currencyFormat this.oProd.finalOnlineSaleAmtPcurSum}}</b></span>
		{{/xif}}
	</div>
</div>