{{#each this.list}}
	<li class="item" data-online-prod-sn="{{ this.onlineProdSn }}" data-index="{{@index}}">
		<div class="event_box">
			<!-- // TODO -->
			<div class="d_day">D-1</div>
			<!-- TODO // -->
			<a href="{{ productDetailPath this.onlineProdSn }}">
				<div class="visual_section">
					<img src="{{ this.onlineProdImages.[0].imgUrl }}" alt="">
				</div>
				<div class="info_section">
					<p class="brand_name">{{ this.products.[0].brandName }}</p>
					<p class="name ellipsis">{{ this.onlineProdName }}</p>
					<!-- TODO // -->
					<p class="date">2018. 02. 07 (수) 예정</p>
					<!-- // TODO -->
				</div>
			</a>
		</div>
	</li>
{{/each}}