{{!--
	대외활동 추가할때 레이어를 추가한다.
--}}

<h4 class="h_title sub h_{{this.layerCnt}}"></h4>
<div class="ui_table" id="activity_{{this.layerCnt}}" name="{{this.layerCnt}}">
	<dl>
		<dt class="vtop pdt10">
			<label for="activity01"></label>
		</dt>
		<dd>
			<span class="input_group">
				<span class="select_wrap">
					<select name="activityType" id="activity01" title="활동유형">
						<option value="">유형 선택</option>
					</select>
				</span>
			</span>
			<button class="btn_md_form btn_delete" type="button" name="{{this.layerCnt}}">삭제</button>
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="activity02">활동명</label>
		</dt>
		<dd>
			<span class="input_wrap">
				<input type="text" name="activityName" id="activity02" maxlength="50"  placeholder="50자 이내로 입력해주세요." value="{{this.activityName}}">
			</span>
		</dd>
	</dl>
	<dl>
		<dt>
			<label for="activity03">활동기간</label>
		</dt>
		<dd>
			<div class="input_group">
				<div class="input_wrap">
					<input type="text" name="activityStartDate" id="activity03" placeholder="8자리 입력" title="날짜 입력" value="{{this.activityStartDate}}">
				</div>
				<span class="gap bul">~</span>
				<div class="input_wrap">
					<input type="text" name="activityEndDate" placeholder="8자리 입력" title="날짜 입력" value="{{this.activityEndDate}}">
				</div>
			</div>
		</dd>
	</dl>
	<dl>
		<dt class="vtop pdt10">
			<label for="activity04">활동내용</label>
		</dt>
		<dd>
			<div class="textarea">
				<textarea name="activityBodyText" id="activity04" cols="30" maxlength="500" rows="5" placeholder=" 500자 이내로 입력해주세요." text="{{this.activityBodyText}}">{{this.activityBodyText}}</textarea>
			</div>
		</dd>
	</dl>
</div>
