{{#each this.list}}
<li class="ix-list-item item">
	<a href="{{ productDetailPath this.onlineProdSn }}" >
		<div class="thumb lazy_load_wrap">
			<img class="lazy_load" src="" data-src="{{ this.onlineProdImages.0.imgUrl}}" alt="{{ this.onlineProdName }}">
		</div>
		<div class="item_info">
			<div>
				<p class="prd_name">
					<span class="s_name">{{stockTxt this.saleDisplayStatus this.prodTypeCode}}</span>
					{{ this.onlineProdName }}
				</p>
				<p class="color_name"></p>
			</div>
			<div class="price_area">
				{{#with (calc this.onlineProdPriceSummary.maxOnlineSalePriceDiscountRate '+' this.onlineProdPriceSummary.maxMemberLevelDiscountRate '+' this.onlineProdPriceSummary.maxOnlineMemberDiscountRate) as |maxRate|}}
					{{#xif maxRate '!=' 0}}
						<span class="discount">
							{{ maxRate }}<em>%</em>
						</span>
					{{/xif}}
					<span class="price">{{ numberFormat ../onlineProdPriceSummary.minOnlineMemberDiscountPrice }}<em>원</em></span>
				{{/with}}
			</div>
		</div>
	</a>
</li>
{{/each}}