{{#each this.list}}
	<li>
		{{#xif this.displayMenuId '==' 'best' }}
			<div class="ranking {{#xif this.ranking '==' 1 }}first{{/xif}}">
				<span>{{ this.ranking }}</span>
			</div>
		{{/xif}}

		{{#xif this.displayMenuId '==' 'color_collection_shop' }}
			<div class="ranking">
				<span>{{ this.ranking }}</span>
			</div>
		{{/xif}}

		<!--// 핫딜 타이머-->
		{{#xif this.displayMenuId '==' 'hotdeal' }}
			<div class="item_state">
			<span>
				<span><i class="ico_hot"></i><span class="sr_only">핫딜</span></span>
				<span class="ui_remain_timer">
					<span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span>
				</span>
			</span>
			</div>
		{{/xif}}
		<!-- 핫딜 타이머 //-->

		<div class="item">
			<!--// 상품 이미지 -->
			<div class="item_images">
				<ul class="loading white" style="display:none">
					<li></li>
					<li></li>
					<li></li>
				</ul>

				{{#xif this.displayMenuId '!=' 'beauty_select_shop'}}
				{{#xif this.displayMenuId '!=' 'hotdeal' }}

					{{#xif this.flags.length '>' 0}}
						<div class="flag_set">
							{{#each this.flags}}
								{{#xif this.prodFlagCode '==' 'icon_reco_new'}}
									{{#xif ../displayMenuId '!=' 'new'}}
										<span class="new">신상품</span>
									{{/xif}}
								{{/xif}}
								{{#xif this.prodFlagCode '==' 'icon_reco_best_w'}}
									{{#xif ../displayMenuId '!=' 'best'}}
									{{#xif ../displayMenuId '!=' 'color_collection_shop'}}
										<span class="best">베스트</span>
									{{/xif}}
									{{/xif}}
								{{/xif}}
								{{#xif this.prodFlagCode '==' 'icon_pr_prod'}}
									<span class="event">이벤트</span>
								{{/xif}}
								{{#xif this.prodFlagCode '==' 'icon_reco_md'}}
									<span class="md">MD추천</span>
								{{/xif}}
								{{#xif this.prodFlagCode '==' 'icon_reco_online'}}
									{{#xif ../displayMenuId '!=' 'online_only'}}
										<span class="online">온라인전용</span>
									{{/xif}}
								{{/xif}}
							{{/each}}
						</div>
					{{/xif}}

				{{/xif}}
				{{/xif}}

				{{#xif this.displayMenuId '==' 'color_collection_shop' }}

					<!--// 컬러컬렉션 -->

					<!-- view type3 -->
					{{#each this.products }}
						{{#xif ../selectedProdSn '==' this.prodSn }}
							<a href="{{ productDetailPath this.onlineProdSn this.prodSn }}" class="lazy_load_wrap first_img">
								<img class="lazy_load" src="" data-src="{{ this.prodImages.[0].imgUrl }}" alt="{{ this.prodName }}">
							</a>
						{{/xif}}
					{{/each}}

					<!-- 컬러컬렉션 //-->

				{{else}}

					<!--// 공용 ( 컬러컬렉션 제외 ) -->

					<!-- view type1 -->
					{{#xif this.prodListUnitCode '==' 'OnlineProd' }}
						<div class="slide goods_slide" data-ix-options="view-length:1; default-index:{{ calc this.repImgNo '-' 1 }}">
					{{else}}
						<div class="slide goods_slide" data-ix-options="view-length:1; default-index:{{ calc this.products.[0].repImgNo '-' 1 }}">
					{{/xif}}
						{{#xif this.displayMenuId '==' 'hotdeal' }}
							<!-- 핫딜 -->
							{{#each this.products }}
								{{#xif ../selectedProdSn '==' this.prodSn }}
									{{{ include 'display.products-list.item-slide' this }}}
								{{/xif}}
							{{/each}}
						{{else}}
							<!-- 핫딜 제외 -->
							{{{ include 'display.products-list.item-slide' this }}}
						{{/xif}}
					</div>

					<!-- view type2 -->
					{{#xif ../prodListUnitCode '==' 'Prod' }}
						<a href="{{ productDetailPath this.onlineProdSn this.prodSn}}" class="lazy_load_wrap first_img">
							<img class="lazy_load" src="" data-src="{{ this.prodImages.[0].imgUrl }}" alt="{{ this.onlineProdName }}">
						</a>
					{{else}}
						<a href="{{ productDetailPath this.onlineProdSn }}" class="lazy_load_wrap first_img">
							<img class="lazy_load" src="" data-src="{{ this.onlineProdImages.[0].imgUrl }}" alt="{{ this.onlineProdName }}">
						</a>
					{{/xif}}

					<!-- 공용 ( 컬러컬렉션 제외 )//-->

				{{/xif}}

				<!--/* 일시품절일경우 */-->
				{{{stockImg this.saleDisplayStatus this.prodTypeCode }}}

				<!--// 구매, 남은수량(핫딜) -->
				{{#xif this.displayMenuId '==' 'hotdeal' }}
					<span class="sale_count"></span>
				{{/xif}}

			</div>
			<!-- 상품 이미지 //-->


			<!--// 상품명 -->
			<div class="item_info list">
				{{#xif this.displayMenuId '!=' 'color_collection_shop' }}

					<!--// 공용 ( 컬러컬렉션 제외 )-->
					<div class="prd_name">
						<p class="s_name">
							<em class="tag">{{stockTxt this.saleDisplayStatus this.prodTypeCode}}</em>
							{{{this.linePromoDesc}}}
						</p>
						<div>
							<em class="name">{{ this.onlineProdName }}</em>
						</div>

						{{#xif this.singleUnitProdYn '==' 'N' }}
							{{#xif ../prodListUnitCode '==' 'Prod' }}
								{{#each this.products }}
									{{#xif ../selectedProdSn '==' this.prodSn }}
										{{#xif this.prodName '!=' ../onlineProdName}}
											<p class="color_name">{{ this.prodName }}</p>
										{{/xif}}
									{{/xif}}
								{{/each}}
							{{else}}
								{{#xif this.productCount '==' 1 }}
									<p class="color_name">{{ this.products.[0].prodName }}</p>
								{{/xif}}
								{{#xif this.productCount '>' 1 }}
									{{#xif this.colorGroups.length '>' 0 }}
										<p class="color_name">{{ this.colorGroups.length }} colors</p>
									{{else}}
										<p class="color_name">{{ this.productCount }} options</p>
									{{/xif}}
								{{/xif}}
							{{/xif}}
						{{/xif}}
					</div>
					<!-- 공용 ( 컬러컬렉션 제외 )//-->
				{{else}}

				<!--// 컬러컬렉션 -->

				<p class="prd_name">{{ this.onlineProdName }}</p>
				<div class="color">
					{{#each this.products }}
						{{#xif ../selectedProdSn '==' this.prodSn }}
							{{#xif this.colorchipTypeCode '==' 'RGB'}}
								<span class="thumb" style="background-color:#{{ this.rgbVal }}"></span>
							{{/xif}}
							{{#xif this.colorchipTypeCode '==' 'Img'}}
								<span class="thumb"><img src="{{ this.colorchipImg }}" alt="color"></span>
							{{/xif}}

							<span class="text">{{ this.prodName }}</span>
						{{/xif}}
					{{/each}}
				</div>

				<!-- 컬러컬렉션 //-->
				{{/xif}}
			</div>
			<!-- 상품명 //-->

		<!--// 옵션 -->
			{{#xif this.displayMenuId '==' 'hotdeal' }}

				<!--// 핫딜 -->
				<div class="item_option type2">
					{{#each this.products }}
						{{#xif ../selectedProdSn '==' this.prodSn }}
							{{#xif this.colorchipTypeCode '==' 'RGB'}}
								<span class="img" style="background-color:#{{ this.rgbVal }}"></span>
							{{/xif}}
							{{#xif this.colorchipTypeCode '==' 'Img'}}
								<span class="img"><img src="{{ this.colorchipImg }}" alt="color"></span>
							{{/xif}}

							<span class="name">{{ this.prodName }}</span>
						{{/xif}}
					{{/each}}
				</div>

				<!-- 핫딜 //-->

			{{else}}
				{{#xif this.displayMenuId '!=' 'color_collection_shop' }}
				{{#xif this.displayMenuId '!=' 'beauty_point_shop' }}

					<!--// 공용 ( 핫딜, 컬러컬렉션 제외 )-->

					{{#xif this.products.length '>' 1}}
						<div class="item_option">

							{{#xif this.isSelectOption '==' false}}
								<div class="color_chips{{#xif this.products.length '>' 6}} more{{/xif}}">	<!-- 6개이상인 경우  more 클래스 -->
									<div>
										<ul>
											{{#each this.products}}
												{{#xif this.colorchipTypeCode '!=' 'No'}}
													<li data-sn="{{ this.prodSn }}" data-group="{{ join (pluck this.colorGroups 'colorGroupCode') ' ' }}">
														{{#xif this.colorchipTypeCode '==' 'RGB'}}
															<a href="#chip" style="background-color:#{{ this.rgbVal }}">
																{{#xif this.saleDisplayStatus '==' 'OutOfStock'}}<span class="sold_out"><span>품절</span></span>{{/xif}}
																<img alt="" src="{{ absolutePath '/images/product/color_chips_img_blank.png' }}">
															</a>
														{{/xif}}

														{{#xif this.colorchipTypeCode '==' 'Img'}}
															<a href="#chip">
																{{#xif this.saleDisplayStatus '==' 'OutOfStock'}}<span class="sold_out"><span>품절</span></span>{{/xif}}
																<img alt="컬러명" src="{{ this.colorchipImg }}">
															</a>
														{{/xif}}
													</li>
												{{/xif}}
											{{/each}}

											<li class="btn_more"><button type="button" class="btn_color_more"><img alt="컬러칩 더보기" src="/mo/ko/images/product/btn_color_more.gif"><span></span></button></li>
										</ul>
									</div>

									<!--/* 컬러군 */-->
									<div class="color_group">
										<div class="scroll_area">
											<button type="button" class="all" data-color="all">ALL</button>
											{{#each this.colorGroups}}
												<button type="button" style="background-color:#{{ this.colorGroupCode }}" data-color="{{ this.colorGroupCode }}"><span class="sr_only">{{ this.colorGroupName }}</span></button>
											{{/each}}
										</div>
									</div>
									<p class="option_close"><button type="button">닫기</button></p>
								</div>

								<div class="option_name">
									<!--icon_reco_new-->
									<span>
										<em class="flag_new" style="display: none">NEW</em>
										<span class="flag_name"></span>
									</span>
								</div>

							{{else}}
								<div class="option_wrap">
									<div class="input_group mgb10">
										<div class="select_option">
											<select name="option" id="" title="상품 옵션 선택">
												<option value="">옵션 선택</option>
												{{#each this.products}}
													<option value="{{ this.prodSn }}">{{ this.prodName }}</option>
												{{/each}}
											</select>
										</div>
									</div>
								</div>
							{{/xif}}
						</div>
					{{/xif}}

					<!-- 공용 ( 핫딜, 컬러컬렉션 제외 ) //-->

				{{/xif}}
				{{/xif}}
			{{/xif}}
			<!-- 옵션 //-->

			<!--// 가격 -->
			<div class="price_area">
				{{#xif this.displayMenuId '!=' 'color_collection_shop' }}
				{{#xif this.displayMenuId '!=' 'beauty_point_shop' }}

					{{#xif this.onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
						<span class="discount">
							{{#with (calc this.onlineProdPriceSummary.minOnlineSalePriceDiscountRate '+' this.onlineProdPriceSummary.minMemberLevelDiscountRate '+' this.onlineProdPriceSummary.minOnlineMemberDiscountRate) as |minRate|}}
								{{#with (calc ../onlineProdPriceSummary.maxOnlineSalePriceDiscountRate '+' ../onlineProdPriceSummary.maxMemberLevelDiscountRate '+' ../onlineProdPriceSummary.maxOnlineMemberDiscountRate) as |maxRate|}}
									{{#xif maxRate '!=' 0}}
										<span class="from">
											{{#xif minRate '!=' maxRate}}
												<em>~</em>
											{{/xif}}
										</span>
										<span class="to">
											{{ maxRate }}<em>%</em>
										</span>
									{{/xif}}
								{{/with}}
							{{/with}}
						</span>
					{{/xif}}

				{{/xif}}
				{{/xif}}

				<span class="price">
					{{#xif this.displayMenuId '==' 'beauty_point_shop' }}
						<span>
							{{ numberFormat this.products.[0].exchMembershipPoint }}<em>P</em>
						</span>
					{{else}}
						{{#xif this.onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
							<del>{{ numberFormat this.onlineProdPriceSummary.minBeforeOnlineSalePrice }}<em>원</em></del>
						{{/xif}}
						<span>
							{{ numberFormat this.onlineProdPriceSummary.minOnlineMemberDiscountPrice }}<em>원{{#xif this.onlineProdPriceSummary.minOnlineSalePrice '!=' this.onlineProdPriceSummary.maxOnlineSalePrice}}~{{/xif}}</em>
						</span>

					{{/xif}}
				</span>

				<span class="btns">
					{{#xif ../prodListUnitCode '==' 'Prod' }}
						<a href="{{ productDetailPath this.onlineProdSn this.prodSn }}&review=true" class="btn_review">
						<span class="sr_only">구매후기</span>
							{{#xif this.reviewCount '>' 0}}
								<span class="bubble">{{ this.reviewCount }}</span>
							{{/xif}}
						</a>
					{{else}}
						<a href="{{ productDetailPath this.onlineProdSn }}&review=true" class="btn_review">
						<span class="sr_only">구매후기</span>
							{{#xif this.reviewCount '>' 0}}
								<span class="bubble">{{ this.reviewCount }}</span>
							{{/xif}}
						</a>
					{{/xif}}
					<button type="button" class="btn_cart"><span class="sr_only">장바구니 담기</span></button>
				</span>
			</div>
		</div>
	<!--가격 //-->

	</li>
{{/each}}