<dl>
    <dt>Year</dt>
    <dd>
        <ul class="year_area">
            {{#each years}}
                <li><button type="button" data-year="{{ this.year }}" title="{{ this.year }}">{{ this.year }}</button></li>
            {{/each}}
        </ul>
    </dd>
</dl>
<dl>
    <dt>Month</dt>
    <dd>
        <ul class="month_area">
        {{#each months}}
            <li><button type="button" data-month="{{ numberCipher this.month 2 }}" title="{{ this.month }}">{{ numberCipher this.month 2 }}</button></li>
        {{/each}}
        </ul>
    </dd>
</dl>
<button type="button" class="ui_close date_layer"><span class="sr_only">close</span></button>