{{#each this.options}}
    <li class="select_option {{ this.uId }}"><a data-option-id="{{ this.optionId }}" data-value="{{ this.value }}" data-label="{{ this.label }}" class="{{ this.uId }} {{#if this.selected}}selected{{/if}} {{#if this.disabled}}disabled{{/if}}" role="option" {{#if this.disabled}}aria-disabled="true"{{/if}}>{{{ this.html }}}</a></li>
{{/each}}