{{!--
	전시 : 구매버튼이 있는 상세 상품목록 (진주알스토어)
--}}
{{#each this.list}}
	{{#each this.products}}
		{{#xif ../selectedProdSn '==' this.prodSn}}

			<li class="prod" data-online-prod-sn="{{ ../onlineProdSn }}">
				<div class="item">
					<div class="item_images lazy_load_wrap">
						<!-- /* 대표 이미지 */ -->
						<img class="lazy_load" src="" data-src="{{ replaceImagePath this.prodImages.[0].imgUrl 280 280 }}" alt="">

						{{{stockImg this.saleDisplayStatus this.prodTypeCode }}}
					</div>
					{{!--/* flags */--}}
					<div class="item_info list">
						{{!-- /* 상품명 */ --}}
						<div class="prd_name">
							<div>
								<p class="s_name">{{{ this.linePromoDesc }}}</p>
								<p class="name">
									<em class="tag">{{stockTxt this.saleDisplayStatus this.prodTypeCode}}</em>								
									{{{ ../onlineProdName }}}
								</p>
							</div>
							{{#xif ../singleUnitProdYn '==' 'N'}}
								{{#xif ../onlineProdName '!=' this.prodName}}
									<p class="color_name">{{ this.prodName }}</p>
								{{else}}
									<p class="color_name"></p>
								{{/xif}}
							{{/xif}}
						</div>
					</div>
					<div class="price_area">
						<div class="price">
							<span>{{ numberFormat this.exchActivityPoint }}<em> 알</em></span>
						</div>
					</div>
				</div>
				<button class="btn_order" type="button" data-online-prod-sn="{{ ../onlineProdSn }}" data-prod-sn="{{ ../prodSn }}" {{{stockBtn this.saleDisplayStatus this.prodTypeCode}}} >담기</button>
			</li>
		{{/xif}}
	{{/each}}
{{/each}}