{{#each prodReviewList}}
									<li class="grid-item">
										<a href="/display/beauty_test/review-detail?prodReviewSn={{this.prodReviewSn}}" target="_blank">
											<!--/* 이미지 없는 경우 */-->
											<div class="flag_box">
												<div class="review_info">
													<span class="rating_one">
														<span class="star_one"><img src="/mo/ko/images/display/bg_rating_one.png" alt=""></span><span class="count">{{ this.scope }}</span>
													</span>
													<p class="text">{{this.prodReviewTitle}}</p>
													<p class="reviewer">{{this.memberId}}</p>
												</div>
												<div class="product_info">
													<div class="img_product"><img alt="" src="{{this.repProdImage}}"></div>
													<ul class="product_name_wrap">
														<li>{{this.onlineProdName}}</li>
														<li>{{this.prodName}}</li>
													</ul>
												</div>
												<div class="flag_best"><img src="/mo/ko/images/display/ico_best_64.png" alt="베스트"></div>
											</div>
										</a>
									</li>
{{/each}}