<div class="table_layout">
	<dl class="date">
		<dt>주문일시</dt>
		<dd>{{dateFormat this.ordInfo.ordReceivedDt "YYYY-MM-DD HH:mm:SS"}}</dd>
	</dl>
	<dl class="order_num">
		<dt>주문번호</dt>
		<dd>{{this.ordInfo.ordNo}}</dd>
	</dl>
	{{#xif this.type '!=' 'cashReceipts'}}
		{{#if this.ordInfo.ordAllCancelDt}}
			<dl>
				<dt>취소 처리일</dt>
				<dd>{{dateFormat this.ordInfo.ordAllCancelDt "YYYY-MM-DD HH:mm:SS"}}</dd>
			</dl>
		{{/if}}
		{{#if this.ordInfo.claimCompleteDt}}
			<dl>
				<dt>{{this.title}} 처리일</dt>
				<dd>{{dateFormat this.ordInfo.claimCompleteDt "YYYY-MM-DD HH:mm:SS"}}</dd>
			</dl>
		{{/if}}
	{{else}}
		<dl>
			<dt>발급상태</dt>
			{{#xif this.ordInfo.cashReceiptIssuePossibleYn '===' 'Y'}}
				{{#xif this.ordInfo.cashReceiptIssueYn '===' 'Y'}}
					<dd><em>발급완료</em></dd>
				{{else}}
					<dd><button class="btn_sm_neutral" type="button" onclick="reqCashReceipts({{this.ordInfo.ordSn}})">발급신청</button></dd>
				{{/xif}}
			{{else}}
				<dd><button class="btn_sm_bordered" type="button" onclick="showCrditCardStatement('{{this.ordInfo.ordNo}}', '{{this.ordInfo.pgTradeNo}}')">매출 전표</button></dd>
			{{/xif}}
		</dl>
	{{/xif}}
</div>
<div class="table_layout">
	{{#xif this.type '==' 'store'}}
		<dl>
			<dt>주문상태</dt>
			<dd>
				<em>{{ordStatusCheck 'store' ordInfo.ordDetailStatusCode}}</em>
				<!-- {{#if (or (eq ordInfo.ordDetailStatusCode 'Shipping') (eq ordInfo.ordDetailStatusCode 'OrdHandlingComplete'))}}
					<a href="#" class="order_number_link">105712354700</a>
				{{/if}} -->
			</dd>
		</dl>
		<dl>
			<dt>구매매장</dt>
			<dd><em>{{ordInfo.ordShipAddressExList.0.storeEx.storeName}}</em> <span class="flag">스윗딜리버리</span> <button class="btn_sm_neutral" type="button" onclick="showStoreMap({{json this.storeEx}})">매장 보기</button></dd>
		</dl>
	{{else}}
		{{#if (gt this.onlineCnt 0)}}
			<dl>
				<dt>온라인주문</dt>
				<dd>
					{{#xif this.claimYn '===' 'Y'}}
						<em>{{this.title}} {{ordStatusCheck 'returnExchange' ordInfo.claimProgressStatusCode}}</em>
					{{else}}
						<em>{{ordStatusCheck 'online' ordInfo.ordDetailStatusCode}}</em>
					{{/xif}}
					<!-- {{#if (or (eq ordInfo.ordDetailStatusCode 'Shipping') (eq ordInfo.ordDetailStatusCode 'OrdHandlingComplete'))}}
						<a href="#" class="order_number_link">105712354700</a>
					{{/if}} -->
				</dd>
			</dl>
		{{/if}}
		{{#if (gt this.storeCnt 0)}}
			<dl>
				<dt>테이크아웃</dt>
				<dd><em>{{ordStatusCheck 'takeOut' ordInfo.ordDetailStatusCode}}</em></dd>
				<button class="btn_sm_neutral" type="button" onclick="showStoreMap({{json ordInfo.ordShipAddressExList.0.storeEx}})">매장 보기</button></dd>
			</dl>
		{{/if}}
	{{/xif}}
</div>