<dt><button type="button">{{condition (eq this.takeOutYn 'N') '온라인 주문' '테이크아웃'}} 상품 (<em>{{this.cnt}}</em>개)</button></dt>
<dd>
	{{#if (eq takeOutYn 'Y')}}
		<div class="store_info">
			<dl>
				<dt>방문매장</dt>
				<dd><b>명동2호점</b> <span>(02-0000-0000)</span></dd>
				<dd><button class="btn_md_form" type="button" onclick="viewStoreMap()">매장 보기</button></dd>
			</dl>
			{{#if (and (eq this.status 'request') (eq this.step 'one'))}}
				<ul class="list_bullet_dot">
					<li>테이크아웃 취소는 부분취소가 되지 않습니다.</li>
					<li>취소 시 테이크아웃 상품 전체 취소로 처리됩니다.</li>
				</ul>
			{{/if}}
		</div>
	{{/if}}
	{{#each this.list}}
		<!-- 일반상품 -->
		{{#if (eq this.ordHistProdTypeCode 'Ord')}}
			<div class="panel_box">
				{{#unless (and (eq this.ordHistProdStatusCode 'ProdCancel') (eq ../status 'request'))}}
					<!-- 온라인 상품 -->
					{{#if (eq this.singleProdYn 'N')}}
						{{{prodPartial 'my.order.detail.product' 'oProd' this 'viewYn' ../viewYn 'typeName' null}}}
					{{/if}}
					<!-- 단위상품 -->
					{{#each this.ordHistProdList}}
						{{#unless (and (eq this.ordHistProdStatusCode 'ProdCancel') (eq ../status 'request'))}}
							{{{prodPartial 'my.order.detail.product-option' 'prod' this 'viewYn' ../../viewYn 'oProdSn' ../this.onlineProdSn 'step'
								../../step 'statusCode' ../../this.statusCode 'singleProdYn' ../singleProdYn}}}
							{{#if (eq ../../viewYn.selectReason 'Y')}}
								<!-- 클레임 사유 선택 -->
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdSn' this.ordHistProdSn 'reason' ../../reason 'title' ../../title}}}
							{{/if}}
							{{#if (eq ../../viewYn.selectReasonResult 'Y')}}
								<!-- 클레임 사유 -->
								{{{prodPartial 'my.order.detail.claim-reason' 'title' ../../title 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}
							{{/if}}
						{{/unless}}
					{{/each}}
					<!-- 상품단위 증정 사은품 -->
					{{#each this.freeGiftList}}
						<div class="freebies">
							<div class="thumb"><img src="{{this.ordProdEx.onlineProdImgUrl}}" alt=""></div>
							<div class="info">
								<div class="align_left">
									<p class="name">{{this.ordProdEx.onlineProdNameRlang}}</p>
									<p class="flag">증정사은품</p>
								</div>
								<div class="align_right">
									<p><strong class="num">{{this.ordQty}}</strong>개<span class="gap">/</span><strong class="num">{{this.finalOnlineSaleAmtPcur}}</strong>원</p>
								</div>
							</div>
						</div>
					{{/each}}
				{{/unless}}
			</div>
		{{/if}}
	{{/each}}

	{{#each this.bList}}
		<!-- 뷰티포인트 상품 -->
		{{#if (eq this.ordHistProdTypeCode 'Ord')}}
			<div class="panel_box">
				{{#unless (and (eq this.ordHistProdStatusCode 'ProdCancel') (eq ../status 'request'))}}
					<!-- 온라인 상품 -->
					{{#if (eq this.singleProdYn 'N')}}
						{{{prodPartial 'my.order.detail.product' 'oProd' this 'viewYn' ../viewYn 'typeName' '뷰티포인트'}}}
					{{/if}}
					{{#each this.ordHistProdList}}
						{{#unless (and (eq this.ordHistProdStatusCode 'ProdCancel') (eq ../status 'request'))}}
							<!-- 단위상품 -->
							{{{prodPartial 'my.order.detail.product-option' 'prod' this 'viewYn' ../../viewYn 'oProdSn' ../this.onlineProdSn 'step'
								../../step 'statusCode'../../this.statusCode 'singleProdYn' ../singleProdYn 'typeName' '뷰티포인트'}}}
							{{#if (eq ../../viewYn.selectReason 'Y')}}
								<!-- 클레임 사유 선택 -->
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdSn' this.ordHistProdSn 'reason' ../../reason 'title' ../../title}}}
							{{/if}}
							{{#if (eq ../../viewYn.selectReasonResult 'Y')}}
								<!-- 클레임 사유 -->
								{{{prodPartial 'my.order.detail.claim-reason' 'title' ../../title 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}
							{{/if}}
						{{/unless}}
					{{/each}}
				{{/unless}}
			</div>
		{{/if}}
	{{/each}}

	{{#each aList}}
		<!-- 진주알 상품 -->
		{{#if (eq this.ordHistProdTypeCode 'Ord')}}
			<div class="panel_box">
				{{#unless (and (eq this.ordHistProdStatusCode 'ProdCancel') (eq ../status 'request'))}}
					<!-- 온라인 상품 -->
					{{#if (eq this.singleProdYn 'N')}}
						{{{prodPartial 'my.order.detail.product' 'oProd' this 'viewYn' ../viewYn 'typeName' '진주알상품'}}}
					{{/if}}
					{{#each this.ordHistProdList}}
						{{#unless (and (eq this.ordHistProdStatusCode 'ProdCancel') (eq ../status 'request'))}}
							<!-- 단위상품 -->
							{{{prodPartial 'my.order.detail.product-option' 'prod' this 'viewYn' ../../viewYn 'oProdSn'
								../this.onlineProdSn 'step' ../../step 'statusCode'../../this.statusCode 'singleProdYn' ../singleProdYn 'typeName' '진주알상품'}}}
							{{#if (eq ../../viewYn.selectReason 'Y')}}
								<!-- 클레임 사유 선택 -->
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdSn' this.ordHistProdSn 'reason' ../../reason 'title' ../../title}}}
							{{/if}}
							{{#if (eq ../../viewYn.selectReasonResult 'Y')}}
								<!-- 클레임 사유 -->
								{{{prodPartial 'my.order.detail.claim-reason' 'title' ../../title 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}
							{{/if}}
						{{/unless}}
					{{/each}}
				{{/unless}}
			</div>
		{{/if}}
	{{/each}}

	{{#each mnList}}
		<!-- M+N 상품 -->
		{{#xif promoTypeCode '===' 'Same'}}
			{{#each this.ordOnlineProdFoList}}
				{{#each this.prodList}}
					<div class="panel_box">
						<div class="title">
							<span class="benefit"><em>{{mPlusNBaseQty}}+{{mPlusNAwardQty}} 혜택 적용</em></span>
							<strong class="event">{{../../this.promoName}}</strong> <!-- /* 이벤트명 */  -->
							<div class="align_right"><!-- /* 가격 */  -->
								<p><strong class="num">{{calc mPlusNBaseQty '+' mPlusNAwardQty}}</strong>개<span class="gap">/</span><strong class="num">{{currencyFormatDefault (calc finalOnlineSalePricePcur '*' mPlusNBaseQty) ''}}</strong>
								<del>{{currencyFormat (calc finalOnlineSalePricePcur '*' (calc mPlusNBaseQty '+' mPlusNAwardQty))}}</del></p>
							</div>
						</div>
						{{#unless (and (eq ../this.ordHistProdStatusCode 'ProdCancel') (eq ../../../status 'request'))}}
							{{#unless (and (eq ../this.ordHistProdStatusCode 'ProdCancel') (eq ../../../status 'request'))}}
								<!-- 단위상품 -->
								<div class="product">
									<!-- 클레임 체크박스 -->
									{{#if (eq ../../../viewYn.checkBox 'Y')}}
										<div class="check_wrap check_only">
											<input type="checkbox" id="prod_{{this.ordProdEx.prodSn}}" name="prod_{{../this.onlineProdSn}}" value="{{json this}}" data-oProdSn="{{../this.onlineProdSn}}">
											<label for="prod_{{this.ordProdEx.prodSn}}">
												<span class="sr_only">선택</span>
											</label>
										</div>
									{{/if}}
									<div class="thumb">
										{{#xif this.ordProdEx.prodImgUrl '===' null}}
											<img src="/images/cart/no_img.png" alt="">
										{{else}}
											<img src="{{this.ordProdEx.prodImgUrl}}" alt="">
										{{/xif}}
									</div>
									<div class="info">
										<div class="align_left">
											<p class="name">{{this.ordProdEx.prodNameRlang}}</p>
										</div>
										<div class="align_right">
											{{#if (eq this.ordHistProdStatusCode 'ProdCancel')}}
												<p><em>취소완료</em></p>
											{{/if}}
											<p>
												<strong class="giving num">+{{mPlusNAwardQty}}</strong>
												<strong class="num">{{mPlusNBaseQty}}</strong>개<span class="gap">/</span><strong class="num">{{currencyFormat this.finalOnlineSaleAmtPcur}}</strong>
											</p>
										</div>
									</div>
								</div>
								{{#if (eq ../../../viewYn.selectReason 'Y')}}
									<!-- 클레임 사유 선택 -->
									{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdSn' this.ordHistProdSn 'reason' ../../../reason 'title' ../../../title}}}
								{{/if}}
								{{#if (eq ../../../viewYn.selectReasonResult 'Y')}}
									<!-- 클레임 사유 -->
									{{{prodPartial 'my.order.detail.claim-reason' 'title' ../../../title 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}
								{{/if}}
							{{/unless}}
						{{/unless}}
					</div>
				{{/each}}
			{{/each}}
		{{else}}
			<div class="panel_box">
				<div class="title">
					<span class="benefit"><em>{{baseQty}}+{{awardQty}} 혜택 적용</em></span>
					<strong class="event">{{this.promoName}}</strong> <!-- /* 이벤트명 */  -->
					<div class="align_right"><!-- /* 가격 */  -->
						<p><strong class="num">{{calc baseQty '+' awardQty}}</strong>개<span class="gap">/</span><strong class="num">{{currencyFormat totalProductSaleAmount}}</strong> <del>{{currencyFormat totalFinalOnlineSaleAmount}}</del></p>
					</div>
				</div>
				{{#each this.ordOnlineProdFoList}}
					{{#unless (and (eq this.ordHistProdStatusCode 'ProdCancel') (eq ../../status 'request'))}}
						{{#each this.prodList}}
							{{#unless (and (eq ../this.ordHistProdStatusCode 'ProdCancel') (eq ../../../status 'request'))}}
								<!-- 단위상품 -->
								<div class="product {{condition (gt @../index 0) 'bundle' ''}}">
									<!-- 클레임 체크박스 -->
									{{#if (eq ../../../viewYn.checkBox 'Y')}}
										<div class="check_wrap check_only">
											<input type="checkbox" id="prod_{{../../promoSn}}" name="prod_{{../../promoSn}}" value="{{json this}}" data-promoSn="{{../../promoSn}}">
											<label for="prod_{{../../promoSn}}">
												<span class="sr_only">선택</span>
											</label>
										</div>
									{{/if}}
									<div class="thumb">
										{{#xif this.ordProdEx.prodImgUrl '===' null}}
											<img src="/images/cart/no_img.png" alt="">
										{{else}}
											<img src="{{this.ordProdEx.prodImgUrl}}" alt="">
										{{/xif}}
									</div>
									<div class="info">
										<div class="align_left">
											<p class="name">{{this.ordProdEx.prodNameRlang}}</p>
										</div>
										<div class="align_right">
											{{#if (eq this.ordHistProdStatusCode 'ProdCancel')}}
												<p><em>취소완료</em></p>
											{{/if}}
											<p>
												<strong class="num">{{condition (eq ../../../step 'two') this.cancelQtySum (calc ../ordQtySum '-' ../cancelQtySum)}}</strong>개<span class="gap">/</span><strong class="num">{{currencyFormat this.finalOnlineSaleAmtPcur}}</strong>
											</p>
										</div>
									</div>
								</div>
							{{/unless}}
						{{/each}}
					{{/unless}}
				{{/each}}
				{{#if (eq ../viewYn.selectReason 'Y')}}
					<!-- 클레임 사유 선택 -->
					{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdSn' this.promoSn 'reason' ../reason 'title' ../title}}}
				{{/if}}
				{{#if (eq ../viewYn.selectReasonResult 'Y')}}
					<!-- 클레임 사유 -->
					{{{prodPartial 'my.order.detail.claim-reason' 'title' ../title 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}
				{{/if}}
			</div>
		{{/xif}}
	{{/each}}

	{{#each sList}}
		<!-- 동시구매 상품 -->
		<div class="panel_box">
			<div class="title">
				<strong class="event">{{this.promoName}}</strong> <!-- /* 이벤트명 */  -->
			</div>
			{{#each this.ordOnlineProdFoList}}
				{{#unless (and (eq this.ordHistProdStatusCode 'ProdCancel') (eq ../../status 'request'))}}
					{{#each this.prodList}}
						{{#unless (and (eq ../this.ordHistProdStatusCode 'ProdCancel') (eq ../../../status 'request'))}}
							<!-- 단위상품 -->
							<div class="product">
								<!-- 클레임 체크박스 -->
								{{#if (eq ../../../viewYn.checkBox 'Y')}}
									<div class="check_wrap check_only">
										<input type="checkbox" id="prod_{{this.ordProdEx.prodSn}}" name="prod_{{../../promoTypeCode}}" value="{{json this}}" data-promoSn="{{../../promoTypeCode}}">
										<label for="prod_{{this.ordProdEx.prodSn}}">
											<span class="sr_only">선택</span>
										</label>
									</div>
								{{/if}}
								<div class="thumb">
									{{#xif this.ordProdEx.prodImgUrl '===' null}}
										<img src="/images/cart/no_img.png" alt="">
									{{else}}
										<img src="{{this.ordProdEx.prodImgUrl}}" alt="">
									{{/xif}}
								</div>
								<div class="info">
									<div class="align_left">
										<p class="name">{{this.ordProdEx.prodNameRlang}}</p>
									</div>
									<div class="align_right">
										{{#if (eq this.ordHistProdStatusCode 'ProdCancel')}}
											<p><em>취소완료</em></p>
										{{/if}}
										<p>
											<strong class="num">{{condition (eq ../../../step 'two') this.claimReceivedQty this.ordQty}}</strong>개<span class="gap">/</span><strong class="num">{{currencyFormat this.finalOnlineSaleAmtPcur}}</strong>
										</p>
									</div>
								</div>
							</div>
						{{/unless}}
					{{/each}}
				{{/unless}}
			{{/each}}
			{{#if (eq ../viewYn.selectReason 'Y')}}
				<!-- 클레임 사유 선택 -->
				{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdSn' this.promoTypeCode 'reason' ../reason 'title' ../title}}}
			{{/if}}
			{{#if (eq ../viewYn.selectReasonResult 'Y')}}
				<!-- 클레임 사유 -->
				{{{prodPartial 'my.order.detail.claim-reason' 'title' ../title 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}
			{{/if}}
		</div>
	{{/each}}

	{{#if (eq this.takeOutYn 'Y')}}
		<ul class="list_bullet_dot">
			<li>테이크아웃 서비스는 온라인 주문 후 매장을 직접 방문하여 수령하는 서비스입니다.</li>
			<li>미수령시 주문은 자동 취소됩니다. (결제완료 후 2일 후 자동취소)</li>
			<li>테이크아웃 상품의 교환/반품은 수령매장에서만 가능합니다</li>
			<li>테이크아웃 주문은 매장에서 상품 준비가 완료되면 SMS를 발송하며 수신한 SMS 내 주문번호나 주문내역의 바코드를 수령매장에 제시하면 상품을 찾을 수 있습니다.</li>
		</ul>
	{{/if}}
</dd>