<div class="align_right"><span>취소 ( {{this.summary.cancelCnt}} )</span> <span>교환 ( {{this.summary.exchangeCnt}} )</span> <span>반품 ( {{this.summary.returnCnt}} )</span></div>
<div class="table_layout">
	<div>
		<p class="{{condition (ne this.summary.ordReceptCnt 0) 'num' 'num zero'}}">{{this.summary.ordReceptCnt}}</p>
		<p>주문접수</p>
	</div>
	<div>
		<p class="{{condition (ne this.summary.payCompleteCnt 0) 'num' 'num zero'}}">{{this.summary.payCompleteCnt}}</p>
		<p>결제완료</p>
	</div>
	<div>
		<p class="{{condition (ne this.summary.preparingCnt 0) 'num' 'num zero'}}">{{this.summary.preparingCnt}}</p>
		<p>배송준비중</p>
	</div>
	<div>
		<p class="{{condition (ne this.summary.shippingCnt 0) 'num' 'num zero'}}">{{this.summary.shippingCnt}}</p>
		<p>배송중</p>
	</div>
	<div>
		<p class="{{condition (ne this.summary.shipCompleteCnt 0) 'num' 'num zero'}}">{{this.summary.shipCompleteCnt}}</p>
		<p>배송완료</p>
	</div>
</div>