{{#each this.articleCommentList}}
	{{#xif this.displayYn '==' 'Y'}}
		<li>
			<dl>
				<dt class="comment_title"><span>{{ this.memberId }}</span><small class="num">{{ dateFormat  this.createdDt }}</small></dt>
				<dd class="comment_cont">
					<!--/* 375 해상도 기준 4줄에 절삭 : 더읽기 클릭시 전체 보임 */-->
					<div class="cont">
						<p class="text">{{ this.articleCommentBodyText }}</p>
						<a href="#none" class="read_more" style="display:none;">더읽기 <i class="ico_down"></i></a>
						<a href="#none" class="more_view close" style="display:none;">닫기 <i class="ico_up"></i></a>
						<div class="comment_edit" style="display:none;">
							<div class="inbox">
								<textarea cols="" rows="4" class="text_edit"></textarea>
							</div>
						</div>
					</div>
					<div class="clear btns">
						<button type="button" class="btn_good" data-article-comment-sn="{{ this.articleCommentSn }}">
							<i class="ico_thumb animated500ms rotate"></i>
							<span>도움이 되요 
								<span class="num">
									{{#xif this.articleCommentRecommendCnt '!=' '0'}}
										{{ this.articleCommentRecommendCnt }}
									{{/xif}}
								</span>
							</span>
						</button>
						<button type="button" class="btn_report" data-article-comment-sn="{{ this.articleCommentSn }}"><i class="ico_report"></i><span class="sr_only">신고하기</span></button>
						<!--<a href="#none" class="btn_report"><i class="ico_report"></i><span class="sr_only">신고하기</span></a>-->
					</div>
					{{#xif this.myCommentYn '==' 'Y'}}
					<div class="comment_btns">
						<button type="button" data-article-comment-sn="{{ this.articleCommentSn }}" id="btn_modify">수정</button>
						<button type="button" data-article-comment-sn="{{ this.articleCommentSn }}" id="btn_delete">삭제</button>
					</div>
					{{/xif}}
				</dd>
			</dl>
		</li>
	{{/xif}}
{{/each}}

{{#xif this.isScrollType '&&' (lt (calc this.offset '+' this.articleCommentList.length) this.totalCount)}}
	<li class="inner_loading">
		<ul class="loading">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</li>
{{/xif}}