
{{#if this.articleList.length}}
	{{#each this.articleList}}
	<li>
		<a href="{{ articleDetailPath this.articleSn }}">
			<span class="thumb video">
				<img src="{{ absolutePath this.bannerImgM1 }}" alt="">
			</span>
			<span class="info">
				<b class="title ellipsis">{{ this.articleTitle }}</b>
				<span class="exp ellipsis">{{ this.articleTitle }}</span>
				<small>{{ this.writer }}</small>
			</span>
		</a>
	</li>
	{{/each}}
{{/if}}

	


