<div class="cart_item_box_wrap type2 group">
	<div class="cart_item_box typ2">
		<div class="top_tit_wrap">
			<h3>진주알 교환 상품</h3>
			<div>
				<span class="cart_price point">
					<span class="left_num">
						<span>보유</span>
						<strong class="num">{{numberFormat activityPoints }}</strong><span>알</span>
						<span>/</span>
					</span>
					<span class="right_num">
						<strong class="num">{{numberFormat pointSum }}</strong><span>알</span>
					</span>
				</span>
			</div>
		</div>
	</div>

{{#each list}}
	{{#each cartProdExList}}
	<div class="cart_item_box">
		<div class="cart_name_wrap">
			<span class="check_wrap">
				<input type="checkbox" name="chkBox" id="chkBox{{prodEx.prodSn}}" pointExch="membership" point="{{ exchPoint }}" value="{{../onlineProdSn}}" {{#if (ne ../saleDisplayStatus 'OnSale') }}disabled{{/if}}  {{condition (and (eq ../saleDisplayStatus 'OnSale')(eq ../selectYn 'Y') ) 'checked' ''}}>
				<label for="chkBox{{prodEx.prodSn}}">체크</label>
			</span>
			{{#xif prodEx.repProdImgEx '!=' null }} <img src="{{ prodEx.repProdImgEx.imgUrl }}" class="thm_cart_item" alt=""> {{/xif}}
			{{#xif prodEx.repProdImgEx '==' null }}
				{{#xif ../repOnlineProdImgEx '!=' null }}
					<img src="{{ ../repOnlineProdImgEx.imgUrl }}" class="thm_cart_item" alt="">
				{{/xif}}
				{{#xif ../repOnlineProdImgEx '==' null }}
					<img src="{{ absolutePath '/images/cart/no_img.png.gif' }}" class="thm_cart_item" alt="">
				{{/xif}}
			{{/xif}}
			<div class="cart_table_cell">
				<span class="cart_item_name">{{#if (ne ../onlineProdName null) }} {{ ../onlineProdName }} {{else}} {{ prodEx.prodName }} {{/if}}</span>
			</div>
			<button type="button" class="btn_cart_item_del" onclick="removeCartProd('{{ ../../cartSn }}', '{{ cartProdSn }}')"><span class="sr_only">없애기</span></button>
		</div>
		<div class="cart_item_info">
			<input type="hidden" name="onlineActivityPrdSn" value="{{ prodEx.prodSn }}"/>
			<input type="hidden" name="cartProdSn" value="{{ cartProdSn }}"/>
			<input type="hidden" name="prdInfo_{{ ../onlineProdSn }}" value="{{ cartProdSn }}"/>
			<input type="hidden" name="saleDisplayStatus_{{ prodEx.prodSn }}" value="{{ prodEx.saleDisplayStatus }}"/>
			{{!-- 최대구매제한여부가 'Y'일 경우 최대구매수량 존재 --}}
			{{#xif prodEx.maxPurLimitYn '==' 'Y' }}
				<span data-min="{{ prodEx.minPurLimitQty }}" data-max="{{ prodEx.maxPurLimitQty }}" class="ui_spinner small" data-step="1" data-disabled="false">
					<button class="spinner_decrease" type="button" title="제품 수량 감소" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.integrationMembershipExchYn }}', '{{ this.activityPointExchYn }}', '{{ this.storePickupYn }}', '{{ this.storeSn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
					<input class="spinner_input" type="text" name="cartProdQty" value="{{ cartProdQty }}">
					<button class="spinner_increase" type="button" title="제품 수량 증가" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.integrationMembershipExchYn }}', '{{ this.activityPointExchYn }}', '{{ this.storePickupYn }}', '{{ this.storeSn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
				</span>
			{{/xif}}
			{{!-- 최대구매제한여부가 'N'일경우 최대구매수량은 존재하지 않음 --}}
			{{#xif prodEx.maxPurLimitYn '==' 'N' }}
				<span data-min="{{ prodEx.minPurLimitQty }}" class="ui_spinner small" data-step="1" data-disabled="false">
					<button class="spinner_decrease" type="button" title="제품 수량 감소" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.integrationMembershipExchYn }}', '{{ this.activityPointExchYn }}', '{{ this.storePickupYn }}', '{{ this.storeSn }}', '-')"><img alt="제품 수량 감소" src="{{ absolutePath '/images/common/ico_minus1.gif' }}"></button>
					<input class="spinner_input" type="text" name="cartProdQty" value="{{ cartProdQty }}">
					<button class="spinner_increase" type="button" title="제품 수량 증가" onclick="prodQtyOperate(this, {{ ../../cartSn }}, {{ this.cartProdSn }}, {{ this.prodEx.prodSn }}, '{{ this.integrationMembershipExchYn }}', '{{ this.activityPointExchYn }}', '{{ this.storePickupYn }}', '{{ this.storeSn }}', '+')"><img alt="제품 수량 증가" src="{{ absolutePath '/images/common/icon_plus1.gif' }}"></button>
				</span>
			{{/xif}}
			<span class="cart_price point">
				<span class="left_num">
					<strong class="num">{{numberFormat exchPoint }}</strong><span>알</span>
				</span>
			</span>
		</div>
		{{#xif cartProdAwardList.length '>' 0 }}
			<div class="cart_free_gift">
				{{#each cartProdAwardList}}
					{{#if (ne awardProdEx.repProdImgEx null) }}<span class="thm"><img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/></span>{{/if}}
					<span class="info">
						<span>사은품 : {{ awardProdEx.prodName }}</span>
						<span>기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}}</span>
					</span>
				{{/each}}
			</div>
		{{/xif}}
	</div>
	{{/each}}
{{/each}}
</div>