<!--/* 동시구매상품 */-->
{{#each list }}
	<div class="cart_item_box_wrap type2 group">
		<div class="cart_item_box_header">
			<div class="top_tit_wrap2">
				<div class="cart_name_wrap2">
					<span class="check_wrap">
						<input type="checkbox" name="chkBox" id="chkBoxS_{{ @index }}" value="S_{{ @index }}" {{#if (ne saleDisplayStatus 'OnSale') }}disabled{{/if}} {{condition (eq selectYn 'Y') 'checked' ''}}>
						<label for="chkBoxS_{{ @index }}">체크</label>
					</span>
					<div class="cart_table_cell">
						<h3>{{ promoName }}</h3>
					</div>
					<button type="button" class="btn_cart_item_del" onclick="sameTimeRemoveCartProd('{{ ../cartSn }}', 'S_{{ @index }}', 'online')"><span class="sr_only">없애기</span></button>
				</div>
				<div class="cart_item_info">
					<!--/*
					<span class="ui_spinner small" data-min="1" data-max="20" data-step="2" data-disabled="false">
						<button class="spinner_decrease" type="button" title="제품 수량 감소"><img alt="제품 수량 감소" ap:src="@{/images/common/ico_minus1.gif}"></button>
						<input class="spinner_input" type="text" title="선택품목갯수" id="" value="1" name="">
						<button class="spinner_increase" type="button" title="제품 수량 증가"><img alt="제품 수량 증가" ap:src="@{/images/common/icon_plus1.gif}"></button>
					</span>
					*/-->
					<span class="cart_price">
						{{#if (ne finalOnlineSalesAmountInfo null) }}
						<span class="left_num">
							<strong class="num">{{ numberFormat finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
						</span>
						{{/if}}
						{{#if (ne productSaleAmountInfo null) }}
							{{#if (and (ne productSaleAmountInfo.standardCurrency.amount finalOnlineSalesAmountInfo.standardCurrency.amount) ) }}
								<span class="right_num">
									<del class="num">{{ numberFormat productSaleAmountInfo.standardCurrency.amount }}<span>원</span></del>
								</span>
							{{/if}}
						{{/if}}
					</span>
				</div>
			</div>
		</div>
		{{#each promoOnlineProdExList }}
			{{#each cartProdExList }}
				{{#if (gte @../index 0) }} <div class="cart_item_box ico_plus"> {{else}} <div class="cart_item_box"> {{/if}}
					<div class="cart_name_wrap">
						{{#if (ne prodEx.repProdImgEx null) }}
							<span class="thm_cart_item"><img src="{{ prodEx.repProdImgEx.imgUrl }}" alt=""></span>
						{{/if}}
						<div class="cart_table_cell">
							<span class="cart_item_name">
								<a href="#none" onclick="fnProdDetail({{ ../onlineProdSn }})">
									{{#if (ne prodEx.saleDisplayStatus 'OnSale') }} <em>{{cartStatusTxt prodEx.saleDisplayStatus}}</em> {{/if}} {{ ../onlineProdName }}
								</a>
							</span>
							{{#if (eq ../singleProdYn 'N') }} <b class="cart_item_opt">{{ prodEx.prodName }}</b> {{/if}}
						</div>
					</div>
					<div class="cart_item_info">
						<input type="hidden" name="index" value="{{ @../index }}"/>
						<input type="hidden" name="onlinePrdSn" value="{{ prodEx.prodSn }}"/>
						<input type="hidden" name="cartProdSn" sameTimePromo="sameTimePromo" cartProdQty="{{ cartProdQty }}" minPurLimitQty="{{ prodEx.minPurLimitQty }}" maxPurLimitYn="{{ prodEx.maxPurLimitYn }}" maxPurLimitQty="{{ prodEx.maxPurLimitQty }}" value="{{ cartProdSn }}"/>
						<input type="hidden" name="prdInfo_S_{{ @../../index }}" value="{{ cartProdSn }}"/>
						<input type="hidden" name="saleDisplayStatus_S_{{ @../../index }}" value="{{ prodEx.saleDisplayStatus }}"/>
						<span class="cart_price">
							{{#if (eq calculationResultYn 'Y') }}
								{{#if (ne calculationResultProduct.finalOnlineSalesAmountInfo null) }}
									<span class="left_num">
										<strong class="num">{{numberFormat calculationResultProduct.finalOnlineSalesAmountInfo.standardCurrency.amount }}</strong><span>원</span>
									</span>
								{{/if}}
								<!--/* 프로모션상품은 이중가표기를 않한다. */-->
							{{else}}
								{{#if (ne prodEx.salePrice null) }}
									<span class="left_num">
										<strong class="num">{{numberFormat (calc prodEx.salePrice '*' cartProdQty) }}</strong><span>원</span>
									</span>
								{{/if}}
							{{/if}}
						</span>
					</div>
				</div>
				{{#if (gt cartProdAwardList.length 0) }}
					{{#each cartProdAwardList}}
						<div class="cart_free_gift">
							{{#if (ne awardProdEx.repProdImgEx null) }}
								<span class="thm"><img src="{{ awardProdEx.repProdImgEx.imgUrl }}" alt=""/></span>
							{{/if}}
							<span class="info">
								<span>사은품 : {{ awardProdEx.prodName }} {{#if (gt awardUnitQty 0 ) }}({{ awardUnitQty }}개) {{/if}}</span>
								<span>증정기간 : {{dateFormat awardStartDt "YYYY.MM.DD"}} ~ {{dateFormat awardEndDt "YYYY.MM.DD"}}</span>
							</span>
						</div>
					{{/each}}
				{{/if}}
			{{/each}}
		{{/each}}
	</div>
{{/each}}
