{{!--
	채널에뛰드 관련 상품 목록 
--}}

{{#xif this.totalCount '==' 0}}
	<div class="panel notice">
		<i class="ico"></i>
		<p class="text">채널에뛰드 관련 상품이 존재하지 않습니다.</p>
	</div>
{{else}}
	{{#each this.list}}
		<li>
			{{#xif ../prodListUnitCode '==' 'OnlineProd'}}
				<a href="{{productDetailPath this.onlineProdSn}}">
			{{/xif}}
			{{#xif ../prodListUnitCode '==' 'Prod'}}
				<a href="{{productDetailPath this.onlineProdSn this.products.0.prodSn}}">
			{{/xif}}
				<span class="lazy_load_wrap">
				{{#xif this.saleDisplayStatus '==' 'OutOfStock'}}
					<div class="item_state out_of_stock">일시품절</div>
				{{/xif}}
				{{#xif ../prodListUnitCode '==' 'OnlineProd'}}
					<img src="" data-src="{{ replaceImagePath this.onlineProdImages.0.imgUrl 140 140 }}" alt="" class="lazy_load">
				{{/xif}}
				{{#xif ../prodListUnitCode '==' 'Prod'}}
					<img src="" data-src="{{ replaceImagePath this.prodImages.0.imgUrl 140 140 }}" alt="" class="lazy_load">
				{{/xif}}
				</span>
				<span class="item_title">{{this.onlineProdName}}</span>
				<span class="color_name">
					{{#xif ../prodListUnitCode '==' 'Prod'}}
						{{#xif this.onlineProdName '!=' this.products.0.prodName}}
							{{this.products.0.prodName}}
						{{/xif}}
					{{/xif}}
					{{#xif ../prodListUnitCode '==' 'OnlineProd'}}
						{{#xif ../colorCnt '>' 1}}
							{{../colorCnt}} colors
						{{/xif}}
						{{#xif ../optionCnt '>' 1}}
							{{../optionCnt}} options
						{{/xif}}
					{{/xif}}
				</span>
				
				<span class="price"><b class="num">{{ numberFormat this.onlineProdPriceSummary.minOnlineSalePrice}}</b> 원</span>
			</a>
		</li>
	{{/each}}
{{/xif}}

	


