{{!--
	ch.Etude 관련 상품 목록 
--}}

{{#each this.list}}
	<li>
		<a href="{{productDetailPath this.onlineProdSn}}">
			<span class="lazy_load_wrap"><img src="{{this.onlineProdImages.0.imgUrl}}" data-src="{{this.onlineProdImages.0.imgUrl}}" alt="" class="lazy_load"></span>
			<span class="item_title">{{this.onlineProdName}}</span>
			<span class="price"><b class="num">{{ numberFormat this.onlineProdPriceSummary.minOnlineSalePrice}}</b> 원</span>
		</a>
	</li>
{{/each}}


	


