{{!--
	today hot deal
--}}
<div class="ix-list-viewport">
	<ul class="ix-list-items">
		{{#each this.list}}
			<li class="ix-list-item">
				<div class="ui_remain_timer" data-sale-end-dt="{{ this.saleEndDt }}">
					<span class="hour"></span>:<span class="minute"></span>:<span class="second"></span>
				</div>
				{{#each this.products }}
					{{#if @first}}
						{{#if this.onlineProdImages}}
							{{#each this.onlineProdImages}}
								{{#if @first}}
									
									<a href="{{ productDetailPath ../../onlineProdSn }}" class="lazy_load_wrap">
										<img class="lazy_load" src="" data-src="{{ replaceImagePath this.imgUrl 400 400 }}" alt="{{ ../onlineProdName }}">
										
										{{#xif ../saleDisplayStatus '==' 'OutOfStock'}}
											<div class="item_state out_of_stock">일시품절</div>
										{{/xif}}
										{{#xif ../saleDisplayStatus '==' 'EndSale'}}
											<div class="item_state out_of_stock">조기소진</div>
										{{/xif}}
									</a>
								{{/if}}
							{{/each}}
						{{/if}}
						{{#if this.prodImages}}
							{{#each this.prodImages}}
								{{#if @first}}
									<a href="{{ productDetailPath ../../onlineProdSn ../prodSn }}" class="lazy_load_wrap">
										<img class="lazy_load" src="" data-src="{{ replaceImagePath this.imgUrl 400 400 }}" alt="{{ ../prodName }}">
										{{#xif ../saleDisplayStatus '==' 'OutOfStock'}}
											<div class="item_state out_of_stock">일시품절</div>
										{{/xif}}
										{{#xif ../saleDisplayStatus '==' 'EndSale'}}
											<div class="item_state out_of_stock">조기소진</div>
										{{/xif}}
									</a>
								{{/if}}
							{{/each}}
						{{/if}}
					{{/if}}
				{{/each}}
				<div class="info">
						<span class="discount">
							<em>
								{{#with (calc this.onlineProdPriceSummary.minOnlineSalePriceDiscountRate '+' this.onlineProdPriceSummary.minMemberLevelDiscountRate '+' this.onlineProdPriceSummary.minOnlineMemberDiscountRate) as |disMinRate|}}
									{{#with (calc ../onlineProdPriceSummary.maxOnlineSalePriceDiscountRate '+' ../onlineProdPriceSummary.maxMemberLevelDiscountRate '+' ../onlineProdPriceSummary.maxOnlineMemberDiscountRate) as |disMaxRate|}}
										<span class="from">{{#xif disMinRate '!=' disMaxRate}}~{{/xif}}</span><span class="to">{{#xif disMaxRate '!=' 0}}{{ disMaxRate }}<em>%</em>{{/xif}}</span>
									{{/with}}
								{{/with}}
							</em>
						</span>
						
						<span class="item_title">{{ this.onlineProdName }}</span>	
						
						<span class="price_wrap">
							<b>{{ numberFormat this.onlineProdPriceSummary.minOnlineMemberDiscountPrice }}</b>{{ condition ../isActivityPoint '알' '원' }}{{#xif this.onlineProdPriceSummary.minOnlineSalePrice '!=' this.onlineProdPriceSummary.maxOnlineSalePrice}} ~{{/xif}}
							{{#xif this.onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
								<del>{{ numberFormat this.onlineProdPriceSummary.minBeforeOnlineSalePrice }}{{ condition ../isActivityPoint '알' '원' }}</del>
							{{/xif}}
							{{#if this.orderedQty}}
								<span class="sale_count">{{ numberForamt this.orderedQty }}구매</span>
							{{/if}}
						</span>
				</div>
			</li>
		{{/each}}
	</ul>
</div>