{{!--
	today hot deal
--}}
<div class="ix-list-viewport">
	<ul class="ix-list-items">
		{{#each this.list}}
			<li class="ix-list-item">
				<div class="ui_remain_timer" data-sale-end-dt="{{ this.saleEndDt }}">
					<span class="hour"></span>:<span class="minute"></span>:<span class="second"></span>
				</div>
				{{#each this.products }}
					{{#if @first}}
						{{#if this.onlineProdImages}}
							{{#each this.onlineProdImages}}
								{{#if @first}}
									<a href="{{ productDetailPath ../../onlineProdSn }}" class="lazy_load_wrap"><img class="lazy_load" src="" data-src="{{ this.imgUrl }}" alt="{{ ../onlineProdName }}"></a>
								{{/if}}
							{{/each}}
						{{/if}}
						{{#if this.prodImages}}
							{{#each this.prodImages}}
								{{#if @first}}
									<a href="{{ productDetailPath ../../onlineProdSn ../prodSn }}" class="lazy_load_wrap"><img class="lazy_load" src="" data-src="{{ this.imgUrl }}" alt="{{ ../prodName }}"></a>
								{{/if}}
							{{/each}}
						{{/if}}
					{{/if}}
				{{/each}}
					<div class="info">
						<em class="discount">
							{{#with (calc this.onlineProdPriceSummary.minOnlineSalePriceDiscountRate '+' this.onlineProdPriceSummary.minMemberLevelDiscountRate '+' this.onlineProdPriceSummary.minOnlineMemberDiscountRate) as |disMinRate|}}
								{{#with (calc ../onlineProdPriceSummary.maxOnlineSalePriceDiscountRate '+' ../onlineProdPriceSummary.maxMemberLevelDiscountRate '+' ../onlineProdPriceSummary.maxOnlineMemberDiscountRate) as |disMaxRate|}}
									{{#xif disMinRate '!=' disMaxRate}}<span class="from">~</span>{{/xif}}{{#xif disMaxRate '!=' 0}}<span class="to">{{ disMaxRate }}<em>%</em></span>{{/xif}}
								{{/with}}
							{{/with}}
						</em>
						<span class="title">{{ this.onlineProdName }}</span>
						<span class="price_wrap">
							{{#xif this.onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
								<del>{{ numberFormat this.onlineProdPriceSummary.minBeforeOnlineSalePrice }}<em>{{ condition ../isActivityPoint '알' '원' }}</em></del>
							{{/xif}}
							<span class="price">{{ numberFormat this.onlineProdPriceSummary.minOnlineMemberDiscountPrice }}<em>{{ condition ../isActivityPoint '알' '원' }}{{#xif this.onlineProdPriceSummary.minOnlineSalePrice '!=' this.onlineProdPriceSummary.maxOnlineSalePrice}} ~{{/xif}}</em></span>

							{{#if this.orderedQty}}
								<span class="sale_count">{{ numberForamt this.orderedQty }}구매</span>
							{{/if}}
						</span>
					</div>

			</li>
		{{/each}}
	</ul>
</div>