
		{{#each pgList}}
			{{#xif payMethodTypeCode '===' 'Deposit'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>예치금</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
					</ul>
				</dd>
			{{/xif}}
			{{#if (and (eq pointTypeCode 'MembershipPoint')(eq membershipServiceCode 'BP'))}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>뷰티포인트</span>
							<span>{{currencyFormatDefault usePoint 'P'}}</span>
						</li>
					</ul>
				</dd>
			{{/if}}
			{{#if (and (eq pointTypeCode 'MembershipPoint')(eq membershipServiceCode 'CP'))}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>쿠션포인트</span>
							<span>{{currencyFormatDefault usePoint 'P'}}</span>
						</li>
					</ul>
				</dd>
			{{/if}}
			{{#xif payMethodCode '===' 'wpay'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>원터치 간편결제</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
						{{#if pgPayEx.cardCoCode}}
							<li>
								{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}
								{{#if pgPayEx.cardCoCode}}
									<p>{{creditcardPayType pgPayEx}}</p>
								{{/if}}
							</li>
						{{/if}}
					</ul>
				</dd>
			{{/xif}}
			{{#xif payMethodCode '===' 'naverpay'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>네이버 페이</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
						{{#if pgPayEx.cardCoCode}}
							<li>
								{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}
								{{#if pgPayEx.cardCoCode}}
									<p>{{creditcardPayType pgPayEx}}</p>
								{{/if}}
							</li>
						{{/if}}
					</ul>
				</dd>
			{{/xif}}
			{{#xif payMethodCode '===' 'payco'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>페이코</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
						{{#if pgPayEx.cardCoCode}}
							<li>
								{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}
								{{#if pgPayEx.cardCoCode}}
									<p>{{creditcardPayType pgPayEx}}</p>
								{{/if}}
							</li>
						{{/if}}
					</ul>
				</dd>
			{{/xif}}
			{{#xif payMethodCode '===' 'kakaopay'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>카카오 페이</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
						{{#if pgPayEx.cardCoCode}}
							<li>
								{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}
								{{#if pgPayEx.cardCoCode}}
									<p>{{creditcardPayType pgPayEx}}</p>
								{{/if}}
							</li>
						{{/if}}
					</ul>
				</dd>
			{{/xif}}
			{{#xif payMethodCode '===' 'credit-card'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>신용카드 결제</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
						{{#if pgPayEx.cardCoCode}}
							<li>
								{{pgPayEx.cardCoName}}{{#if pgPayEx.cardNo}}({{pgPayEx.cardNo}}){{/if}}
								{{#if pgPayEx.cardCoCode}}
									<p>{{creditcardPayType pgPayEx}}</p>
								{{/if}}
							</li>
						{{/if}}
					</ul>
				</dd>
			{{/xif}}
			{{#xif payMethodCode '===' 'bank-ac-transfer'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>실시간 계좌이체</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
						{{#if pgPayEx.virtualBankAcBankCode}}
						<li>
							{{pgPayEx.virtualBankAcBankName}}{{#if pgPayEx.virtualDepositBankAcNo}}({{pgPayEx.virtualDepositBankAcNo}}){{/if}}
							<p>예금주: {{pgPayEx.virtualBankAcAcHolder}}</p>
						</li>
						{{/if}}
					</ul>
				</dd>
			{{/xif}}
			{{#xif payMethodCode '===' 'virtual-account'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>무통장 입금</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
						{{#if pgPayEx.virtualBankAcBankCode}}
						<li>
							{{pgPayEx.virtualBankAcBankName}}{{#if pgPayEx.virtualDepositBankAcNo}}({{pgPayEx.virtualDepositBankAcNo}}){{/if}}
							<p>예금주: {{pgPayEx.virtualBankAcAcHolder}}</p>
							{{#if pgPayEx.virtualBankAcDeadlineDt}}
								<p><em>입금기한 {{dateFormat pgPayEx.virtualBankAcDeadlineDt "YYYY-MM-DD"}} 까지</em></p>
							{{/if}}
						</li>
						{{/if}}
					</ul>
				</dd>
			{{/xif}}
			{{#xif payMethodCode '===' 'mobile-phone-pay'}}
				<dd class="panel">
					<ul class="info_list">
						<li class="clear">
							<span>휴대폰 결제</span>
							<span>{{currencyFormatDefault payAmt '원'}}</span>
						</li>
						<li>{{pgPayEx.mobilePhoneNo}}</li>
					</ul>
				</dd>
			{{/xif}}
		{{/each}}