{{#xif coupon.couponCnt '>' 0}}
	<div class="ui_accordion coupon_list availCoupon">
		<!--/* 쿠폰 한개 */-->
		{{#each coupon.list}}
		<dl>
			<dt>
			<span class="check_wrap">
				<input type="checkbox" id="{{ this.memberKeepingCouponSn }}" name="couponSn" data-code="{{ this.duplicationUseConditionCode }}">
				<label for="{{ this.memberKeepingCouponSn }}">
					<span>
						<em class="d_day">D-{{ this.expDDays }}</em>
						<small>{{{ dcMethodCodeSwitch this }}}</small>
					</span>
					<span class="title">{{ this.couponName }}</span>
				</label>
			</span>
			{{#if (and (eq this.couponBenefitTypeCode 'CartAward')(gt this.couponAwardExList.size 0))}}
				<span class="freebies">
					{{#each this.couponAwardExList}}
						{{#if (or (eq ../this.awardTgtCode 'Prod')(eq ../this.awardTgtCode 'SpPrice'))}}
							<span class="table_layout">
								<span class="thumb">
									<img ap:src="@{/images/dummy/650010812_IM_01.png}" alt="">
								</span>
								<span>
									<b>[사은품 증정]</b>{{ this.prodName }} - {{ this.prodSalePrice }}
								</span>
							</span>
						{{/if}}
						{{#if eq ../this.awardTgtCode 'Point'}}
							<span class="table_layout">
								<span>
									<b>[포인트 증정]</b>{{ this.pointTypeCode }} - {{ this.pointSavingMethodCode }} - {{ this.savingPoint }} -{{ this.applySavingPoint }}
								</span>
							</span>
						{{/if}}
						{{#if eq ../this.awardTgtCode 'Giftcard'}}
							<span class="table_layout">
								<span>
									<b>[기프트카드 증정]</b>
								</span>
							</span>
						{{/if}}
					{{/each}}
				</span>
			{{/if}}
			<button type="button"><span class="sr_only">내용 보기</span></button>
			</dt>
			<dd>
				<div class="panel gray">
					<div class="panel_cont pd_sm">
						<p class="text">쿠폰명 : {{ this.couponName }}</p>
						<p class="text">만료예정일 : {{ dateFormat this.expExpectedDt }}</p>
						{{#xif this.foGuide '!=' null}}
						<dl class="dl_cont mgt30">
							<dt><b>사용제한</b></dt>
							<dd>
								<ul class="list_bullet_dot">
									<li><pre>{{ this.foGuide }}</pre></li>
								</ul>
							</dd>
						</dl>
						{{/xif}}
					</div>
				</div>
			</dd>
		</dl>
		{{/each}}
		<!--/* 쿠폰 : 사은품 타입 */-->
	</div>
{{else}}
	<div class="panel notice">
		<i class="ico"></i>
		<p class="text font_lg"><b>보유중인 쿠폰이 없습니다.</b></p>
		<br>
		<p class="text">적용 가능 쿠폰보기에서 다운로드 가능한<br>
			쿠폰을 확인하시고 다양한 혜택이 담긴 쿠폰을<br>
			다운로드 받으실 수 있습니다.
		</p>
	</div>
{{/xif}}