<div class="layer_popup fullpage coupon_use">
	<div class="layer_wrap">
		<dl class="layer">
			<dt class="layer_title">쿠폰조회</dt>
			<dd class="layer_cont">
				<div class="panel">
					<h2 class="h_title page">쿠폰조회</h2>
					<p class="text font_md">결제시 사용할 쿠폰을 조회합니다.</p>
					<fieldset class="validate">
						<legend class="sr_only">쿠폰번호 입력항목</legend>
						<div class="input_btn_wrap">
							<div class="input_wrap">
								<input type="text" id="searchText" name="searchText" placeholder="쿠폰번호 입력">
							</div>
							<button type="button" class="btn_md_primary" id="search" name="search">등록</button>
						</div>
					</fieldset>
					<hr class="div m30">
					<!-- tab menu wrap -->
					<div class="ui_tab box">
						<!-- tab menu -->
						<div class="tab_menu equally">
							<ul>
								<li class="on"><button type="button">내가 보유한 쿠폰</button></li>
								<li><button type="button">다운 가능한 쿠폰</button></li>
							</ul>
						</div>
						<!-- tab contents wrap -->
						<div class="tab_contents">
							<!-- tab content -->
							<div class="tab_cont">
								<h3 class="sr_only">내가 보유한 쿠폰</h3>
								<div class="coupon_list">
								{{#xif couponCnt '>' 0}}
								{{!-- 보유 쿠폰 리스트 --}}
									<div class="check_set align_right">
										<span class="check_wrap"><input type="checkbox" id="couponAll" name="couponAll"><label for="couponAll">전체선택</label></span>
									</div>
									{{#each list}}
										<div class="ui_accordion" data-open-type="single">
											<dl>
												<dt>
													<span class="title">
														<span class="check_wrap">
															<input type="checkbox" id="couponSn_{{ this.couponSn }}" name="couponSn" value="{{ this.couponSn }}">
															<label for="couponSn_{{ this.couponSn }}">
																<span class="d_day">D-60</span><span class="price" id="price">20,000 할인</span>
																<span class="coupon_name" id="couponName">{{ this.couponName }}</span>
															</label>
														</span>
													</span>
													<button type="button"><span class="sr_only">더보기</span></button>
												</dt>
												<dd>
													<div class="cont">
														<ul class="list">
															<li>쿠폰명 : {{ this.couponName }}</li>
															<li>만료 예정일 : {{ dateFormat this.expExpectedDt }}</li>
														</ul>
														<dl class="dl_cont mgt10">
															<dt><b>사용제한</b></dt>
															<dd>
																<ul class="list_bullet_dot">
																	<li>{{ this.foGuide }}</li>
																</ul>
															</dd>
														</dl>
													</div>
												</dd>
											</dl>
										</div>
									{{/each}}
									{{!-- //보유 쿠폰 리스트 --}}
									<div class="page_btns">
										<button type="button" class="btn_md_secondary" id="b_close">취소</button>
										<button type="button" class="btn_md_primary" id="b_save">적용하기</button>
									</div>
								{{else}}
									{{!-- 보유중인 쿠폰이 없을 때 --}}
									<div class="panel notice">
										<i class="ico"></i>
										<p class="text">보유중인 쿠폰이 없습니다.</p>
										<p class="text">적용 가능 쿠폰보기에서 다운로드 가능한<br>쿠폰을 확인하시고 다양한 혜택이 담긴 쿠폰을<br>다운로드 받으실 수 있습니다.</p>
									</div>
									{{!-- // 보유중인 쿠폰이 없을 때 --}}
								{{/xif}}
								</div>
							</div>

							<div class="tab_cont">
								<h3 class="sr_only">다운 가능한 쿠폰</h3>
								{{#xif couponCnt '>' 0}}
									<div class="coupon_down">
										{{!-- 다운가능한 쿠폰리스트 --}}
										{{#each list}}
											<ul>
												<li>
													<span class="title">회원등급별 발급쿠폰 No.2018Happy!</span>
													<button type="button" class="btn_coupon_down">쿠폰받기</button>
												</li>
											</ul>
										{{/each}}
										{{!-- // 다운가능한 쿠폰리스트 --}}
									</div>
								{{else}}
									{{!-- 다운가능한 쿠폰 없을 시 --}}
									<div class="panel notice">
										<i class="ico"></i>
										<p class="text">다운로드 가능한 쿠폰이 없습니다.</p>
										<p class="text">이벤트/행사 정보를 통해 할인 및 다양한 혜택이 담긴<br>쿠폰 이벤트에 해당하는 제품을 주문해보세요.</p>
										<button class="btn_md_bordered" type="button">다양한 이벤트/행사 보러가기</button>
									</div>
									{{!-- // 다운가능한 쿠폰 없을 시 --}}
								{{/xif}}
							</div>
						</div>
					</div>
					<div class="panel gray mgt25">
						<dl class="dl_cont">
							<dt><b>유의사항</b></dt>
							<dd>
								<ul class="list_bullet_dot">
									<li><b>[쿠폰제외]</b> 제품은 쿠폰 사용이 불가합니다.</li>
									<li>쿠폰의 특이사항은 자세히보기를 클릭해 보세요.</li>
									<li>쿠폰 사용시 포인트를 적립받을 수 없습니다.</li>
									<li>온라인쿠폰과 통합쿠폰 중 하나만 사용 가능합니다.</li>
								</ul>
							</dd>
						</dl>
					</div>
					<div class="panel gray mgt15">
						<dl class="dl_cont">
							<dt><b>온라인전용 쿠폰</b></dt>
							<dd>
								<ul class="list_bullet_dot">
									<li>쇼핑몰에서만 사용 가능한 쿠폰입니다. (매장사용불가)</li>
									<li>장바구니/상품/증정 쿠폰 등이 해당합니다.</li>
									<li>온라인전용 인증번호 쿠폰은 상단에 입력 후 결제시 사용가능합니다.</li>
								</ul>
							</dd>
						</dl>
						<dl class="dl_cont mgt15">
							<dt><b>통합쿠폰(온-오프 통합쿠폰)</b></dt>
							<dd>
								<ul class="list_bullet_dot">
									<li>온라인쇼핑몰과 일반매장에서 사용 가능한 쿠폰입니다. (중복사용불가)</li>
									<li>통합쿠폰으로 발행된 인증번호 쿠폰은 결제 단계에서 등록후 사용가능합니다. (선등록불가)</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>
			</dd>
		</dl>
		<button class="layer_close" type="button">레이어 닫기</button>
	</div>
</div>