<div class="ch_etude_coupon_down">
	{{#xif this.couponList.length '>' 0}}
		<p class="h_title align_center">다운로드 가능 쿠폰 총 <em>{{ this.couponList.length }}</em>개</p>
		<ul>
			{{#each this.couponList}}
				<li class="clear">
					<span>{{ this.couponName }}</span>
					{{#xif this.useAbleYn '==' 'Y'}}
						<button class="btn_sm_neutral btn_coupon_download" type="button" data-coupon-sn="{{ this.couponSn }}">쿠폰다운</button>
					{{else}}
						<button class="btn_sm_neutral btn_coupon_download" type="button" disabled>다운완료</button>
					{{/xif}}
				</li>
			{{/each}}
		</ul>
		<div class="page_btns">
			<a href="#none" class="btn_md_primary w50p btn_coupon_all_download">전체 쿠폰 받기</a>
		</div>
	{{else}}
		<div class="panel notice">
			<i class="ico"></i>
			<p class="text">쿠폰이 존재하지 않습니다.</p>
		</div>
		<div class="page_btns">
			<button class="btn_md_neutral btn_default_modal_confirm" type="button">확인</button>
		</div>
	{{/xif}}
</div>