{{!--
	전시 : 구매버튼이 있는 상세 상품목록 (Ch.Etude)
--}}
<div class="ix-list-viewport">
	<ul class="ix-list-items">
		{{#xif this.prodListUnitCode '==' 'OnlineProd' }}
			{{#each this.list}}
				<li class="ix-list-item item" data-online-prod-sn="{{ this.onlineProdSn }}">
					<a href="{{ productDetailPath this.onlineProdSn }}">
						<div class="thumb">
							<img src="{{ this.onlineProdImages.0.imgUrl }}" alt="" />
						</div>
						<div class="item_info">
							<div>
								<p class="prd_name">{{ this.onlineProdName }}</p>
								<p class="color_name">
									{{#xif this.productCount '>' 1 }}
										{{ this.productCount }} colors
									{{/xif}}
								</p>
							</div>
							<div class="price_area">
								<div class="discount">
									{{#xif this.onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
										{{#with (calc this.onlineProdPriceSummary.minOnlineSalePriceDiscountRate '+' this.onlineProdPriceSummary.minMemberLevelDiscountRate '+' this.onlineProdPriceSummary.minOnlineMemberDiscountRate) as |disMinRate|}}
											{{#with (calc ../onlineProdPriceSummary.maxOnlineSalePriceDiscountRate '+' ../onlineProdPriceSummary.maxMemberLevelDiscountRate '+' ../onlineProdPriceSummary.maxOnlineMemberDiscountRate) as |disMaxRate|}}
												<span class="from">
													{{#xif disMinRate '!=' disMaxRate}}
														{{#xif disMinRate '!=' 0}}
															{{ disMinRate }}   {{!--최소할인률--}}
														{{/xif}}
														~
													{{/xif}}
												</span>
												<span class="to">{{ disMaxRate }}<em>%</em>
												</span>
											{{/with}}
										{{/with}}
									{{/xif}}
								</div> {{!-- end:div class discount--}}
								<div class="price">
									{{#xif this.onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
										<del>{{ numberFormat this.onlineProdPriceSummary.minBeforeOnlineSalePrice }}<em>{{ condition ../isActivityPoint '알' '원' }}</em></del>
									{{/xif}}
									 {{ numberFormat this.onlineProdPriceSummary.minOnlineMemberDiscountPrice }}<em>{{ condition ../isActivityPoint '알' '원' }}{{#xif this.onlineProdPriceSummary.minOnlineSalePrice '!=' this.onlineProdPriceSummary.maxOnlineSalePrice}} ~{{/xif}}</em>
								</div>
							</div>
						</div>
					</a>
					<button class="btn_order" type="button" data-online-prod-sn="{{ this.onlineProdSn }}">담기</button>
				</li>
			{{/each}}
		{{/xif}}
		
		<!-- ==================================== 단위상품일때 ==================================== -->
		{{#xif this.prodListUnitCode '==' 'Prod' }}	
			{{#each this.list}}
				{{#each this.products}}
					<li class="ix-list-item item" data-online-prod-sn="{{ ../onlineProdSn }}">
						<a href="{{ productDetailPath ../onlineProdSn ../prodSn}}">
							<div class="thumb"><img src="{{ ../onlineProdImages.0.imgUrl }}" alt="" /></div>
							<div class="item_info">
								<div>
									<p class="prd_name">{{ this.prodName }}</p>
								</div>
								<div class="price_area">
									<div class="discount">
									{{#xif ../onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
											{{#with (calc ../onlineProdPriceSummary.minOnlineSalePriceDiscountRate '+' ../onlineProdPriceSummary.minMemberLevelDiscountRate '+' ../onlineProdPriceSummary.minOnlineMemberDiscountRate) as |disMinRate|}}
												{{#with (calc ../onlineProdPriceSummary.maxOnlineSalePriceDiscountRate '+' ../onlineProdPriceSummary.maxMemberLevelDiscountRate '+' ../onlineProdPriceSummary.maxOnlineMemberDiscountRate) as |disMaxRate|}}
													{{#xif disMinRate '!=' disMaxRate}}<span class="from">~</span>{{/xif}}<span class="to">{{ disMaxRate }}<em>%</em></span>
												{{/with}}
											{{/with}}
										
									{{/xif}}
									</div>
									<div class="price">
										{{#xif ../onlineProdPriceSummary.doublePriceDisplayYn '==' 'Y'}}
											<del>{{ numberFormat ../onlineProdPriceSummary.minBeforeOnlineSalePrice }}<em>{{ condition ../isActivityPoint '알' '원' }}</em></del>
										{{/xif}}
										<span>{{ numberFormat ../onlineProdPriceSummary.minOnlineSalePrice }}<em>{{ condition ../isActivityPoint '알' '원' }}</em></span>
									</div>
								</div>
							</div>
						</a>
						<button class="btn_order" type="button" data-online-prod-sn="{{ ../onlineProdSn }}" data-prod-sn="{{ ../prodSn }}">담기</button>
					</li>
				{{/each}}
			{{/each}}
		{{/xif}}
		
	</ul>
</div>