<a href="javascript:;" class="navi first" data-page="{{ this.firstPage }}">first page</a>
<a href="javascript:;" class="navi prev" data-page="{{ this.prevPage }}">prev page</a>

{{#each this.list}}
    {{#if this.current}}
        <span class="current">{{ this.page }}</span>
    {{else}}
        <a href="javascript:;" data-page="{{ this.page }}">{{ this.page }}</a>
    {{/if}}
{{/each}}

<a href="javascript:;" class="navi next" data-page="{{ this.nextPage }}">next page</a>
<a href="javascript:;" class="navi last" data-page="{{ this.lastPage }}">last page</a>