{{#each this}}
	<li class="ix-list-item">
		{{#xif this.content_type '==' 'video'}}
			<div class="instar_video">
				<video controls muted poster="{{this.thumbnail_url}}" thumbnail="{{this.thumbnail_url}}" preload="auto">
					<source src ="{{this.source_url}}" type="video/mp4">
				</video>
			</div>
		{{else}}
			<div class="instar_img">
				{{!-- <div class="loading">Image Loading...</div> --}}
				<img src="{{ this.pixlee_cdn_photos.square_medium_url }}" alt="{{ decodeURIComponent this.alt_text }}">
			</div>
		{{/xif}}	
		<dl class="instar_info">
			<dt>
				{{#if this.platform_link}}
					<a href="{{ this.platform_link }}" target="_blank">{{#if this.avatar_url}}<span class="">@</span>{{/if}}{{ this.user_name }}</a>
				{{else}}
					{{#if this.avatar_url}}<span class="">@</span>{{/if}}{{ this.user_name }}
				{{/if}}
			</dt>
			<dd>
				<p class="text"><pre>{{ this.photo_title }}</pre></p>
			</dd>
		</dl>
	</li>
{{/each}}