<!-- #ap_container -->
<div ap:fragment="layout-contents">

	<div class="layer_popup fullpage order_claim">
		<div class="layer_wrap">
			<dl class="layer">
				<dt class="layer_title">테이크아웃 매장 정보</dt>
				<dd class="layer_cont">
					<div class="map_area" style="height:202px;"></div>
					<div class="panel none_bdr">
						<h3 class="h_title cont"><strong>{{storeEx.storeName}}</strong></h3>

						<div class="store_addr_wrap">
							<span>{{storeEx.address.address1}}</span>
							<a href="tel:{{storeEx.phoneNo1.phoneNo}}">{{storeEx.phoneNo1.phoneNo}}</a>
						</div>
					</div>

					{{#xif storeEx.storeImgUrlList '!=' null}}
						<div class="slide map_store_sld" data-ix-options="view-length:1;">
							<div class="ix-list-viewport">
								<ul class="ix-list-items">
									<li class="ix-list-item">
										{{#each storeEx.storeImgUrlList}}
											<a href="#none">
												<img alt="" src="{{this}}">
											</a>
										{{/each}}

									</li>
								</ul>
							</div>
							<div class="ix-controller">
								<ul class="ix-thumbs">
									<li class="ix-thumb"><button type="button" class="ix-btn"><!--ix-index-->번째 배너</button></li>
								</ul>
							</div>
						</div>
					{{/xif}}


				</dd>
			</dl>
			<button class="layer_close" type="button">레이어 닫기</button>
		</div>
	</div>
</div>