<dt class="on">
	<span class="title">사은품</span>
	<button type="button"><span class="sr_only">더보기</span></button>
</dt>
<dd>
	<div class="cont">
		{{#each promo}}
			<div class="order_prd_panel">
				<div class="product table_layout">
					<!--<div class="thumb"><img ap:src="@{/images/dummy/101001217_IM_01.png}"></div>-->
					<div class="info">
						<p class="flag">{{ordFreebiesCode 'promo' awardTgtCode}}</p>
						<p class="name">{{promoNameBlang}} {{awardQty}}개</p>
					</div>
				</div>
			</div>
		{{/each}}

		{{#each coupon}}
			<div class="order_prd_panel">
				<div class="product table_layout">
					<!--<div class="thumb"><img ap:src="@{/images/dummy/101001217_IM_01.png}"></div>-->
					<div class="info">
						<p class="flag">{{ordFreebiesCode 'coupon' couponBenefitTypeCode}}</p>
						<p class="name">{{couponNameBlang}}</p>
					</div>
				</div>
			</div>
		{{/each}}

	</div>
</dd>