<dt class="">
	{{#xif step '===' 2}}
		<span class="title">{{orderCheckState state}} 쇼핑 {{typeName}} 상품 (<em>{{cnt}}</em>개)</span>
	{{else}}
		<span class="title">{{orderCheckState state}} 쇼핑 상품 (<em>{{cnt}}</em>개)</span>
	{{/xif}}
	<button type="button"><span class="sr_only">더보기</span></button>
</dt>

{{#each list}}
	<dd>
		<div class="cont">

			{{#xif ordHistProdTypeCode '===' 'Ord'}}
				<div class="order_prd_panel">

					{{#xif singleProdYn '===' 'N'}}
						{{!--/* 온라인 상품 */--}}
						{{{prodPartial 'my.order.detail.product' 'prod' this 'claimYn' ../claimYn 'step' ../step}}}
					{{/xif}}

					{{#each ordHistProdList}}
						{{#unless (and (eq ../../status 'request')(eq ordHistProdStatusCode 'ProdCancel'))}}
							{{!--/* 단위 상품 */--}}
							{{{prodPartial 'my.order.detail.product-option' 'sub' this 'oCode' ../onlineProdCode 'claimYn' ../../claimYn 'step' ../../step 'singleProdYn'../singleProdYn 'status' ../../status}}}

							{{#if (and (eq ../../status 'request')(eq ../../step 1))}}

								{{!--/* 클레임 선택 */--}}
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' ordHistProdNo 'reason' ../../reason}}}

							{{/if}}

							{{#if (or (eq ../../claimYn 'Y')(eq ../../step 2))}}

								<!--/* 클레임 사유 */-->
								{{{prodPartial 'my.order.detail.claim-reason' 'type' ../../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

							{{/if}}
						{{/unless}}

					{{/each}}
				</div>
			{{/xif}}


		</div>
	</dd>
{{/each}}

{{#each bList}}
	<dd>
		<div class="cont">

			{{#xif ordHistProdTypeCode '===' 'Ord'}}
				<div class="order_prd_panel">

					{{#xif singleProdYn '===' 'N'}}
					{{!--/* 온라인 상품 */--}}
						{{{prodPartial 'my.order.detail.product' 'prod' this 'claimYn' ../claimYn 'step' ../step 'typeName' 'b'}}}
					{{/xif}}

					{{#each ordHistProdList}}
						{{#unless (and (eq ../../status 'request')(eq ordHistProdStatusCode 'ProdCancel'))}}
						{{!--/* 단위 상품 */--}}
							{{{prodPartial 'my.order.detail.product-option' 'sub' this 'oCode' ../onlineProdCode 'claimYn' ../../claimYn 'step' ../../step 'singleProdYn'../singleProdYn 'status' ../../status 'typeName' 'b'}}}

							{{#if (and (eq ../../status 'request')(eq ../../step 1))}}

							{{!--/* 클레임 선택 */--}}
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' ordHistProdNo 'reason' ../../reason}}}

							{{/if}}

							{{#if (or (eq ../../claimYn 'Y')(eq ../../step 2))}}

								<!--/* 클레임 사유 */-->
								{{{prodPartial 'my.order.detail.claim-reason' 'type' ../../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

							{{/if}}
						{{/unless}}

					{{/each}}
				</div>
			{{/xif}}

		</div>
	</dd>
{{/each}}

{{#each aList}}
	<dd>
		<div class="cont">

			{{#xif ordHistProdTypeCode '===' 'Ord'}}
				<div class="order_prd_panel">

					{{#xif singleProdYn '===' 'N'}}
					{{!--/* 온라인 상품 */--}}
						{{{prodPartial 'my.order.detail.product' 'prod' this 'claimYn' ../claimYn 'step' ../step 'typeName' 'a'}}}
					{{/xif}}

					{{#each ordHistProdList}}
						{{#unless (and (eq ../../status 'request')(eq ordHistProdStatusCode 'ProdCancel'))}}
						{{!--/* 단위 상품 */--}}
							{{{prodPartial 'my.order.detail.product-option' 'sub' this 'oCode' ../onlineProdCode 'claimYn' ../../claimYn 'step' ../../step 'singleProdYn'../singleProdYn 'status' ../../status 'typeName' 'a'}}}

							{{#if (and (eq../../status 'request')(eq ../../step 1))}}

							{{!--/* 클레임 선택 */--}}
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' ordHistProdNo 'reason' ../../reason}}}

							{{/if}}

							{{#if (or (eq ../../claimYn 'Y')(eq ../../step 2))}}

								<!--/* 클레임 사유 */-->
								{{{prodPartial 'my.order.detail.claim-reason' 'type' ../../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

							{{/if}}
						{{/unless}}

					{{/each}}
				</div>
			{{/xif}}

		</div>
	</dd>
{{/each}}

{{#each mnList}}

	<dd>
		<div class="cont">
			{{#xif promoTypeCode '===' 'Same'}}
				{{#each ordOnlineProdFoList}}
					{{#each ordHistProdList}}
						<div class="order_prd_panel">

							<div class="title">
								<p class="benefit"><em>{{mPlusNBaseQty}}+{{mPlusNAwardQty}}</em> 혜택 적용</p>
								<p>{{../../promoName}}</p>

								<p><strong class="font_lg num">{{calc mPlusNBaseQty '+' mPlusNAwardQty}}</strong>개 / <strong class="font_lg num">{{currencyFormatDefault (calc finalOnlineSalePricePcur '*' mPlusNBaseQty) ''}}</strong>원
									<del>{{currencyFormat (calc finalOnlineSalePricePcur '*' (calc mPlusNBaseQty '+' mPlusNAwardQty))}}</del></p>
							</div>
							<div class="product">
								<div class="check_wrap check_only" style="display: none">
									<input type="checkbox" name="goods" prod="prod" onclick="selectProd(this);" onlineProdCode="{{ordHistProdNo}}" ordHistProdNo="{{ordHistProdNo}}" id="{{ordHistProdNo}}" val="{{json this}}"><label for="{{ordHistProdNo}}">
									<span class="sr_only">선택</span></label>
								</div>
								<div class="thumb"><img src="{{ordProdEx.prodImgUrl}}"></div>
									<div class="info">
										<p class="name">{{ordProdEx.prodNameRlang}}</p>
										<p>
											<strong class="num font_md">{{mPlusNBaseQty}}</strong>개
											<strong class="amount num">+{{mPlusNAwardQty}}</strong>
										</p>
									</div>
							</div>

							{{#if (and (eq ../../../status 'request')(eq ../../../step 1))}}

								{{!--/* 클레임 선택 */--}}
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' ordHistProdNo 'reason' ../../../reason}}}

							{{/if}}

							{{#if (or (eq ../../../claimYn 'Y')(eq ../../../step 2))}}

								<!--/* 클레임 사유 */-->
								{{{prodPartial 'my.order.detail.claim-reason' 'type' ../../../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

							{{/if}}
						</div>
					{{/each}}
				{{/each}}

			{{else}}
				<div class="order_prd_panel">
					<div class="check_wrap" style="display: none">
						<input type="checkbox" name="goods" id="{{promoSn}}" value="{{promoSn}}" onclick="selectOnlineProd(this);">
						<label for="{{promoSn}}"><span class="sr_only">선택</span></label>
					</div>
					<div class="title">
						<p class="benefit"><em>{{baseQty}}+{{awardQty}}</em> 혜택 적용</p>
						<p>{{promoName}}</p>
						<p><strong class="font_lg num">{{calc baseQty '+' awardQty}}</strong>개 / <strong class="font_lg num">{{currencyFormatDefault totalProductSaleAmount ''}}</strong>원 <del>{{currencyFormat totalFinalOnlineSaleAmount}}</del></p>
					</div>
					{{#each ordOnlineProdFoList}}
						{{#each ordHistProdList}}
							<div class="{{condition (eq @../index 0) 'product' 'product bundle'}}">
								<div class="check_wrap check_only" style="display: none">
									<input type="checkbox" prod="prod" onclick="selectProd(this);" promoSn="{{../../promoSn}}" onlineProdCode="{{../../promoSn}}" ordHistProdNo="{{../../promoSn}}" id="{{ordHistProdNo}}" val="{{json this}}"><label for="{{ordHistProdNo}}">
									<span class="sr_only">선택</span></label>
								</div>
								<div class="thumb">
									<img src="{{../onlineProdImgUrl}}">
								</div>
								<div class="info">
									<p class="name">{{../onlineProdName}}</p>
									{{#if (or (eq ../step 2)(eq ../claimYn 'Y'))}}
									<p><strong class="num font_md">{{cancelQtySum}}</strong>개 /
									{{else}}
									<p><strong class="num font_md">{{ calc ../ordQtySum '-' ../cancelQtySum}}</strong>개 /
									{{/if}}
									<strong class="num font_md">{{currencyFormat ../finalOnlineSaleAmtPcurSum}}</strong></p>
								</div>
							</div>

						{{/each}}
					{{/each}}
					{{#if (and (eq ../status 'request')(eq ../step 1))}}

						{{!--/* 클레임 선택 */--}}
						{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' promoSn 'reason' ../reason}}}

					{{/if}}

					{{#if (or (eq ../claimYn 'Y')(eq ../step 2))}}
						<!--/* 클레임 사유 */-->
						{{{prodPartial 'my.order.detail.claim-reason' 'type' ../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

					{{/if}}

				</div>
			{{/xif}}
		</div>
	</dd>
{{/each}}

{{#each sList}}

	<dd>
		<div class="cont">
			<div class="order_prd_panel">
				<div class="check_wrap" style="display: none">
					<input type="checkbox" name="goods" id="{{promoSn}}" value="{{promoSn}}" onclick="selectOnlineProd(this);">
					<label for="{{promoSn}}"><span class="sr_only">선택</span></label>
				</div>
				<div class="title">
					<!--<p class="benefit"><em>{{baseQty}}+{{awardQty}}</em> 혜택 적용</p>-->
					<p>{{promoName}}</p>
					<!--<p><strong class="font_lg num">{{calc baseQty '+' awardQty}}</strong>개 / <strong class="font_lg num">{{currencyFormatDefault totalProductSaleAmount ''}}</strong>원 <del>{{currencyFormat totalFinalOnlineSaleAmount}}</del></p>-->
				</div>
				{{#each ordOnlineProdFoList}}
					{{#each ordHistProdList}}
						<div class="product">
							<div class="check_wrap check_only" style="display: none">
								<input type="checkbox" prod="prod" onclick="selectProd(this);" promoSn="{{../../promoSn}}" onlineProdCode="{{../../promoSn}}" ordHistProdNo="{{../../promoSn}}" id="{{ordHistProdNo}}" val="{{json this}}"><label for="{{ordHistProdNo}}">
								<span class="sr_only">선택</span></label>
							</div>
							<div class="thumb">
								<img src="{{../onlineProdImgUrl}}">
							</div>
							<div class="info">
								<p class="name">{{../onlineProdName}}</p>
								{{#if (or (eq ../../step 2)(eq ../../claimYn 'Y'))}}
								<p><strong class="num font_md">{{../cancelQtySum}}</strong>개 /
								{{else}}
								<p><strong class="num font_md">{{ calc ../ordQtySum '-' ../cancelQtySum}}</strong>개 /
								{{/if}}
								<strong class="num font_md">{{currencyFormat ../finalOnlineSaleAmtPcurSum}}</strong></p>
							</div>
						</div>
						{{#xif ordHistProdPromoAwardExList '!=' null}}
							{{#each ordHistProdPromoAwardExList}}
								<div class="freebies table_layout">
									<div><img src="{{awardOrdHistProdEx.ordProdEx.prodImgUrl}}"></div>
									<div>
										<p class="flag">사은품</p>
										<p class="name">{{awardOrdHistProdEx.ordProdEx.onlineProdNameBlang}}</p>
										<!--<p class="font_md"><strong class="num">10</strong>개/<strong class="num">0</strong>원</p>-->
									</div>
								</div>
							{{/each}}
						{{/xif}}
					{{/each}}
				{{/each}}
				{{#if (and (eq ../status 'request')(eq ../step 1))}}

				{{!--/* 클레임 선택 */--}}
					{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' promoSn 'reason' ../reason}}}

				{{/if}}

				{{#if (or (eq ../claimYn 'Y')(eq ../step 2))}}
					<!--/* 클레임 사유 */-->
					{{{prodPartial 'my.order.detail.claim-reason' 'type' ../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

				{{/if}}
			</div>
		</div>
	</dd>


{{/each}}


