{{#each this.list}}
	{{#xif ../type '===' 'returnExchange'}}
		<div class="panel">
			<div class="table_layout">
				<div>
					<p>주문일자<span class="num">{{dateFormat ordReceivedDt "YYYY-MM-DD"}}</span></p>
					<p>주문번호<span class="num"><a href="javascript:;" onclick="showDetailView('{{claimTypeCode}}', '{{ordHistNo}}')" class="order_number_link">{{ordNo}}</a></span>
					</p>
				</div>
				<div><button type="button" class="btn_sm_neutral type2" onclick="showDetailView('{{claimTypeCode}}', '{{ordHistNo}}')">상세 보기</button></div>
			</div>
			{{#if claimProdInfo}}

				{{{prodPartial 'my.order.detail.order-list-prod' 'prodType' claimTypeCode 'info' this 'prodInfo' claimProdInfo 'typeName' '온라인주문'
							   'statusCode' claimProgressStatusCode 'ordAmt' claimProdInfo.finalOnlineSaleAmtPcur 'claimYn' 'Y'}}}
			{{/if}}
		</div>
	{{/xif}}

	{{#if (or (eq ../type 'online')(eq ../type 'cashReceipts'))}}
		<div class="panel">
			<div class="table_layout">
				<div>
					<p>주문일자<span class="num">{{dateFormat ordReceivedDt "YYYY-MM-DD"}}</span></p>
					<p>주문번호<span class="num"><a href="javascript:;" onclick="showDetailView('{{../type}}', {{ordNo}})" class="order_number_link">{{this.ordNo}}</a></span>
					</p>
				</div>
				{{#xif onlineOrdProdInfo.ordDetailStatusCode '===' 'OrdHandlingComplete'}}
					<div><button type="button" class="btn_sm_neutral type1" onclick="ordWriteReview({{ordNo}})">구매 리뷰 쓰기</button></div>
				{{/xif}}

				{{#xif ../type "===" "cashReceipts"}}
					{{#xif cashReceiptIssuePossibleYn '===' 'Y'}}
						{{#xif cashReceiptIssueYn "===" "Y"}}
							<div><button type="button" class="btn_sm_neutral type1" disabled>발급 완료</button></div>
						{{else}}
							<div><button type="button" class="btn_sm_neutral type1" onclick="receiptIssue({{json this}})">발급 신청</button></div>
						{{/xif}}
					{{else}}
						<div><button type="button" class="btn_sm_neutral type1" onclick="showCrditCardStatement({{json this}})">매출 전표</button></div>
					{{/xif}}
				{{/xif}}
			</div>
				{{#if onlineOrdProdInfo}}
					{{{prodPartial 'my.order.detail.order-list-prod' 'prodType' ../type 'info' this 'prodInfo' onlineOrdProdInfo 'typeName' '온라인주문'
								   'statusCode' onlineOrdProdInfo.ordDetailStatusCode 'ordAmt' onlineOrdProdInfo.totalOrdAmt}}}
				{{/if}}
				{{#if storePickupOrdProdInfo}}
					{{{prodPartial 'my.order.detail.order-list-prod' 'prodType' ../type 'info' this 'prodInfo' storePickupOrdProdInfo 'typeName' '테이크아웃'
								   'statusCode' storePickupOrdProdInfo.ordDetailStatusCode 'ordAmt' storePickupOrdProdInfo.totalOrdAmt}}}
				{{/if}}
		</div>
	{{/if}}

	{{#xif ../type '===' 'store'}}
		<div class="panel">
			<div class="table_layout">
				<div>
					<p>주문일자<span class="num">{{dateFormat ordReceivedDt "YYYY-MM-DD"}}</span></p>
					<p>주문번호<span class="num"><a href="javascript:;" onclick="showDetailView('{{../type}}', {{ordNo}})" class="order_number_link">{{this.ordNo}}</a></span>
					</p>
				</div>
				{{#if (and (eq ../type "store")(eq onlineOrdProdInfo.ordHistProdStatusCode "ShipComplete"))}}
					<div><button type="button" class="btn_sm_neutral type1">구매리뷰쓰기</button></div>
				{{/if}}
			</div>
			{{#if ordProdInfo}}
				{{{prodPartial 'my.order.detail.order-list-prod' 'prodType' ../type 'info' this 'prodInfo' ordProdInfo 'typeName' '스윗딜리버리'
							   'statusCode' ordProdInfo.ordHistProdStatusCode 'ordAmt' ordProdInfo.totalOrdAmt}}}
			{{/if}}

		</div>

	{{/xif}}

{{/each}}