<dt class="on">
	{{#xif step '===' 2}}
		<span class="title">{{orderCheckState state}} 쇼핑 {{typeName}} 상품 (<em>{{cnt}}</em>개)</span>
	{{else}}
		<span class="title">{{orderCheckState state}} 쇼핑 상품 (<em>{{cnt}}</em>개)</span>
	{{/xif}}
	<button type="button"><span class="sr_only">더보기</span></button>
</dt>

{{#xif state '===' 'take'}}
	{{#xif storeEx '!=' null}}
		<div class="takeout_title">
			<div>
				<p class="w70p"><strong>{{storeEx.storeName}}</strong> <span class="color_gray2 font_md">({{storeEx.phoneNo1.phoneNo}})</span></p>
				<div><button type="button" class="btn_sm_neutral type2" onclick="takeOutStoreInfo({{json storeEx}})">매장보기</button></div>
			</div>
		</div>
	{{/xif}}
{{/xif}}

{{#each list}}
	{{#unless (and (eq ../status 'request')(eq ordHistProdStatusCode 'ProdCancel'))}}
		<dd>
			<div class="cont">


				{{#xif ordHistProdTypeCode '===' 'Ord'}}
					<div class="order_prd_panel">
						{{#xif singleProdYn '===' 'N'}}

								{{{prodPartial 'my.order.detail.product' 'prod' this 'type' ../type 'claimYn' ../claimYn 'step' ../step 'state' ../state}}}
						{{/xif}}

						{{{prodPartial 'my.order.detail.product-option' 'prodList' ordHistProdList 'oCode' onlineProdCode 'claimYn' ../claimYn 'step' ../step 'singleProdYn' singleProdYn 'status' ../status 'type' ../type 'reason' ../reason}}}
					</div>
				{{/xif}}

				{{#xif ordHistProdTypeCode '===' 'BulkDc'}}
					<div class="order_prd_panel">

						{{{prodPartial 'my.order.detail.product' 'prod' this 'type' ../type 'claimYn' ../claimYn 'step' ../step 'state' ../state}}}

						{{#if (and (and (eq ../status 'request')(eq ../step 1))(ne ../type 'cancel'))}}

							{{!--/* 클레임 선택 */--}}
							{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' bulkDcOnlineProdCode 'reason' ../reason}}}

						{{/if}}

						{{#if (and (or (eq ../claimYn 'Y')(eq ../step 2))(ne ../type 'cancel'))}}
							<!--/* 클레임 사유 */-->
							{{{prodPartial 'my.order.detail.claim-reason' 'type' ../type 'receivedClaimReasonName' claimReasonName 'foReceivedClaimReason' claimReason}}}

						{{/if}}

						{{{prodPartial 'my.order.detail.product-option' 'prodList' ordHistProdList 'oCode' bulkDcOnlineProdCode 'prodNo' bulkDcOnlineProdCode 'claimYn' ../claimYn 'step' ../step 'singleProdYn' 'N' 'status' ../../status 'type' ../type 'reason' ../reason}}}


					</div>
				{{/xif}}


			</div>
		</dd>
	{{/unless}}
{{/each}}

{{#each bList}}
	{{#unless (and (eq ../status 'request')(eq ordHistProdStatusCode 'ProdCancel'))}}
	<dd>
		<div class="cont">

			{{#xif ordHistProdTypeCode '===' 'Ord'}}
				<div class="order_prd_panel">

					{{#xif singleProdYn '===' 'N'}}
					{{!--/* 온라인 상품 */--}}
						{{{prodPartial 'my.order.detail.product' 'prod' this 'type' ../type 'claimYn' ../claimYn 'step' ../step 'typeName' 'b'}}}
					{{/xif}}

					{{{prodPartial 'my.order.detail.product-option' 'prodList' ordHistProdList 'oCode' onlineProdCode 'claimYn' ../claimYn 'step' ../step 'singleProdYn' singleProdYn 'status' ../status 'type' ../type 'reason' ../reason 'typeName' 'b'}}}

				</div>
			{{/xif}}

		</div>
	</dd>
	{{/unless}}
{{/each}}

{{#each aList}}
	{{#unless (and (eq ../status 'request')(eq ordHistProdStatusCode 'ProdCancel'))}}
	<dd>
		<div class="cont">

			{{#xif ordHistProdTypeCode '===' 'Ord'}}
				<div class="order_prd_panel">

					{{#xif singleProdYn '===' 'N'}}
					{{!--/* 온라인 상품 */--}}
						{{{prodPartial 'my.order.detail.product' 'prod' this 'type' ../type 'claimYn' ../claimYn 'step' ../step 'typeName' 'a'}}}
					{{/xif}}

					{{{prodPartial 'my.order.detail.product-option' 'prodList' ordHistProdList 'oCode' onlineProdCode 'claimYn' ../claimYn 'step' ../step 'singleProdYn' singleProdYn 'status' ../status 'type' ../type 'reason' ../reason 'typeName' 'a'}}}
				</div>
			{{/xif}}

		</div>
	</dd>
	{{/unless}}
{{/each}}

{{#each mnList}}

	<dd>
		<div class="cont">
			{{#xif promoTypeCode '===' 'qwe12'}}
				{{#each ordOnlineProdFoList}}
					{{#each ordHistProdList}}
						<div class="order_prd_panel">

							<div class="title">
								<p class="benefit"><em>{{mPlusNBaseQty}}+{{mPlusNAwardQty}}</em> 혜택 적용</p>
								<p>{{../../promoName}}</p>

								<p><strong class="font_lg num">{{calc mPlusNBaseQty '+' mPlusNAwardQty}}</strong>개 / <strong class="font_lg num">{{currencyFormatDefault (calc finalOnlineSalePricePcur '*' mPlusNBaseQty) ''}}</strong>원
									<del>{{currencyFormat (calc finalOnlineSalePricePcur '*' (calc mPlusNBaseQty '+' mPlusNAwardQty))}}</del></p>
							</div>
							<div class="product">
								<div style="display: none">
									<input type="checkbox" name="goods" prod="prod" onclick="selectProd(this);" onlineProdCode="{{ordHistProdNo}}" ordHistProdNo="{{ordHistProdNo}}" id="{{ordHistProdNo}}" val="{{json this}}"><label for="{{ordHistProdNo}}">
									<span class="sr_only">선택</span></label>
								</div>
								<div class="thumb"><img src="{{ordProdEx.prodImgUrl}}"></div>
								<div class="info">
									<p class="name">{{ordProdEx.prodNameRlang}}</p>
									<p>
										<strong class="num font_md">{{mPlusNBaseQty}}</strong>개
										<strong class="amount num">+{{mPlusNAwardQty}}</strong>
									</p>
								</div>
								{{#xif ordHistProdStatusCode '===' 'ProdCancel'}}
									<div class="status">
										<p><em>취소완료</em></p>
									</div>
								{{/xif}}

							</div>

							{{#if (and (and (eq ../../status 'request')(eq ../../step 1))(ne ../../type 'cancel'))}}

								{{!--/* 클레임 선택 */--}}
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' ordHistProdNo 'reason' ../../../reason}}}

							{{/if}}

							{{#if (and (or (eq ../../claimYn 'Y')(eq ../../step 2))(ne ../../type 'cancel'))}}

								<!--/* 클레임 사유 */-->
								{{{prodPartial 'my.order.detail.claim-reason' 'type' ../../../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

							{{/if}}
						</div>

					{{/each}}
				{{/each}}

			{{else}}
				{{#unless (and (eq ../status 'request')(eq ordHistProdStatusCode 'ProdCancel'))}}
					<div class="order_prd_panel type2">
						<div class="title">
							<p class="title_chk"  style="display: none"><span class="check_wrap">
								<input type="checkbox" name="goods" id="{{promoSn}}" value="{{promoSn}}" onclick="selectOnlineProd(this);" {{isDisabled ../type ../step rtnRequestPossibleQtySum}}>
								<label for="{{promoSn}}"><span class="sr_only">선택</span></label></span>
							</p>
							<div class="title_info">
								<div>
									<p class="mgb10"><em>{{baseQty}}+{{awardQty}}</em> 혜택 적용</p>
								</div>
								<p>{{promoName}}</p>
								<p class="price">
									<span class="left_num">
										<strong class="num">{{currencyFormatDefault totalProductSaleAmount ''}}</strong><span></span>
									</span>
									<span class="right_num">
										<del class="eng">{{currencyFormat totalFinalOnlineSaleAmount}}</del>
									</span>
								</p>
							</div>
							{{#if (and (and (eq ../status 'request')(eq ../step 1))(ne ../type 'cancel'))}}

								{{!--/* 클레임 선택 */--}}
								{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' promoSn 'reason' ../reason}}}

							{{/if}}

							{{#if (and (or (eq ../claimYn 'Y')(eq ../step 2))(ne ../type 'cancel'))}}
								<!--/* 클레임 사유 */-->
								{{{prodPartial 'my.order.detail.claim-reason' 'type' ../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

							{{/if}}
						</div>
						{{#each ordOnlineProdFoList}}
							{{#each ordHistProdList}}
								<div class="{{condition (eq (condition (eq ../singleProdYn 'Y') @../index @index) 0) 'product' 'product ico_plus'}}">
									<div style="display: none">
										<input type="checkbox" prod="prod" onclick="selectProd(this);" promoSn="{{../../promoSn}}" onlineProdCode="{{../../promoSn}}" ordHistProdNo="{{../../promoSn}}" id="{{ordHistProdNo}}" val="{{json this}}"><label for="{{ordHistProdNo}}">
										<span class="sr_only">선택</span></label>
									</div><!--체크박스 주석처리-->
									<div class="thumb">
										<img src="{{ordProdEx.prodImgUrl}}">
									</div>
									<div class="info">
										<p class="name">{{ordProdEx.onlineProdNameBlang}}</p>
										<p class="opt">{{ordProdEx.prodNameBlang}}</p>
										{{#if (or (eq ../step 2)(eq ../claimYn 'Y'))}}
											<p class="price"><span class="quantity">{{claimConfirmQty}}개</span> /
										{{else}}
											<p class="price"><span class="quantity">{{ calc ordQty '-' rtnQty}}개</span> /
										{{/if}}
										<strong class="eng">{{currencyFormat (condition (eq ordHistProdStatusCode 'ProdCancel')(calc mPlusNBaseQty '*' finalOnlineSalePricePcur) finalOnlineSaleAmtPcur)}}</strong></p>
										{{#xif ordHistProdStatusCode '===' 'ProdCancel'}}
											<div class="status">
												<span class="status"><em>취소완료</em></span>
											</div>
										{{/xif}}
									</div>
								</div>
							{{/each}}
						{{/each}}
					</div>
				{{/unless}}
			{{/xif}}
		</div>
	</dd>
{{/each}}

{{#each sList}}

	{{#unless (and (eq ../status 'request')(eq ordHistProdStatusCode 'ProdCancel'))}}
	<dd>
		<div class="cont">
			<div class="order_prd_panel type2">
				<div class="title">
					<p class="title_chk" style="display: none">
						<span class="check_wrap">
							<input type="checkbox" name="goods" id="{{promoTypeCode}}" value="{{promoTypeCode}}" onclick="selectOnlineProd(this);" {{isDisabled ../type ../step rtnRequestPossibleQtySum}}>
							<label for="{{promoTypeCode}}"><span class="sr_only">선택</span></label>
						</span>
					</p>
					<div class="title_info">
						<p>{{promoName}}</p>
						<p class="price"><span class="quantity">{{myOrdQty 'group' this ../step ../type ../claimYn}}개</span> / <strong class="eng">{{currencyFormat (condition (eq ordHistProdStatusCode 'ProdCancel')prodCancelAmtSum totalProductSaleAmount)}}</strong></p>
					</div>
					{{#if (and (and (eq ../status 'request')(eq ../step 1))(ne ../type 'cancel'))}}

						{{!--/* 클레임 선택 */--}}
						{{{prodPartial 'my.order.detail.claim-reason-select' 'ordHistProdNo' promoTypeCode 'reason' ../reason}}}

					{{/if}}

					{{#if (and (or (eq ../claimYn 'Y')(eq ../step 2))(ne ../type 'cancel'))}}
						<!--/* 클레임 사유 */-->
						{{{prodPartial 'my.order.detail.claim-reason' 'type' ../type 'receivedClaimReasonName' receivedClaimReasonName 'foReceivedClaimReason' foReceivedClaimReason}}}

					{{/if}}

				</div>
				{{#each ordOnlineProdFoList}}

					{{{prodPartial 'my.order.detail.product-option' 'prodList' ordHistProdList 'promoSn' ../promoTypeCode 'oCode' ../promoTypeCode 'claimYn' ../../claimYn 'step' ../../step 'singleProdYn' 'Y' 'status' ../../status 'type' ../../type 'reason' ../../reason}}}

				{{/each}}

			</div>
		</div>
	</dd>
	{{/unless}}

{{/each}}


