<dl class="layer">
	<dt class="layer_title">옵션변경</dt>
	<dd class="layer_cont">
		<div class="cart">
			<fieldset class="form">
				<legend class="sr_only">옵션변경</legend>
				<div class="input_group cart_ui_select"><!--/* 20180510 : 디자인 select 추가 */-->
					<div class="ui_select static" data-not-label-change="false">
						<input type="hidden" name="prodSn">
						<button type="button">상품 선택</button>
						<ul class="select_options">
							{{#each list}}
							<li class="select_option">
								{{#xif ../prodSn '==' prodSn}}

								{{else}}
									<code class="label_markup" style="display:none">{{ prodName }}</code>
									{{#switch saleDisplayStatus}}
										{{#case "OnSale"	 break=true}}
											<a data-value="{{ prodSn }}">
												{{!-- <img alt="{{ prodName }}" src="{{ repProdImgEx.imgUrl }}"></span> --}}
												{{!-- <span class="color_box" style="background-color:red"></span>--}}
												<span class="option_title">{{ prodName }}</span>
												{{!-- <strong class="num">{{ onlineSalePrice }}<span>원</span></strong></strong> --}}
											</a>
										{{/case}}
									{{/switch}}

								{{/xif}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="form_btns">
                <button class="btn_md_secondary" type="button" id="b_close">취소</button>
                <button class="btn_md_neutral" type="button" id="b_save">확인</button>
            </div>
        </fieldset>
    </div>
</dd>
</dl>
<button class="layer_close" type="button">레이어 닫기</button>
