{{#each this.list}}
<div class="panel bg_white like">
	{{#xif this.isToday '==' true}}
	<div class="today">
	{{/xif}}
	{{#xif this.isToday '==' false}}
	<div class="former">
	{{/xif}}
		<dl>
			<dt>
				{{#xif this.isToday '==' true}}
				<span>Today</span>
				{{/xif}}
				{{#xif this.isToday '==' false}}
				<span>Date</span>
				{{/xif}}
				<strong>{{ this.date }}</strong>
			</dt>
			{{#each this.items}}			
			<dd data-sn="{{ this.sn }}">
				<p class="time">{{ this.time }}</p>
				<a href="#" class="like_info">
					<span>
						<span>{{ this.title }}</span>
						<span>{{ this.price }}</span>
					</span>
					<span class="thumb_img"><img src="{{ absolutePath this.img }}" alt=""></span>
				</a>
				<button type="button" class="btn_ico_del"><span class="sr_only">삭제</span></button>
			</dd>
			{{/each}}
		</dl>
	</div>
</div>
{{/each}}