{{#each this.list}}
	<li data-index="{{@index}}">
		<div class="brand_box">
			<span class="check_wrap check_only"><input type="checkbox" id="check_{{ @index }}" data-plan-display-sn="{{ this.planDisplaySn }}"><label for="check_{{ @index }}"><span class="sr_only">선택</span></label></span>
			<div class="brand_visual">
				<a href="/display/event_detail?planDisplaySn={{ this.planDisplaySn }}">
					<img src="{{ absolutePath this.bannerImgP1 }}" alt="{{ this.planDisplayTitle }}">
				</a>
			</div>
		</div>
	</li>
{{/each}}
